/* ---------------------------------- PAGE LAYOUT ---------------------------------- */
html, body
{
    background-color: #fff;
    color: #333;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    height: 100%;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
}

#page
{   
    min-height: 100%;
    position: relative;    
}

#allContent
{
    padding-bottom: 30px;
}

#pagefooter
{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 24px;
    line-height: 24px;
    border-top: solid 1px silver;
    color: #999;
    width: 100%;
    box-shadow: 0 0 3px 0 silver;
    background-color: #F6F6F6;
}

#pagefooter a, a:hover, a:link, a:visited
{
    color: #999;
}

#pagefooter a:hover
{
    color: #666;
}

textarea
{
    resize: none;
}

.break
{
    page-break-before: always;
}

.printTabHeading
{
    background-color: #2B60DE;
    color: #FFF;
}

div#wrapper
{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 1007px;
}

#tabContent
{
    background: url("../images/monthsbottom.png") repeat-x scroll center bottom;
    border-bottom: 1px solid #DFDFDF;
    height: auto;
    margin-top: -36px;
    min-height: 539px;
}

div#contentHolder
{
    height: auto;
    min-height: 520px;
    width: 1007px;
    text-align: left;
    margin: 0 auto;
}

#content
{
    min-height: 539px;
}

.loginLabel
{
    color: #888888;
    font-size: 15px;
    font-weight: bold;
    margin: 12px 12px 0;
    text-align: left;
}

.loginTextBox
{
    font-size: 18px;
    padding: 2px;
    margin: 2px 10px;
    width: 200px;
}

td#left
{
    height: auto;
    padding: 16px 0 16px 16px;
    vertical-align: top;
    width: 184px;
}

td#left > div
{
    border: 1px solid #E1E1E1;
}

td#left > div .box
{
    border-left: 0;
    border-right: 0;
}

td#right
{
    height: auto;
    padding: 10px;
    vertical-align: top;
    width: 250px;
}

td#middle
{
    height: auto;
    padding: 16px 16px 16px 35px;
    vertical-align: top;
}

/* used for two column layouts */
td#rest
{
    height: auto;
    padding: 16px 16px 16px 35px;
    vertical-align: top;
    width: 730px;
}

.dlglinks a:link, .dlglinks a:visited
{
    border-left: solid 1px #6b6b6b;
    padding-left: 5px;
    padding-right: 5px;
}

.graypage
{
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 8000;
}

.graypage > div:first-child
{
    background-image: url(../images/semitransparent.png);
    background-repeat: repeat;
    height: 100%;
    position: fixed;
    width: 100%;
}

.whitepage
{
    background-image: url(../images/semitransparentwhite.png);
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 8000;
}

.ajaxcontainer
{
    position: relative;
}

.IE7 .ajaxcontainer
{
    position: static;
}

.loading
{
    background: transparent url(../images/ajax-loader.gif) no-repeat 3px 3px;
    color: #00476F;
    font-size: 10px;
    font-weight: 700;
    height: 20px;
    padding: 0 0 0 26px;
    position: absolute;
    z-index: 500;
}

.logo
{
    float: right;
    margin: 10px 0 0 25px;
}

.notification
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-image: url(../images/greenbox.png);
    border: 1px solid silver;
    bottom: 20px;
    display: none;
    height: 80px;
    opacity: .85;
    padding: 10px;
    position: fixed;
    right: 20px;
    width: 220px;
    z-index: 1100;
}

.notification:hover
{
    opacity: 1px;
}

/* ---------------------------------- OVERRIDE STANDARD STYLES ---------------------------------- */
a:link, a:visited, a:active, a:hover
{
    color: #496481;
    text-decoration: none;
    cursor: pointer;
}

blockquote
{
    font-family: Georgia, "Bitstream Charter" ,serif !important;
    font-style: italic !important;
    font-weight: 400;
    margin: 0 3em;
}

h1
{
    color: #444;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding: 2px 0 6px;
    text-align: left;
}

h2
{
    color: #666;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 8px;
    padding: 0 0 1px;
    text-align: left;
}

h3
{
    color: #555;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
}

h4
{
    color: #666;
    font-size: 14px;
    margin-bottom: 3px;
    margin-top: 2px;
    padding: 0;
}

h4 a:hover
{
    text-decoration: underline;
}

h5
{
    color: #666;
    font-size: 12px;
    margin-bottom: 3px;
    margin-top: 2px;
    padding: 0;
}

h6
{
    font-size: .75em;
}

p
{
    margin: 0;
}

address
{
    font-style: italic;
}

pre
{
    font-family: monospace;
}

/* ---------------------------------- HELPER STYLES ---------------------------------- */
.center
{
    margin-left: auto;
    margin-right: auto;
}

.title
{
    color: #777;
    font-size: 24px;
    font-variant: small-caps;
    font-weight: 700;
    padding-bottom: 14px;
}

.label
{
    color: #444;
    font-size: 11px;
}

.listrow
{
    border-bottom: dotted 1px silver;
}

.listrow.checked
{
    background-image: url(../images/icons/16/102.png) !important;
    background-position: right center !important;
    background-repeat: no-repeat !important;
}


.listrow h1, .listrow h1 a, .listrow h1 a:link, .listrow h1 a:visited
{
    font-size: 13px;
    font-weight: bold;
    margin: 2px 0 1px 0;
    color: #496481;
}

.listrow h1 a:hover
{
    text-decoration: underline;
}

.listrow:hover, .listrow:hover .alt-column, .icnnopad:hover
{
    background-color: #FaFaFa;
}

.listrow a:hover
{
    text-decoration: underline;
}

.listrow td
{
    padding: 8px;
}

.errorlabel
{
    color: red;
    font-size: 11px;
}

.contentbox
{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #f8f8f8;
    border: solid 1px #e2e2e2;
    margin-bottom: 20px;
    padding: 5px 10px 25px;
}

.largeedit
{
    font-size: 22px !important;
    width: 320px;
}

.vertical_text
{
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    text-align: right;
    white-space: nowrap;
    writing-mode: bt-lr;
}

.Safari .vertical_text
{
    -webkit-transform-origin-x: 0;
    margin-top: -70px !important;
}

.Chrome .vertical_text
{
    -webkit-transform-origin: 45% 10%;
}

.error
{
    color: #CA0000;
    font-size: 12px;
    font-weight: 700;
}

input[type='text'], input[type='password']
{
    border: 1px solid silver;
}

input.error
{
    color: #000;
    border: 1px ridge red;
    background-color: #FCFAF1;
}

.borderleft
{
    border-left: 1px dotted #b6b6b6;
}

.helplink:link, .helplink:visited
{
    color: Red;
}

/* ---------------------------------- BOX, GRID, AND DIALOG STYLES ---------------------------------- */
ul.sortable li
{
    background: none;
}

ul.boxy
{
    list-style-type: none;
    margin: 0;
    padding: 2px 2px 0;
    width: 120px;
}

ul.boxy li
{
    border-bottom: 1px solid #ccc;
    cursor: move;
    margin-bottom: 2px;
}

ul.boxier
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 160px;
}

ul.boxier li
{
    border-bottom: 1px solid #ccc;
    color: #000;
    cursor: move;
    font-size: 8pt;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 2px;
    overflow: hidden;
    padding: 0;
    vertical-align: baseline;
}

.box
{
    border: solid 1px #D3D4CE; /*    box-shadow: 0 0 2px 2px #eee;    z-index: 7800;  */
    background-color: #FEFEFE;
    border: 1px solid #E4E4E4;
    box-shadow: 3px 3px 30px 2px #f0f0f0;
}

.box.movex
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: solid 10px rgba(82,82,82,0.7);
    border-radius: 10px;
    box-shadow: none;
}

.box .center > .footer, .box .center tr.footer, .horbar
{
    background-color: #F2F2F2;
    color: #444;
    font-size: 14px;
    font-weight: 700;
    height: 26px;
    white-space: nowrap;
}

.box .top
{
    clear: both;
    height: 1px;
}

.box .bottom
{
    height: 8px;
}

.box .bottom.footer
{
    height: 45px;
}

.box .left
{
    float: left;
    width: 1px;
}

.box .right
{
    float: right;
    width: 8px;
}

.box .center
{
    float: none;
}

.box > .top.header
{
    background-color: #FFF;
    border-bottom: 1px solid #D3D4CE;
    clear: both;
    color: #3C679C;
    font-size: 11pt;
    font-weight: 700;
    height: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    white-space: nowrap;
}

.box > .b-wc > .middle
{
    height: 100%;
}

.box > .b-wc > .middle > .right > .center
{
    background-color: #FFF;
    height: 100%;
    margin: 0;
}

.box > .b-wc > .middle > .right
{
    float: none;
    height: 100%;
    width: auto;
}

.box > .b-wc > .bottom
{
    height: 0;
}

.box > .b-wc > .bottom.footer
{
    background-color: #F2F2F2;
    border-top: solid 1px silver;
    color: #998F86;
    height: 35px;
    padding: 10px 10px 0;
}

.box > .b-wc > .bottom.footer a
{
    font-size: 12px;
    font-weight: 700;
    position: relative;
    top: 3px;
}

.box > .top.header.movable
{
    background: #75A0CE url(../images/tinyLogo2.png) 5px 6px no-repeat;
    border-bottom: none;
    clear: both;
    color: #eee;
    cursor: move;
    font-size: 12pt;
    height: 30px;
    letter-spacing: normal;
    padding-left: 26px;
    padding-top: 3px;
    text-transform: none;
}

.box > .top > .center
{
    height: 1px;
    margin: 0 8px;
}

.box > .b-wc > .middle.movable
{
    background: url(../images/left.png) repeat-y left;
    height: 100%;
}

.box > .b-wc > .middle.movable > .right > .center
{
    background-color: #FFF;
    height: 100%;
    margin: 0;
    padding: 0 8px;
}

.box > .b-wc > .middle.movable > .right
{
    background: url(../images/right.png) repeat-y right center;
    float: none;
    height: 100%;
    margin: 0 0 0 1px;
    padding-right: 7px;
    width: auto;
}

.box > .b-wc > .bottom.movable > .left
{
    background: url(../images/corners.png) no-repeat bottom left;
    height: 7px;
}

.box > .b-wc > .bottom.movable > .center
{
    background: url(../images/topdown.png) repeat-x bottom;
    height: 7px;
    margin: 0 8px;
}

.box > .b-wc > .bottom.movable > .right
{
    background: url(../images/corners.png) no-repeat bottom right;
    height: 7px;
}

.box > .b-wc > .bottom.movable.footer > .left
{
    background: url(../images/corners.png) no-repeat bottom left;
    height: 45px;
}

.box > .b-wc > .bottom.movable.footer > .center
{
    background: url(../images/topdown.png) repeat-x bottom;
    color: #998F86;
    height: 45px;
    margin: 0 8px;
}

.box > .b-wc > .bottom.movable.footer > .right
{
    background: url(../images/corners.png) no-repeat bottom right;
    height: 45px;
}

.box > .b-wc > .bottom.movable.footer a
{
    color: #5F5C5C;
    font-size: 13px;
    position: relative;
    top: 6px;
}

.box > .b-wc > .bottom.movable.footer a:hover
{
    color: #000;
}

.button
{
    -moz-border-radius: 2px;
    background-color: #496481;
    border-radius: 2px;
    color: #eee;
    cursor: pointer;
    font-family: Arial;
    font-size: 9pt;
    font-weight: 700;
    height: 25px;
    line-height: 19px;
    margin-right: 2px;
    min-height: 22px;
    min-width: 80px;
    padding: 3px 12px 0;
    text-align: center;
    width: auto;
}

input.button
{
    border: 0;
    padding: 3px 12px;
}

#CloseButton
{
    background-color: #ccc;
    color: #666;
}

#CloseButton:hover
{
    background-color: #75A0CE;
    color: #cdf;
    text-decoration: none;
}

.bottom.footer > .center > .button, .footer > .button
{
    float: right;
}

.horbar > .button
{
    background-color: #FFF;
    background-image: none;
    border: 1px solid #D4D4D4;
    border-radius: 0;
    color: #444;
    float: right;
    font-size: 12px;
    font-weight: 700;
    height: 8px;
    line-height: 16px;
    margin: 4px 2px 0;
    min-height: 16px;
    padding: 0 6px;
}

.horbar > .button:hover
{
    background-color: #eee;
    background-image: none;
}

.gridbutton
{
    float: right;
    min-width: 0;
}

.box > .top > .center > .button
{
    float: right;
    margin-top: 0;
    min-height: 20px;
    min-width: 60px;
    padding-top: 0;
}

.button:hover
{
    background-color: #75A0CE;
    color: #cdf;
}

.right > .center > input, .right > .center > textarea, .right > .center > select
{
    border: solid 1px #eee;
}

.icnClose
{
    background: url(../images/close1.png) no-repeat top left;
    cursor: pointer;
    float: right;
    height: 20px;
    margin: 2px 5px 0 0;
    width: 21px;
}

.icnExpand
{
    background: url(../images/expand.png) no-repeat top left;
    cursor: pointer;
    float: right;
    height: 20px;
    margin-right: 5px;
    width: 20px;
}

/* ---------------------------------- HORIZONTAL TABS STYLES ---------------------------------- */
.tabs-nav
{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.tabs-nav li
{
    display: inline;
    margin-right: 50px;
}

.tabs-nav a, .tabs-nav a span
{
    display: inline-block;
    height: 36px;
    outline: 0;
}

.tabs-nav a
{
    color: #fdf9ca;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    z-index: 2;
}

.tabs-nav li.tabs-selected a
{
    background: url("../images/seltab.png") no-repeat center bottom;
    color: #FFF;
    height: 36px;
}

/* ---------------------------------- VERTICAL TABS STYLES ---------------------------------- */
.tabs-vert
{
    font-size: 11px;
    margin: 0 auto;
    padding-left: 0;
}

.tabs-vert li
{
    border-bottom: 1px solid #E1E1E1;
    border-top: 2px solid #F5F5F5;
    border-width: 1px;
    display: block;
    height: 23px;
    line-height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 185px;
}

.tabs-vert li:last-child
{
    border-bottom: none !important;
}

.tabs-vert a
{
    background: none !important;
    border: none;
    font-weight: 700;
    outline: 0;
    padding-left: 33px;
    text-align: left;
    text-decoration: none !important;
}

.tabs-vert .tabs-selected a:hover
{
    color: #555;
}

.tabs-vert selected a:hover
{
    color: #555;
    max-width: 40px;
    opacity: 0.2px;
}

.tabs-vert .tabs-selected
{
    background-color: #EEE !important;
}

.tabs-vert .tabs-selected:after
{
    border-color: #FFF #EEE;
    border-style: solid;
    border-width: 13px 0 14px 12px;
    bottom: auto;
    content: "";
    display: block;
    margin-left: 185px;
    margin-top: -25px;
    position: absolute;
    width: 0;
}

/* ---------------------------------- EXPANDED VERTICAL TABS STYLES ---------------------------------- */
.expanded-tabs-vert
{
    font-size: 11px;
    margin: 0 auto;
    padding-left: 0;
}

.expanded-tabs-vert li
{
    background-color: #EEE;
    border-bottom: 1px solid #E1E1E1;
    border-top: 2px solid #F5F5F5;
    border-width: 1px;
    display: block;
    height: 23px;
    line-height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
}

.expanded-tabs-vert li:last-child
{
    border-bottom: none !important;
}

.expanded-tabs-vert a
{
    background: none !important;
    border: none;
    font-weight: 700;
    outline: 0;
    padding-left: 33px;
    text-align: left;
    text-decoration: none !important;
}

.expanded-tabs-vert .tabs-selected a:hover
{
    color: #555;
}

.expanded-tabs-vert selected a:hover
{
    color: #555;
    max-width: 40px;
    opacity: 0.2px;
}

.expanded-tabs-vert .tabs-selected
{
    background: none !important;
}

/* ---------------------------------- NESTED TABS STYLES ---------------------------------- */
.tabs-nested
{
    background: url(../images/tabNested.png) repeat-x left 0;
    font-size: 12px;
    height: 22px !important;
    line-height: 12px;
    overflow: hidden;
}

.tabs-nested a
{
    border: none;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    min-width: 40px;
    outline: 0;
}

.tabs-nested a.error
{
    color: red;
}

.tabs-nested li
{
    display: inline;
    margin-right: 0;
}

.tabs-nested li.tabs-selected a span
{
    background: url(../images/tabNestedR.png) no-repeat bottom right transparent;
}

.tabs-nested li:first-child a
{
    margin-left: -10px;
}

.tabs-nested li:first-child.tabs-selected a
{
    background: none #FFF;
}

.tabs-nested li.tabs-selected a
{
    background: url(../images/tabNestedL.png) no-repeat bottom left #FFF;
    border-bottom: solid 1px #FFF;
    font-weight: 700;
    height: 22px;
    min-width: 40px;
}

.IE7 .tabs-nested li.tabs-selected a
{
    height: 36px;
}

.tabs-nested li span
{
    color: #000;
    height: auto;
    max-width: 300px;
    min-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 20px 6px;
}

/* Portal Nav */
.PortalNav
{
    float: right;
    font-size: 12px;
    font-weight: bold;
}

.PortalNav a
{
    padding: 5px 15px 5px 15px;
}

.PortalNave a:hover
{
    border-bottom: 1px solid silver;
}

/* ---------------------------------- TOP NAVIGATION BAR STYLES ---------------------------------- */
.nav-bar
{
    background: #98B275 url("../images/tabnav.png") repeat-x bottom;
    font-size: 12px;
    height: 94px;
}

.nav-bar #TopSubMenu a
{
    border-left: solid 1px #FFF;
    color: #fdf9ca;
    cursor: pointer;
}

.nav-bar a
{
    outline: 0;
    padding: 0 10px;
    text-decoration: none;
}

.nav-bar-tabs
{
    font-weight: 700;
    left: 340px;
    position: relative;
    text-transform: uppercase;
}

/* ---------------------------- MENU ---------------------------------------- */
.menu-nav
{
    cursor: pointer;
    display: none;
    padding: 0;
    position: absolute;
    z-index: 200;
}

.menu-nav ul
{
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-nav li:hover
{
    background: transparent url(../images/menubg.png) repeat-x scroll 0 -55px;
    text-decoration: none;
}

.menu-nav li
{
    background: url(../images/menubg.png) repeat-x scroll;
    color: #00476F;
    font-size: 10pt;
    font-weight: 400;
    height: 26px;
    line-height: 26px;
}

.menu-nav a
{
    padding: 0 !important;
}

.menu-nav a > div
{
    color: #00476F;
    display: block;
    margin: 0 4px;
    text-decoration: none;
    white-space: nowrap;
}

.menu-nav a > div:hover
{
    color: #FFF !important;
}

/* ------------------------------- CALENDAR ------------------------------------- */
.calendar
{
    width: 176px;
}

.calendar .days div
{
    float: left;
    height: 20px;
    padding: 2px 6px 2px 0;
    text-align: right;
    width: 18px;
}

.calendar .days div:hover
{
    background: transparent url(../images/button.png) repeat-x scroll 0 -25px;
    cursor: pointer;
}

.sunday
{
    clear: both;
    color: #bababa;
}

.today
{
    border: 1px dotted #bababa;
    height: 18px !important;
    width: 16px !important;
}

.selectedday
{
    background: transparent url(../images/button.png) repeat-x scroll 0 0;
}

.dayCalBack
{
    background: url(../images/cal.png);
    height: 1920px;
    position: relative;
    width: 100%;
}

/* ---------------------------- ?????????? ---------------------------------------- */
.icn
{
    cursor: pointer;
    height: 17px;
    margin-top: 2px;
    padding-right: 20px;
    white-space: nowrap;
    width: 18px;
}

.icnnopad
{
    cursor: pointer;
    height: 16px;
    margin-top: 4px;
    white-space: nowrap;
    width: 16px;
}

.licn
{
    cursor: pointer;
    height: 32px;
    padding-left: 40px;
    white-space: nowrap;
    width: 32px;
}

.darr
{
    background: url(../images/darr.png) no-repeat top right;
}

.icn:hover
{
    background-position: right -18px;
}

.icn:active
{
    background-position: right -36px;
}

.licn:hover
{
    background-position: left -32px;
}

.licn:active
{
    background-position: left -64px;
}

.bordotl
{
    border-left: 1px dotted #777;
}

.bordott
{
    border-top: 1px dotted #777;
}

.expandable
{
    cursor: s-resize;
}

.accordion
{
    background: url(../images/icons/10/131.png) no-repeat 9px 50% transparent;
    background-color: #FFF;
    color: #496481;
    cursor: pointer;
    font-size: 12px;
    height: auto;
    line-height: 14px;
    white-space: normal;
}

.accordion-open
{
    background: url(../images/icons/10/133.png) no-repeat 9px 50% transparent;
}

.accordion + div
{
    line-height: 14px;
    padding: 0 10px 10px 28px;
}

.separator
{
    cursor: pointer;
}

#systemmessage
{
    display: none;
    margin-left: 27px;
    padding: 6px 0;
    position: fixed;
    top: 0;
    width: 1010px;
    z-index: 9000;
}

.evSchedulued a
{
    background-image: url(../images/circle.png) !important;
    font-weight: 700 !important;
}

.ui-datepicker-calendar td > a
{
    text-align: center !important;
}

#VitalContainer input[type=text]
{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #FFF !important;
    border: 1px solid #AAA !important;
}

#messageText
{
    border: 1px solid grey;
    height: 75px !important;
    overflow: auto;
}

input[type=radio], input[type=checkbox]
{
    height: 20px;
    position: relative;
    width: 20px;
    vertical-align: middle;
}

.watermark
{
    color: #aaa;
    display: inline-block;
    margin-left: -1px;
    position: relative;
    text-align: left;
    top: -1px;
    white-space: nowrap;
    width: 1px;
}

.validatormessage
{
    -moz-border-radius: 0 0 4px 4px;
    background: #FEF6F3 url(../images/alert.png) top left no-repeat;
    border: 1px solid #CD0A0A;
    color: #CD0A0A;
    padding: 0 5px 0 18px;
    position: absolute;
    z-index: 9000;
}

.messageheader
{
    background: linear-gradient(#eee, #f1f1f1);
    border-bottom: solid 1px #ddd;
    padding: 10px;
}

.note
{
    background-color: #FFFFFA;
    height: 300px;
}

.broadcast
{
    background: #eee;
    color: #000;
    margin: 10px;
    padding: 15px 15px 5px;
}

#HomeBroadcastList .broadcast, #broadcastList .broadcast
{
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 610px;
}

.broadcast:before
{
    border-color: #FFF #F1F1F1;
    border-style: solid;
    border-width: 10px 20px 10px 0;
    bottom: auto;
    content: "";
    display: block;
    margin-left: -35px;
    margin-top: 12px;
    position: absolute;
    width: 0;
}

ul.avadolist li
{
    background: url(../images/bullet.png) left center no-repeat;
    color: #585448;
    font-size: 12px;
    line-height: 14px;
    padding-left: 25px;
    white-space: nowrap;
}

.reminder-list-item
{
    background: url("../images/icons/10/153.png") no-repeat scroll 7px 3px transparent;
    line-height: 14px;
    padding-left: 20px;
}

.tip
{
    margin: 10px;
    padding: 10px;
}

.tabs-vert li.messages
{
    background: url("../images/icons/16/004.png") no-repeat scroll 9px 50% transparent;
}

.tabs-vert li.messages.tabs-selected
{
    background: url("../images/icons/16/198.png") no-repeat scroll 9px 50% transparent;
}

.tabs-vert li.records, .tabs-vert li.patients
{
    background: url("../images/icons/16/046.png") no-repeat scroll 9px 50% transparent;
}

.tabs-vert li.records.tabs-selected, .tabs-vert li.patients.tabs-selected
{
    background: url("../images/icons/16/047.png") no-repeat scroll 9px 50% transparent;
}

.alt-column
{
    background-color: #FBFBF8;
    border-left: 1px solid #F1F1F1;
    border-right: 1px solid #F1F1F1;
    padding: 8px;
}

.popup-control
{
    background: url("../images/popup-footer-bg.png") 0 0 repeat;
    height: 26px;
}

.popup-control .button
{
    background: none;
    border: none;
    border-radius: 0;
    color: #496481;
    height: 24px;
    line-height: 24px;
}

.popup-control .button:hover
{
    background: url("../images/popup-footer-hv.png") 0 0 repeat;
    color: #FFF;
}

.green-btn
{
    color: #eee !important;
    background: url("../images/green-btn.png") 0 0 repeat;
    font-size: 8pt;
}

.green-btn:hover
{
    color: #bdb;
}

.green-btn.top-right
{
    display: inline;
    position: absolute;
    right: 0;
    top: 1px;
}

.required
{
    border: 2px inset;
}

.notebar
{
    float: right;
    margin-top: -20px;
}

.notebar > .button
{
    background-color: #6984A1;
    height: 16px;
    line-height: 16px;
    margin: 0 2px;
    min-height: 16px;
    padding: 1px 10px;
}

.websitecontent
{
    color: #555;
    font-size: 13px;
    padding: 0 30px 0 40px;
    text-align: justify;
}

.websitecontent h3
{
    color: Orange;
}

div#header, div#footer
{
    clear: both;
}

.dlglinks a:first-child
{
    border-left: none;
    padding-left: 0;
}

.box > .top > .left, .box > .top > .right
{
    height: 1px;
}

.icnClose:hover, .icnExpand:hover
{
    background-position: left -20px;
}

#runningNote, .innerContent
{
    padding: 8px;
}

ul.medicalRecordsList, ul.avadolist
{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.shelf
{
    background-image: url(../images/shelf.png);
    background-repeat: repeat-y;
    padding: 20px 20px 10px 3px;
    margin-top: 25px;
    max-width: 650px;
    min-height: 200px;
}

.shelfitem
{
    float: left;
    text-align: center;
    border: 1px solid silver;
    background-color: #fff;
    width: 100px;
    height: 120px;
    margin: 0 15px 40px 0;
    padding: 0 3px 0 3px;
    overflow: hidden;
}

.shelfitem:hover
{
    box-shadow: 0 0 2px 2px silver;
}

.checkB label
{
    position: relative;
}

/* Popover Control Styling */
.popover
{
    background-color: white;
    position: absolute;
    color: #444;
    box-shadow: 3px 3px 10px #eee;
    border: solid 1px #b4b4b4;
    z-index: 8000;
}

.popover .bottom.footer
{
    background-color: #ddd;
    padding: 3px;
    float: right;
}

.popoverleftarrow:before
{
    border-color: transparent rgba(120,120,120,0.7);
    border-style: solid;
    border-width: 10px 10px 10px 0;
    bottom: auto;
    content: "";
    display: block;
    margin-left: -10px;
    margin-top: 15px;
    position: absolute;
    width: 0;
}

.popoverrightarrow:after
{
    border-color: transparent rgba(120,120,120,0.7);
    border-style: solid;
    border-width: 10px 0px 10px 15px;
    bottom: auto;
    content: "";
    display: block;
    margin-left: 457px;
    margin-top: 0px;
    position: absolute;
    width: 0;
}

.popoverClose
{
    background: url(../images/close_button_black.png) no-repeat top left;
    cursor: pointer;
    height: 29px;
    width: 29px;
    position: absolute;
    z-index: 8100;
    margin-top: -16px;
    top: 0px;
    right: -16px;
}
/* ----------------------------------- Profile Completeness meter styles ----------------------------------- */
#pcm
{
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    background-image: url(../images/tile.png);
}

#pcm ul
{
    padding-left: -2px;
}

#pcm ul li
{
    font-family: Arial;
    font-size: 12px;
}

#pcm ul li ul
{
    /* list-style-type: lower-alpha; */
}

#pcm ul li a, #pcm ul li ul li a
{
    color: #3C679C;
}

#pcm ul li a:visited, #pcm ul li ul li a:visited
{
    color: Gray;
    text-decoration: underline;
}

#pcm ul li a:hover, #pcm ul li ul li a:hover
{
    text-decoration: underline;
}

#bardivs
{
    width: 200px; /* or whatever the of the porgress bar is */ /* The position of #bardivs must be something other than  static (the default) so that its children will be positioned relative to it. */
    position: absolute;
    left: 250px;
    top: 8px;
}
#progresstext
{
    position: relative;
    top: -16px;
    left: 204px;
}

/* ----------------------------------- Profile Completeness meter styles ----------------------------------- */

.gear
{
    background: url("../images/icons/16/041.png") no-repeat top left;
    width: 16px;
    height: 16px;
    float: right;
    display: none;
}

.gear:hover
{
    box-shadow: 0 0 2px 2px #eee;
}

.listrow:hover * .gear
{
    display: block;
    float: right;
    width: 16px;
    height: 16px;
}

.highlightbox
{
    padding: 10px;
    margin: 5px 10px;
    background-color: white;
    border: 1px solid #E4E4E4;
    box-shadow: 3px 3px 30px 2px #f0f0f0;
}


.highlightbox * #Delete
{
    background: url("../images/icons/16/101.png") no-repeat top left;
    width: 16px;
    height: 16px;
    float: right;
    display: none;
    cursor: pointer;
}

.highlightbox:hover * #Delete
{
    display: block;
}

.actions
{
    float: left;
    width: 410px;
    min-height: 40px;
}

.actions a, .actions a:hover, .actions a:link, .actions a:visited
{
    padding-left: 15px;
    background: url("../images/right_arrow.png") no-repeat top left;
    display: block;
}

.namedlink
{
    font-size: 13px;
    margin-bottom: 3px;
    margin-top: 2px;
    padding: 0;
    font-weight: bold;
    color: #496481;
    cursor: pointer;
    display: block;
}

.namedlink:hover
{
    color: #6984A1;
}


.tags ul
{
    margin: 0;
    padding: 0;
}

.tags li
{
    display: inline-block;
    border: 1px solid silver;
    border-radius: 3px;
    margin: 5px 5px 0 0;
    padding: 2px 8px 2px 20px;
    background: #eee url("../images/icons/16/013.png") no-repeat top left;
}

.smallthumbnail
{
    background: white;
    padding: 4px;
    border: 1px solid #D8D8D8;
    box-shadow: 3px 3px 15px 2px #f0f0f0;
    max-width: 25px;
    hax-height: 25px;
}

.mediumthumbnail
{
    background: white;
    padding: 8px;
    border: 1px solid #D8D8D8;
    box-shadow: 3px 3px 15px 2px #f0f0f0;
    max-width: 50px;
    max-height: 50px;
}


.largethumbnail
{
    background: white;
    padding: 10px;
    border: 1px solid #D8D8D8;
    box-shadow: 3px 3px 15px 2px #f0f0f0;
    max-width: 100px;
    max-height: 100px;
}

.editcontrols
{
    float: right;
    cursor: pointer;
    margin-top: -10px;
}

/* Message conversation styles */
.msg .item
{
    border-top: 1px solid #dfdfdf;
    background: #f7f7f7;
    min-height: 60px;    
    cursor: pointer;
}


.msg .item > .imgthumb
{
    float: left;
    margin: 10px;
    width: 40px;
}

.msg .item > .content
{
    float: left;
    margin-top: 7px;
    overflow:hidden;
}

.msg .item > .rcontent
{
    float: right;
    margin-top: 7px;
    margin-right: 10px;
}

.cnvtitle
{
    font-weight: bold;
}

.cnvsubject
{
   overflow:hidden;
}

/* End for message conversation styles */

.subscription
{
    width: 100%;
    border: 1px solid #444;
    border-spacing: 0px;
    border-collapse: collapse;
    text-align: center;
}

.subscription td
{
    padding: 4px;
    border: 1px dotted #777;
}

.subscription .desc
{
    text-align: left;
    font-weight: bold;
    border-right: 1px solid #555;
}

.bluearrow
{
    background: url("../images/barrow.png") no-repeat;
}


.msgpreview
{   
    overflow:hidden;
}

.indicator
{
    background: url("../images/barrow.png") no-repeat;
    float:right;
    position:absolute;
    width:24px;
    height:24px;
    z-index:9;
}

.msgitembg
{
    background-color:#f5f5f5; 
}