{% extends "records/records_base.html" %}

{% block container-right %}
	<legend>Relationships</legend>
	<div class="widget_inside drugs-search">
		
		<div id="add" style="width:100%;clear:both"><a href="{% url relationship-create %}" class="btn btn-info pull-right">Add Diagnosis</a></div>
		{% if relationships %} 
			<table class='table' style="clear:both">
				<tr>
					<th>Problem</th>
					<th>Approved</th>
					<th>Encounter</th>
				</tr>
				{% for relationship in relationships %}
					<tr>
						<td>{{relationship.problem}}</td>
						<td>{{relationship.approved}}</td>
						<td>{{relationship.encounter}}</td>
						<td>
							<a href="{% url relationship-edit relationship.pk %}">Edit</a> |
							<a href="{% url relationship-delete relationship.pk %}">Delete</a>
						</td>
					</tr>
				{% empty %}
					<tr><td colspan="2">No Relationships Found</td></tr>
				{% endfor %}
			</table>
		{% else %}
			<div>
				No Relationships Found
			<div>
		{% endif %}
	</div>
{% endblock container-right %}