{% extends "records/list_base.html" %}

{% block header %}
	Diagnoses{% if problem_type %}: {{problem_type}}s{% endif %}
{% endblock header %}
		
{% block table-list %}
	{% if diagnoses %} 
		<table class='table'>
			<tr>
				<th>Problem</th>
				<th>Approved</th>
				<th>Encounter</th>
			</tr>
			{% for diagnosis in diagnoses %}
				<tr>
					<td>{{diagnosis.problem}}</td>
					<td>{{diagnosis.approved}}</td>
					<td>{{diagnosis.encounter}}</td>
					<td>
						<a href="{% url diagnosis-edit diagnosis.pk %}">Edit</a> |
						<a href="{% url diagnosis-delete diagnosis.pk %}">Delete</a>
					</td>
				</tr>
			{% empty %}
				<tr><td colspan="2">No Diagnoses Found</td></tr>
			{% endfor %}
		</table>
	{% else %}
		No Diagnoses Found
	{% endif %}
{% endblock table-list %}