{% extends "records/list_base.html" %}
{% load humanize %}

{% block page-title %}
	{% if encounter_type %} {{encounter_type}} {% else %}Encounter{% endif %} records
{% endblock page-title %}

{% block header %}
	{% if encounter_type %} {{encounter_type}} {% else %}Encounter{% endif %} records
{% endblock header %}

{% block action-buttons %}
	{% if request.session.use_page_as == 'health-worker' %}
		<a href="{% url encounter-create encounter_type %}" class="btn pull-right" rel="tooltip" title="Add New">
			<i class="icon-plus-sign"></i>
		</a>
	{% endif %}
{% endblock action-buttons %}

{% block table-list %}
	{% if encounters %}
		<table class='table table-stripped table-bordered'>
			<tr>
				<th>Patient</th>
				<th>Encounter Date</th>
				<th>Type</th>
				{% if not encounter_type %}
                	<th>Diagnosed problems</th>
                {% endif %}
			</tr>
			{% for encounter in encounters %}
				<tr>	
					<td>{{encounter.user.full_name}}</td>
					<td>{{encounter.start_time}}</td>
					<td>{{encounter.type}}</td>
					{% if not encounter_type %}
                    	<td>{{encounter.diagnosis_set.count|apnumber|default:"None"|capfirst}}</td>
                    {% endif %}
				</tr>
			{% empty %}
				<tr>
					<td colspan="2">
						no {% if encounter_type %} {{encounter_type}} {% else %}Encounter{% endif %} records found
					</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<div>
			no {% if encounter_type %} {{encounter_type}} {% else %}Encounter{% endif %} records found
		</div>
	{% endif %}
{% endblock table-list %}
