{% extends "records/list_base.html" %}

{% block header %}
	Encounters
{% endblock header %}

{% block action-buttons %}
	{% if request.session.use_page_as == 'health-worker' %}
		<a href="{% url encounter-create %}" class="btn pull-right" rel="tooltip" title="Add New">
			<i class="icon-plus-sign"></i>
		</a>
	{% endif %}
{% endblock action-buttons %}

{% block table-list %}
	{% if encounters %}
		<table class='table table-stripped'>
			<tr>
				<th>Patient</th>
				<th>Encounter Date</th>
				<th>Type</th>
				<th>Actions</th>
			</tr>
			{% for encounter in encounters %}
				<tr>	
					<td>{{encounter.user.full_name}}</td>
					<td>{{encounter.start_time}}</td>
					<td>{{encounter.type}}</td>
					<td class="btn-group">
						<a class="btn btn-info" href="{% url encounter-edit encounter.pk %}">Edit</a>
					</td>
				</tr>
			{% empty %}
				<tr><td colspan="2">No Encounters Found</td></tr>
			{% endfor %}
		</table>
	{% else %}
		<div>
			No Encounters Found
		</div>
	{% endif %}
{% endblock table-list %}
