{% extends "common_base.html" %}

{% block extracss %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/avado/axonage.css?sprint16">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/avado/rte.css?sprint16">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/avado/colorpicker.css?sprint16">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/avado/toolbar.css?sprint16">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/avado/FormEditor.css?sprint16">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/avado/treelayout.css?sprint16">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/avado/calendrical.css?sprint16">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/avado/header.css?sprint16">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/avado/tagit/jquery.tagit.css?sprint16">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/avado/Calendar/calendar.css?sprint16">
    <link type="text/css" rel="stylesheet" media="all" href="{{STATIC_URL}}css/avado/chat.css?sprint16">
    <link type="text/css" rel="stylesheet" media="all" href="{{STATIC_URL}}css/avado/screen.css?sprint16">
    <!--[if lte IE 7]>
        <link type="text/css" rel="stylesheet" media="all" href="{{STATIC_URL}}css/avado/screen_ie.css?sprint16" />
    <![endif]-->
{% endblock extracss %}

{% block pitch %}
	<div id="page">
		<form id="AjaxForm1" class=" ajaxform" onsubmit="return false;">
			<div id="allContent" class="ajaxcontainer " style="height: auto; padding-bottom: 60px">
				<input id="timeZoneInput" type="hidden" value="3" name="timeZoneInput">
				<div id="contentHolder">
					<div id="content" class="ajaxcontainer " refreshurl="?tx=zqaPOoJ1dltSjF2kGSuhoJXiirgJ9GbQB8giDEi7/dUyODqpOalYHqUKN4ruJRMMEzqIqe0zaymoJIiBXWQAjQ==">
						<table cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td id="left">
									<div style="margin-top: 15px;">
										<ul class="tabs-vert">
											<li class="records">
												<a id="TabTrackingRecords" href="{% url encounter-list %}"><span>Encounters</span></a>
											</li>
											<li class="records">
												<a id="TabConditions" href="{% url encounter-list %}"><span>Conditions / Problems</span></a>
											</li>
											<li class="records">
												<a id="TabImmunizations" href="#"><span>Immunizations</span></a>
											</li>
											<li class="records">
												<a id="TabMedications" href="{% url encounter-list %}"><span>Medications</span></a>
											</li>
											<li class="records">
												<a id="TabProcedures" href="{% url encounter-list %}"><span>Surgical History</span></a>
											</li>
											<li class="records">
												<a id="TabLabResults" href="{% url encounter-list %}"><span>Lab Results</span></a>
											</li>
											<li class="records">
												<a id="TabEmergencyContacts" href="{% url encounter-list %}"><span>Emergency Contacts</span></a>
											</li>
											<li class="records">
												<a id="TabInsurance" href="{% url encounter-list %}"><span>Insurance</span></a>
											</li>
										</ul>
									</div></td>
									<td id="rest">
										{% block rest %}
										<div id="medicalrecord" class="ajaxcontainer ">
											<table cellspacing="10">
												<tbody>
													<tr>
														<td colspan="2">
														<div id="controlcontainer" class="ajaxcontainer ">
															<div class="highlightbox" style="height: 20px">
																<h1>{{ request.user.full_name }}</h1>
																<div class="editcontrols" id="EditControls1">
																	<a class="button blue" href="{% url settings %}" style="margin-top: 5px">Edit</a>
																</div>
															</div>
														</div></td>
													</tr>
													<tr>
														<td style="vertical-align: top">
														<div class="highlightbox" style="width: 305px; height:120px; position:relative">
															<img src="{{STATIC_URL}}images/medrec1.png" style="position:absolute;bottom:45px;right:40px; width: 60px">
															<h3>Allergies</h3>
															<div style="width:170px;overflow:hidden" class="actions">
																<div style="width:173px; font-size: 11px">
																	Manage and keep track of your list of allergies
																</div>
															</div>
															<input type="button" class="button green" id="ctl00" style="position: absolute;bottom: 15px;right: 30px;" onclick="$('#TabAllergies').click()" value="Edit Allergies">
														</div></td>
														<td style="vertical-align: top">
														<div class="highlightbox" style="width: 305px; height:120px; position:relative">
															<img src="{{STATIC_URL}}images/medrec2.png" style="position:absolute;bottom:45px;right:40px; width: 60px">
															<h3>Conditions</h3>
															<div style="width:170px;overflow:hidden" class="actions">
																<div style="width:173px; font-size: 11px">
																	Track any acute, chronic or recurrent medical conditions you have
																</div>
															</div>
															<input type="button" class="button green" id="ctl00" style="position: absolute;bottom: 15px;right: 30px;" onclick="$('#TabConditions').click()" value="Edit Conditions">
														</div></td>
													</tr>
													<tr>
														<td style="vertical-align: top">
														<div class="highlightbox" style="width: 305px; height:120px; position:relative">
															<img src="{{STATIC_URL}}images/medrec3.png" style="position:absolute;bottom:45px;right:40px; width: 60px">
															<h3>Immunizations</h3>
															<div style="width:170px;overflow:hidden" class="actions">
																<div style="width:173px; font-size: 11px">
																	Track what immunizations you recently where given, when you had them and when you are due for more
																</div>
															</div>
															<input type="button" class="button green" id="ctl00" style="position: absolute;bottom: 15px;right: 30px;" onclick="$('#TabImmunizations').click()" value="Edit Immunizations">
														</div></td>
														<td style="vertical-align: top">
														<div class="highlightbox" style="width: 305px; height:120px; position:relative">
															<img src="{{STATIC_URL}}images/medrec4.png" style="position:absolute;bottom:45px;right:40px; width: 60px">
															<h3>Medications</h3>
															<div style="width:170px;overflow:hidden" class="actions">
																<div style="width:173px; font-size: 11px">
																	Track any medications you've taken and the reasons for taking them
																</div>
															</div>
															<input type="button" class="button green" id="ctl00" style="position: absolute;bottom: 15px;right: 30px;" onclick="$('#TabMedications').click()" value="Edit Medications">
														</div></td>
													</tr>
													<tr>
														<td style="vertical-align: top">
														<div class="highlightbox" style="width: 305px; height:120px; position:relative">
															<img src="{{STATIC_URL}}images/medrec5.png" style="position:absolute;bottom:45px;right:40px; width: 60px">
															<h3>Surgical History</h3>
															<div style="width:170px;overflow:hidden" class="actions">
																<div style="width:173px; font-size: 11px">
																	Track any surgeries or procedures you've had
																</div>
															</div>
															<input type="button" class="button green" id="ctl00" style="position: absolute;bottom: 15px;right: 30px;" onclick="$('#TabProcedures').click()" value="Edit Surgeries">
														</div></td>
														<td style="vertical-align: top">
														<div class="highlightbox" style="width: 305px; height:120px; position:relative">
															<img src="{{STATIC_URL}}images/medrec6.png" style="position:absolute;bottom:45px;right:40px; width: 60px">
															<h3>Lab Results</h3>
															<div style="width:170px;overflow:hidden" class="actions">
																<div style="width:173px; font-size: 11px">
																	Track all your lab and test results
																</div>
															</div>
															<input type="button" class="button green" id="ctl00" style="position: absolute;bottom: 15px;right: 30px;" onclick="$('#TabLabResults').click()" value="Edit Lab Results">
														</div></td>
													</tr>
												</tbody>
											</table>
										</div>
										{% endblock rest %}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>
{% endblock pitch %}