{% extends "records/records_base.html" %}

{% block container %}
	<div class="menu-tiles">    	
	    <div class="tiles">
	    	<legend>patient records</legend>
	    	<div class="tile-container">
	    		<div class="tile">
	    			<a href="allergies.html">
		    			<div class="tile-allergies"></div>
		    			<div class="tile-label">Allergies</div>
		    		</a>
	    		</div>
	    		<div class="tile">
	    			<a href="immunizations.html">
		    			<div class="tile-immunization"></div>
		    			<div class="tile-label">Immunizations</div>
		    		</a>
	    		</div>
	    		<div class="tile">
	    			<a href="surgeries.html">
		    			<div class="tile-surgery"></div>
		    			<div class="tile-label">Surgeries</div>
		    		</a>
	    		</div>
	    		<div class="tile last">
	    			<a href="labs.html">
		    			<div class="tile-labs"></div>
		    			<div class="tile-label">Lab Results</div>
		    		</a>
	    		</div>	    	
				<div class="tile low">
					<a href="medications.html">
						<div class="tile-meds"></div>
		    			<div class="tile-label">Medications</div>
		    		</a>
				</div>
	    		<div class="tile low">
	    			<a href="vitals.html">
		    			<div class="tile-vitals"></div>
		    			<div class="tile-label">Vitals</div>
		    		</a>
	    		</div>
	    		<div class="tile low">
	    			<a href="encounters.html">
		    			<div class="tile-doctors"></div>
		    			<div class="tile-label">Encounters</div>
		    		</a>
	    		</div>
	    		<div class="tile low last">
	    			<a href="problems.html">
		    			<div class="tile-problems"></div>
		    			<div class="tile-label">Problems</div>
		    		</a>
	    		</div>
			</div>
	    </div>
	</div>
{% endblock container %}