{% extends "list_base.html" %}

{% block container-left %}
	<ul class="nav nav-list">
		<li class="nav-header">Records</li>
		<li>
			<a id="TabTrackingRecords" href="{% url encounter-list %}"><span>Encounters</span></a>
		</li>
		<li>
			<a id="TabConditions" href="{% url diagnosis-list 'condition' %}"><span>Conditions / Problems</span></a>
		</li>
		<li>
			<a id="TabImmunizations" href="{% url immunization-list %}"><span>Immunizations</span></a>
		</li>
		<li>
			<a id="TabMedications" href="{% url prescription-list %}"><span>Medications</span></a>
		</li>
		<li>
			<a id="TabProcedures" href="{% url encounter-list 'surgery' %}"><span>Surgical History</span></a>
		</li>
		<li>
			<a id="TabLabResults" href="{% url encountertestresult-list %}"><span>Lab Results</span></a>
		</li>		
		<li>
			<a id="TabEmergencyContacts" href="{% url patientemergencycontact-list %}"><span>Emergency Contacts</span></a>
		</li>
		<li>
			<a id="TabInsurance" href="{% url patientinsurance-list %}"><span>Insurance</span></a>
		</li>
	</ul>
{% endblock container-left %}
