{% extends "list_base.html" %}

{% block container-left %}
	<ul class="nav nav-list">
		<li class="nav-header">Records</li>
		<li>
			<a id="TabTrackingRecords" href="{% url encounter-list %}"><span>Encounters</span></a>
		</li>
		{% if request.session.use_page_as == 'patient' %}
			<li>
				<a id="TabConditions" href="{% url diagnosis-list 'condition' %}"><span>Problems</span></a>
			</li>
		{% endif %}
		<li>
			<a id="TabImmunizations" href="{% url immunization-list %}"><span>Immunizations</span></a>
		</li>
		{% if not request.session.use_page_as == 'patient' %}
			<li>
				<a id="TabConditions" href="{% url medication-list %}"><span>Medications</span></a>
			</li>
		{% else %}
			<li>
				<a id="TabMedications" href="{% url prescription-list %}"><span>Prescriptions</span></a>
			</li>
		{% endif %}
		<li>
			<a id="TabLabResults" href="{% url encountertestresult-list %}"><span>Lab Results</span></a>
		</li>
		{% if request.session.use_page_as == 'patient' %}
			<li>
				<a id="TabProcedures" href="{% url encounter-list 'surgery' %}"><span>Surgical History</span></a>
			</li>
			<li>
				<a id="TabEmergencyContacts" href="{% url patientemergencycontact-list %}"><span>Emergency Contacts</span></a>
			</li>
			<li>
				<a id="TabInsurance" href="{% url patientinsurance-list %}"><span>Insurance</span></a>
			</li>
		{% endif %}
	</ul>
{% endblock container-left %}
