{% extends "app_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extracss-links %}
	<link rel='stylesheet' href='{{ STATIC_URL }}css/jquery-ui-1.8.17.custom.css' type='text/css' media='screen' />
{% endblock extracss-links %}

{% block extrajs-jquery-enclosed %}
	$.datepicker.setDefaults({dateFormat: "yy-mm-dd"});
{% endblock extrajs-jquery-enclosed %}

{% block extrajs-jquery-plugins %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.17.custom.min.js" ></script>
{% endblock extrajs-jquery-plugins %}

{% block container-left %}
	<ul class="nav nav-list">
		<li class="nav-header">Records</li>
		<li>
			<a id="TabTrackingRecords" href="{% url encounter-list %}"><span>Encounters</span></a>
		</li>
		<li>
			<a id="TabConditions" href="{% url diagnosis-list 'condition' %}"><span>Conditions / Problems</span></a>
		</li>
		<li>
			<a id="TabImmunizations" href="{% url immunization-list %}"><span>Immunizations</span></a>
		</li>
		<li>
			<a id="TabMedications" href="{% url prescription-list %}"><span>Medications</span></a>
		</li>
		<li>
			<a id="TabProcedures" href="{% url encounter-list 'surgery' %}"><span>Surgical History</span></a>
		</li>
		<li>
			<a id="TabLabResults" href="{% url encountertestresult-list %}"><span>Lab Results</span></a>
		</li>
		<li>
			<a id="TabEmergencyContacts" href="{% url relationship-list %}"><span>Emergency Contacts</span></a>
		</li>
		<li>
			<a id="TabInsurance" href="{% url patientinsurance-list %}"><span>Insurance</span></a>
		</li>
	</ul>
{% endblock container-left %}

{% block container-right %}
	{% crispy form form.helper %}
{% endblock container-right %}