{% extends "base.html" %}

{% block navbar %}
	<div class="navbar-inner">
		<div class="container">
			{% block navbar-container %}
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="{% url index %}">
					<i class="icon-leaf icon-white" style="margin-top: 8px;margin-right: -4px;"> </i> Uhai 
					<span class="label label-info" style="font-size: 8.899px">Beta</span></a>
				<div class="nav-collapse">
					{% block navbar-left %}
						<ul class="nav">
							{% if request.user.is_authenticated %}
								<li class="active"><a href="{% url index %}"><i class="icon-home icon-white"></i> Home</a></li>
								<li><a href="{% url index %}"><i class="icon-envelope icon-white"></i> Messages</a></li>
								<li><a href="{% url index %}"><i class="icon-calendar icon-white"></i> Calendar</a></li>
								<li><a href="{% url index %}"><i class="icon-folder-open icon-white"></i> Records</a></li>
								<li><a href="{% url questionnaire-list %}"><i class="icon-th-list icon-white"></i> Questionnaires</a></li>
							{% endif %}
							{% block navbar-links %}{% endblock navbar-links %}
						</ul>
					{% endblock navbar-left %}								
					<div class="pull-right">
						{% block navbar-right %}
							{% if request.user.is_authenticated %}
								<form class="navbar-search pull-left" action="/search">
									<input type="text" class="search-query span2" 
										placeholder="Search 
										{% if request.user.is_healthworker %}Patient, Medication
										{% elif request.user.is_insuranceprovider %}Employee
										{% elif request.user.is_employer %}Employer, Employee
										{% endif %}"
									/>
								</form>
								<ul class="nav pull-right">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.full_name }} <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li>
												<a href="{% url settings %}"><i class="icon-globe"></i> Use as Patient</a>
											</li>
											<li>
												<a href="{% url settings %}"><i class="icon-eye-open"></i> Use as Doctor</a>
											</li>
											<li class="divider"></li>
											<li>
												<a href="{% url settings %}"><i class="icon-user"></i> Account Settings</a>
											</li>
											<li>
												<a href="{% url admin:index %}"><i class="icon-briefcase"></i> Administration</a>
											</li>
											<li class="divider"></li>
											<li><a href="{% url logout %}"><i class="icon-off"></i> Log out</a></li>
										</ul>
									</li>
								</ul>
							{% endif %}
						{% endblock navbar-right %}
					</div>				
				</div><!--/.nav-collapse -->
			{% endblock navbar-container %}
		</div>
	</div>
{% endblock navbar %}

{% block container %}
	<div class="row">
		<div class="span2 columns">
			{% block container-left %}{% endblock container-left %}
		</div>
		<div class="span10 columns">
			<div class="container">							
				{% block container-right %}{% endblock container-right %}
			</div> 
		</div>
	</div>
{% endblock container %}

{% block footer %}{% endblock footer %}