<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}Uhai &mdash; {% block page-title %}name{% endblock page-title %}{% endblock %}</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700" type="text/css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/uhai.css" type="text/css" />
		{% block extracss %}{% endblock %} <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
		{% block extrajs %}{% endblock %}
		<meta name="robots" content="{% block robots %}index,follow{% endblock %}"/>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			{% block navbar %}{% endblock navbar %}
		</div>
		<div id="body-inner">
			{% block body-inner %}
			<div id="content-wrapper">
				{% block content-wrapper %}
				<div class="container">
					{% block container %}{% endblock container %}
				</div>
				{% endblock content-wrapper %}
			</div>
			{% endblock body-inner %}
		</div>
		<footer>
			{% block footer %}
				<div class="footer-inner">
					<div class="container">
						<div class="row">
							<div class="span2">
								<h6>Uhai</h6>
								<ul class="unstyled navlinks">
									<li><a href="{% url login %}">Login</a></li>
								</ul>
							</div>
							<div class="span2 pull-right">
								<h6>Site By</h6>
								<h4>Synacor</h>
							</div>
						</div>
					</div>
				</div>
			{% endblock footer %}
		</footer>
	</body>
</html>