{% extends "index.html" %}

{% block title %}Uhai{% endblock %}

{% block signin_links %}{% endblock %}

{% block header %} <!-- logo -->
    
    <!-- menu -->
    <h1 style="margin:75px 17px 10px">UHAI</h1><br/>
    <div id="mainmenu">
		<ul id="menu">
			<li><a class="current" href="{% url index %}">Home</a></li>
			<li><a href="{% url records %}">Records</a></li>
			<li><a href="{% url settings-password %}">Password</a></li>
			<li class="list-last"><a href="{% url logout %}">Logout</a></li>
  		</ul>
    </div>
    <div class="separator"></div>
    <!-- /menu -->
{% endblock header %}

{% block pitch %} {% endblock %}
{% block confidence-belt %}{% endblock %}
{% block bits %}{% endblock %}

{% block stats-bar %}
{% endblock stats-bar %}