{% extends "index.html" %}
{% block title %}Inpostme|Sign Up{% endblock %}

{% block extracss %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css" type="text/css" />
{% endblock extracss %}

{% block pitch %}
	<div class="tagline tag2">
		{% block title-message %}Create new {% endblock title-message %}<span>{% block title-message-blue %}Account!{% endblock title-message-blue %}</span>
	</div>
	<form id="{% block formID %}signupForm{% endblock formID %}" name="form1" method="post" action=".">{% csrf_token %}
		<div id="signupContainer">
			{% block iam %}
				<p id="select-user-type" class="field sign-up-p">
					<span class="i_am">I'm a</span>
					<br />
					<br />
					<select name="i_am">
						<option value="applicant">Student looking for an Internship</option>
						<option value="company">Company looking for Smart Interns</option>
					</select>
					<span class="error {% if not form.i_am.errors %}hide{% endif %}">{{form.i_am.errors.as_text}}</span>
				</p>
			{% endblock iam %}

			{% block full-name %} {% endblock full-name %}
			{% block user-name %} <input id="username" name="username" class="textfield" type="hidden"/> {% endblock user-name %}
			<p id="email" class="field">
				<label>Email:</label> 
				<input id="id_username" name="username" class="text" {%if form.username.value %}value="{{ form.username.value }}"{%endif%} type="text" size="28" />
				<span class="error {% if not form.username.errors %}hide{% endif %}">{{form.username.errors.as_text}}</span>
			</p>
			{% block passwords %}
				<p id="password1" class="field">
					<label>Password:</label><input name="password" class="text" {%if form.password.value %}value="{{ form.password.value }}"{%endif%} type="password" size="28" />
					<span class="error {% if not form.password.errors %}hide{% endif %}">{{form.password.errors.as_text}}</span>
				</p>
				<p id="password2" class="field">
					<label>Password:</label><input name="password1" class="text" {%if form.password1.value %}value="{{ form.password.value }}"{%endif%} type="password" size="28" />
					<span class="error {% if not form.password1.errors %}hide{% endif %}">{{form.password1.errors.as_text}}</span>
				</p>
			{% endblock passwords %}
			<label>
				<div class="terms-statement">
					By clicking the button below, you agree to our <a href="{% url terms_and_conditions %}">terms of service</a>
				</div>
			</label>
			<input class="submit" type="submit" value="GO"/>
		</div>
		{% comment %}
			<div class="rightside2">
				<h2 class="formhead">Social Media</h2>
				<p id="f-login">
					<ul>
						<br/>
						<br/>
						<label>
							<a href="{% url facebook_login %}">
								<img name="imageField" src="{{ STATIC_URL }}images/f-btn.png"/>
							</a>
						</label>
						<label>
							<a href="{% url twitter_login %}">
								<img name="imageField" src="{{ STATIC_URL }}images/login_twitter.png"/>
							</a>
						</label>
						<a href="{% url linkedin_login %}">Linkedin</a>
					</ul>
				</p>
			</div>
		{% endcomment %}
	</form>
{% endblock %}

{% block confidence-belt %}{% endblock %}
{% block bits %}{% endblock %}
