syntax: glob
*.pyo
*.pyc

*.o
*.pc
*.svn-base
*.svn

database_dev.py
media/cv/*
static_root/*
test.json
build/*

# Mercurial backup files
*.orig

# sqlite db files
*.s3db
*.db

# Emacs backup and lock files
*~
\#*

.project
.pydevproject
uhai/dev_templates/
