{% extends "app_base.html" %}

{% block extrajs-jquery-plugins %}
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.masonry.min.js"></script>
{% endblock extrajs-jquery-plugins %}

{% block extrajs-jquery-enclosed %}
	$('.tile-container').masonry({
	  itemSelector: '.tile',
	  columnWidth: 100,
	  isAnimated: true
	});
{% endblock extrajs-jquery-enclosed %}

{% block container %}    
    <div class="menu-tiles">
    	{% if messages %}
        <div class="info">
            {{ message.content }}
        </div>
    {% endif %}    	
	    <div class="tiles">
	    	<legend>Welcome, {{ request.user.first_name }}</legend>
	    	<div class="tile-container">
	    		<div class="tile">
	    			<img src="{{ STATIC_URL }}img/tiles/appointments.png"/>
	    			<div>Allergies</div>
	    		</div>
	    		<div class="tile">
	    			<img src="{{ STATIC_URL }}img/tiles/appointments.png"/>
	    			<div>Allergies</div>
	    		</div>
	    		<div class="tile">
	    			<img src="{{ STATIC_URL }}img/tiles/appointments.png"/>
	    			<div>Allergies</div>
	    		</div>
	    		<div class="tile">
	    			<img src="{{ STATIC_URL }}img/tiles/appointments.png"/>
	    			<div>Allergies</div>
	    		</div>	    	
				<div class="tile">
					<img src="{{ STATIC_URL }}img/tiles/appointments.png"/>
	    			<div>Allergies</div>
				</div>
	    		<div class="tile">
	    			<img src="{{ STATIC_URL }}img/tiles/appointments.png"/>
	    			<div>Allergies</div>
	    		</div>
	    		<div class="tile last">
	    			<img src="{{ STATIC_URL }}img/tiles/appointments.png"/>
	    			<div>Allergies</div>
	    		</div>
	    		<div class="tile last">
	    			<img src="{{ STATIC_URL }}img/tiles/appointments.png"/>
	    			<div>Allergies</div>
	    		</div>
			</div>
	    </div>
	</div>
{% endblock container %} 