{% extends "app_base.html" %}

{% block page-title %}Switchboard{% endblock page-title %}

{% block extracss-inline %}
	.tile{
		width: 170px;
		float:left;
	}
	.tile.long{
		width: 270px;
	}
{% endblock extracss-inline %}		

{% block container %}    
    <div class="menu-tiles">
    	{% if messages %}
	        <div class="info">
	            {{ message.content }}
	        </div>
	    {% endif %}    	
	    <div class="tiles">
	    	<legend>Welcome, {{ request.user.first_name }}</legend>
	    	<div class="tile-container">
	    		<div class="tile long">
	    			<a href="{% url profile %}">
	    				<div class="profile-icon">
			    			<div class="tile-profile"></div>
			    			<div class="tile-label">My Profile</div>
			    		</div>
			    		<div class="profile-details">
			    			{% with user.patient_set.get as patientprofile %}
				    			<span class="profile name">{{ user.first_name }} {{ user.last_name }}</span>
				    			<span class="profile blood-type">			    				
				    				{{patientprofile.get_blood_group_display}} ({{patientprofile.blood_group}})
				    			</span>
				    			<span class="profile age">23 years</span>
				    			<span class="profile employer">{{patientprofile.employer}}</span>
				    			<span class="profile weight">{{patientprofile.weight}} kg</span>
				    		{% endwith %}
			    		</div>
		    		</a>
	    		</div>
	    		<div class="tile">
	    			<a href="{% url dependents %}">
		    			<div class="tile-dependent"></div>
		    			<div valign="bottom"  class="tile-label">Dependents</div>
		    		</a>
	    		</div>
	    		<div class="tile">
	    			<a href="{% url enrolledprogram-list %}">
		    			<div class="tile-programs"></div>
		    			<div class="tile-label">Programs</div>
		    		</a>
	    		</div>
	    		<div class="tile last">
	    			<a href="{% url programquestionnaire-list %}">
		    			<div class="tile-questionnaires"></div>
		    			<div class="tile-label">Questionnaires</div>
		    		</a>
	    		</div>	    	
				<div class="tile long low">
					<a href="{% url reminders %}">
						<div class="reminder-messages">
							{% for reminder in reminders%}
								<div class="reminder-message">{{ reminder.text }}</div>
							{% empty %}
								<div class="reminder-message">No Reminders</div>
							{% endfor %}
						</div>
		    			<div class="tile-label" style="margin: 10px 15px; font-weight: normal;">
		    				<div class="reminder">
			    				<div class="reminder-count">{{ reminders_count }}</div>
			    				<div>Reminder{{ reminders_count|pluralize }}</div>
			    			</div>
			    			<div class="calendar">
			    				<div class="calendar-day" style="text-transform:lowercase;">{% now "D" %}</div>
			    				<div class="calendar-date">{% now "j" %}</div>
			    			</div>
		    			</div>
		    		</a>
				</div>
	    		<div class="tile low">
	    			<a href="{% url patientinsurance-list %}">
		    			<div class="tile-covers"></div>
		    			<div class="tile-label">Covers</div>
		    		</a>
	    		</div>
	    		<div class="tile low">
	    			<a href="{% url doctors %}">
		    			<div class="tile-doctors"></div>
		    			<div class="tile-label">My Doctors</div>
		    		</a>
	    		</div>
	    		<div class="tile low last">
	    			<a href="{% url records %}">
		    			<div class="tile-records"></div>
		    			<div class="tile-label">Records</div>
		    		</a>
	    		</div>
			</div>
	    </div>
	</div>
{% endblock container %} 