{% extends "base.html" %}

{% block extracss %}
	{% block extracss-links %}
	{% endblock extracss-links %}
	<style>
		{% spaceless %}
			.navbar .nav > li > a {
				line-height: 23px;
			}
			.navbar .dropdown-menu.schedule::after {
				left: 43px;
			}
			.navbar .dropdown-menu.clinicals::after {
				left: 78px;
			}
			.navbar .dropdown-menu.patient::after {
				left: 112px;
			}
			.navbar .dropdown-menu.reports::after {
				left: 145px;
			}
			{% block extracss-inline %}
			{% endblock extracss-inline %}
		{% endspaceless %}
	</style>
{% endblock extracss %}

{% block extrajs %}
	{% block extrajs-javascript %}{% endblock extrajs-javascript %}
	{% block extrajs-jquery-plugins %}{% endblock extrajs-jquery-plugins %}
	<script>
		{% block extrajs-global %}{% endblock extrajs-global %}
		$(function(){
			$('.navbar-item').tooltip({animation:true, placement:'bottom'});
			{% block extrajs-jquery-enclosed %}{% endblock extrajs-jquery-enclosed %}
		});
	</script>
{% endblock extrajs %}

{% block navbar %}
	<div class="navbar-inner">
		<div class="container">
			{% block navbar-container %}
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/">
					<i class="icon-leaf icon-white" style="margin-top: 8px;margin-right: -4px;"> </i> Uhai 
					<span class="label label-info" style="font-size: 8.899px">Beta</span></a>
				<div class="nav-collapse">
					{% block navbar-left %}
						<ul class="nav">
							{% if request.user.is_authenticated %}
								<li class="navbar-item" title="Home" rel="tooltip" class="active"><a href="{% url index %}"><i class="icon-home icon-white"></i></a></li>								
								{% if request.session.use_page_as == 'health-worker' %}
									<li class="navbar-item" title="Schedule" id="schedule-menu" rel="tooltip">
										<a href="#schedule-menu" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-calendar icon-white"></i></a>
										<ul class="dropdown-menu schedule">
											<li><a href="{% url calendar %}"><i class="icon-globe"></i> Calendar</a></li>
											<li><a href="{% url index %}"><i class="icon-globe"></i> Reminder Profiles</a></li>
											<li><a href="{% url index %}"><i class="icon-globe"></i> Follow up Reminders</a></li>
											<li><a href="{% url index %}"><i class="icon-globe"></i> Out of office notice</a></li>
											<li><a href="{% url index %}"><i class="icon-globe"></i> Manage recurring events</a></li>
										</ul>
									</li>
									<li class="navbar-item" title="Clinical" id="clinical-menu" rel="tooltip">
										<a href="#clinical-menu" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog icon-white"></i></a>
										<ul class="dropdown-menu clinicals">
											
										</ul>
									</li>							
									<li class="navbar-item" title="Patients" id="patient-menu" rel="tooltip">
										<a href="#patient-menu" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i></a>
										<ul class="dropdown-menu patient">
											<li><a href="{% url index %}"><i class="icon-globe"></i> Patient list</a></li>
											<li><a href="{% url index %}"><i class="icon-globe"></i> Send alert</a></li>
											<li><a href="{% url index %}"><i class="icon-globe"></i> Analytics</a></li>
											<li><a href="{% url index %}"><i class="icon-globe"></i> Reminders</a></li>
										</ul>
									</li>
									<li class="navbar-item" title="Reports" id="report-menu" rel="tooltip">
										<a href="#report-menu" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-file icon-white"></i></a>
										<ul class="dropdown-menu reports">
											<li>
												<a href="{% url settings %}"><i class="icon-globe"></i> Use as Patient</a>
											</li>
										</ul>
									</li>
								{% elif request.session.use_page_as == 'patient' %}
									<li class="navbar-item" title="Schedule" rel="tooltip"><a href="{% url index %}"><i class="icon-calendar icon-white"></i></a></li>
								{% else%}									
									<li class="navbar-item" title="Records" rel="tooltip"><a href="{% url records %}"><i class="icon-folder-open icon-white"></i></a></li>
									<li class="navbar-item" title="Questionnaires" rel="tooltip"><a href="{% url questionnaire-list %}"><i class="icon-th-list icon-white"></i></a></li>
								{% endif %}
								<li class="navbar-item" title="Messages" rel="tooltip"><a href="{% url index %}"><i class="icon-envelope icon-white"></i></a></li>
							{% endif %}
							{% block navbar-links %}{% endblock navbar-links %}
						</ul>
					{% endblock navbar-left %}								
					<div class="pull-right">
						{% block navbar-right %}
							{% if request.user.is_authenticated %}
								<form class="navbar-search pull-left" action="/search">
									<input type="text" class="search-query span2" 
										placeholder="Search {% if request.session.use_page_as == 'health-worker' %}Patient, Medication
										{% elif request.session.use_page_as == 'insurance-agent' %}Employer, Employee, Patient, Doctor
										{% elif request.session.use_page_as == 'employer' %}Employee
										{% else %}Records{% endif %}"
									/>
								</form>
								<ul class="nav pull-right">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.full_name }} <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li>
												<a href="{% url use-as 'patient' %}"><i class="icon-globe"></i> Use as Patient</a>
											</li>
											{% if request.user.is_superuser %}
												{% for group in user_groups %}
													{% if not group.name == 'Patient' %}
														<li>
															<a href="{% url use-as group.name|slugify %}"><i class="icon-globe"></i> Use as {{ group.name }}</a>
														</li>
													{% endif %}
												{% endfor %}
											{% else %}
												{% for group in request.user.groups.all %}
													{% if not group.name == 'Patient' %}
														<li>
															<a href="{% url use-as group.name|slugify %}"><i class="icon-globe"></i> Use as {{ group.name }}</a>
														</li>
													{% endif %}
												{% endfor %}
											{% endif %}
											<li class="divider"></li>
											<li>
												<a href="{% url settings %}"><i class="icon-user"></i> Account Settings</a>
											</li>
											{% if request.user.is_superuser or request.user.is_admin %}
												<li>
													<a href="{% url admin:index %}"><i class="icon-briefcase"></i> Administration</a>
												</li>
											{% endif %}
											<li class="divider"></li>
											<li><a href="{% url logout %}"><i class="icon-off"></i> Log out</a></li>
										</ul>
									</li>
								</ul>
							{% endif %}
						{% endblock navbar-right %}
					</div>				
				</div><!--/.nav-collapse -->
			{% endblock navbar-container %}
		</div>
	</div>
{% endblock navbar %}

{% block container %}
	<div class="row">
		<div class="span2 columns">
			{% block container-left %}{% endblock container-left %}
		</div>
		<div class="span10 columns">
			<div class="container-right">
				{% block container-right %}{% endblock container-right %}
			</div> 
		</div>
	</div>
{% endblock container %}

{% block footer %}{% endblock footer %}