{% extends "base.html" %}
{% load hosts %}

{% block extracss %}
	{% block extracss-links %}
	{% endblock extracss-links %}
	<style>		
		{% block extracss-inline %}
		{% endblock extracss-inline %}		
	</style>
{% endblock extracss %}

{% block extrajs %}
	{% block extrajs-javascript %}{% endblock extrajs-javascript %}
	{% block extrajs-jquery-plugins %}{% endblock extrajs-jquery-plugins %}
	<script type="text/javascript">
		{% block extrajs-global %}{% endblock extrajs-global %}
		$(function(){
			{% block extrajs-jquery-enclosed %}{% endblock extrajs-jquery-enclosed %}
		});
	</script>
{% endblock extrajs %}

{% block navbar %}
	<div class="navbar-inner">
		<div class="container">
			{% block navbar-container %}
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/">
					<i class="icon-leaf icon-white" style="margin-top: 8px;margin-right: -4px;"> </i> Uhai 
					<span class="label label-info" style="font-size: 8.899px">Beta</span></a>
				<div class="nav-collapse">
					{% block navbar-left %}
						<ul class="nav" style="padding-top: 4px;">
							{% if request.user.is_authenticated %}
								<li class="navbar-item" class="active">
									<a href="{% host_url home on my-portal %}">Home</a>
								</li>
								{% if request.session.use_page_as == 'health-worker' %}
									<li class="navbar-item" id="schedule-menu">
										<a href="{% host_url calendar on my-portal %}">Reminders</a>
									</li>
									<li class="navbar-item" id="patient-menu">
										<a href="{% host_url patient-list on doctor-portal %}" data-toggle="dropdown">Patients</a>
									</li>
								{% elif request.session.use_page_as == 'employer' %}
									<li class="navbar-item" id="patient-menu">
										<a href="{% host_url patient-list on doctor-portal %}" data-toggle="dropdown">Patients</a>
									</li>
								{% else %}
									<li class="navbar-item"><a href="{% host_url calendar on my-portal %}">Reminders</a></li>
									<li class="navbar-item"><a href="{% host_url records on my-portal %}">Records</a></li>
									<li class="navbar-item"><a href="{% host_url programs on my-portal %}">Programs</a></li>
									<li class="navbar-item"><a href="{% host_url dependents on my-portal %}">Dependents</a></li>
								{% endif %}								
							{% endif %}
							{% block navbar-links %}{% endblock navbar-links %}
						</ul>
					{% endblock navbar-left %}								
					<div class="pull-right">
						{% block navbar-right %}
							{% if request.user.is_authenticated %}
								{% if not request.session.use_page_as == 'patient' %}
									<a style="margin-top:8px" class="btn btn-inverse navbar-search pull-left" href="/search/">
										<i class="icon-search icon-white"></i> Search
									</a>
								{% endif %}
								<ul class="nav pull-right" style="padding-top: 3px;">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.full_name }} <b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li>
											</li>
											<li class="divider"></li>
											<li>
												<a href="{% host_url settings on my-portal %}"><i class="icon-user"></i> Account Settings</a>
											</li>
											{% if request.user.is_superuser or request.user.is_admin %}
												<li>
													<a href="{% host_url admin:index on admin %}"><i class="icon-briefcase"></i> Administration</a>
												</li>
											{% endif %}
											<li class="divider"></li>
											<li><a href="{% host_url logout on my-portal %}"><i class="icon-off"></i> Log out</a></li>
										</ul>
									</li>
								</ul>
							{% endif %}
						{% endblock navbar-right %}
					</div>				
				</div><!--/.nav-collapse -->
			{% endblock navbar-container %}
		</div>
	</div>
{% endblock navbar %}

{% block container %}
	<div class="row">
		<div class="span2 columns">
			{% block container-left %}{% endblock container-left %}
		</div>
		<div class="span10 columns">
			<div class="container-right">
				{% block container-right %}{% endblock container-right %}
			</div> 
		</div>
	</div>
{% endblock container %}

{% block footer %}{% endblock footer %}