{% extends "base.html" %}

{% block extracss %}
	{% block extracss-links %}
	{% endblock extracss-links %}
	<style>		
		{% block extracss-inline %}
		{% endblock extracss-inline %}		
	</style>
{% endblock extracss %}

{% block extrajs %}
	{% block extrajs-javascript %}{% endblock extrajs-javascript %}
	{% block extrajs-jquery-plugins %}{% endblock extrajs-jquery-plugins %}
	<script type="text/javascript">
		{% block extrajs-global %}{% endblock extrajs-global %}
		$(function(){
			{% block extrajs-jquery-enclosed %}{% endblock extrajs-jquery-enclosed %}
		});
	</script>
{% endblock extrajs %}

{% block navbar %}
	<div class="navbar-inner">
		<div class="container">
			{% block navbar-container %}
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/">
					<img src="{{STATIC_URL}}images/logo.png">Uhai
				</a>
				<div class="pull-right">
				    <ul class="nav pull-right">
				        <li class="dropdown">
				        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.first_name }} <b class="caret"></b></a>
				        	<ul class="dropdown-menu">
					            <li>
					            	<a href=""><i class="icon-user"></i> Account</a>
					            </li>
					            <li>
					            	<a href="/account/settings/"><i class="icon-user"></i> Account</a>
					            </li>
					            <li class="divider"></li>
					            <li>
					            	<a href="{% url logout %}"><i class="icon-off"></i> Log out</a>
					            </li>
					        </ul>
				        </li>
				    </ul>
				</div>
			{% endblock navbar-container %}
		</div>
	</div>
{% endblock navbar %}

{% block container %}
	<div class="row">
		<div class="span2 columns">
			{% block container-left %}{% endblock container-left %}
		</div>
		<div class="span10 columns">
			<div class="container-right">
				{% block container-right %}{% endblock container-right %}
			</div> 
		</div>
	</div>
{% endblock container %}

{% block footer %}{% endblock footer %}