{% extends "app_base.html" %}

{% block extrajs-jquery-enclosed %}
	{{ block.super }}
{% endblock extrajs-jquery-enclosed %}

{% block container %}	
	<div class="back-button">
		<a href="{% url records %}">
			<img src="{{ STATIC_URL }}images/swap-left.png">
		</a>
	</div>
	<div class="menu-tiles">    	
		<legend style="margin-bottom: 10px;">
			{% block header %}{% endblock header %}
		</legend>
		<div>		
			{% block table-list %} 
				{% if objects %}
					{% block table %}
					{% endblock table %}
					{% block pagination %}
						<div class="pager">
							{% if objects.has_previous %}
								<a class="previous" href="?page={{ objects.previous_page_number }}">previous</a>
							{% endif %}
							<span class="current">
								Page {{ objects.number }} of {{ objects.paginator.num_pages }}.
							</span>
							{% if objects.has_next %}
								<a class="next" href="?page={{ objects.next_page_number }}">next</a>
							{% endif %}
						</div>
					{% endblock %}
				{% else %}
					{% block empty %}
					{% endblock empty %}
				{% endif %}
			{% endblock table-list %}
		</div>	
	</div>	
{% endblock container %}