{% load crispy_forms_tags %}
<form id="survey_form" class="form row" action="{{ questionnaire.get_absolute_url }}" method="post"
	{% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
	<legend>{{ questionnaire.title }}</legend>
	{% crispy form form.helper %}
	<div class="row">
		<div class="form-actions">		
			<ul class="pager">
				<li class="previous 
				{% if not form.questionnaire_fields.has_previous %}
					disabled
				{% endif %}">				
				<a id="id_previous" href="
					{% if form.questionnaire_fields.has_previous %}
						#/page/{{ form.questionnaire_fields.previous_page_number }}
					{% else %}
						#
					{% endif %}">&larr; Previous</a>
				</li>				
				<li class="next">
					{% if form.questionnaire_fields.has_next %}
						<a id="id_next" href="#/page/{{ form.questionnaire_fields.next_page_number }}">
							Next &rarr;
						</a>
					{% else %}
						<a id="id_finish" href="#">
							Finish &rarr;
						</a>
					{% endif %}
				</li>
			</ul>
		</div>
	</div>
</form>
