div.ftree
{
    overflow:auto;
    width:728px;
    height:550px;
    background-color:transparent;
    margin:10px;
}

div.ftree table tbody tr td
{
    /* border:1px dotted silver; */    
    min-width:100px;
    height:20px;    
}
/* short line */
div.ftree table tbody tr td>table {
    width: 64px;
}

div.ftree table tbody tr td>table>tbody>tr>td
{
 /* border:1px dotted silver; */
    min-width:50px;
    height:20px;    
}


div.ftree table tbody tr td span>p
{
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis; 
    -o-text-overflow: ellipsis; 
    width:80px;
    margin:0px;
}

div.ftree table
{   
    border-collapse: collapse; /* 'cellspacing' equivalent */    
}
div.ftree table td, div.ftree table th
{
    padding:0;
}

div.ftree table tbody tr td.lcell
{
    border-left:2px solid #32c978;
}

div.ftree table tbody tr td.tcell
{
    border-top:2px solid #32c978;
}

div.ftree table tbody tr td.rcell
{
    border-right:2px solid #32c978;
}

div.ftree table tbody tr td>span>input
{
    width:90px;
    height:90px;
    padding-bottom:2px;
    border-bottom:1px solid #bbb;
    background:white; /* this is required - connectors will be displayed on top of transparent layer*/
}

div.ftree div.connector
{
    z-index:-100;    
    background-color:#32c978;
    width:80px;
    height:2px;
    margin-top:70px;
    margin-left:30px;
}

div.ftree span.multiple
{   
    margin-right:80px;
}

div.ftree span
{
    margin-left:-45px;    
    float: left; 
    border:1px solid #bbb;
    font-family:Verdana;
    font-size:11px;
    text-align:center;
}

div.ftree img
{
    padding-bottom:2px;
    border-bottom:1px solid #bbb;
}

div.ftree span.right
{
    float:right;    
    margin-right:-45px;
}

div.ftree div.vconnector
{
    z-index:-100;
    /* background:#f2f29e url('../images/vline.png'); */
    background-color:#32c978;
    width:2px;
    height:60px;    
    margin-left:63px;
    margin-top:-40px;
}