{% extends "base.html" %}

{% block container %}
	<div class="row clearfix">
		<div class="col_12">
			<div class="widget clearfix" style="min-height: 300px;">
				<h2>Orders</h2>
				<div class="widget_inside drugs-search">
					<div id="add" style="width:100%;clear:both"><a href="{% url order-create %}" class="button blue" style="float:right">Add Order</a></div>
					{% if orders %} 
						<table class='regular'>
							<tr>
								<th>Code</th>
								<th>Vaccine</th>
								<th>Brand name</th>
								<th>Lot number</th>
								<th>Site</th>
								<th>Date</th>
							</tr>
							{% for order in orders %}
								<tr>	
									<td>{{order.code}}</td>
									<td>{{order.vaccine}}</td>
									<td>{{order.brand_name}}</td>
									<td>{{order.lot_number}}</td>
									<td>{{order.site}}</td>
									<td>{{order.practice_date}}</td>
									<td>
										<a href="{% url order-edit order.pk %}">Edit</a> |
										<a href="{% url order-delete order.pk %}">Delete</a>
									</td>
								</tr>
							{% empty %}
								<tr><td colspan="2">No Orders Found</td></tr>
							{% endfor %}
						</table>
					{% else %}
						No Orders Found
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock container %}
