{% extends "common_base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% comment %}{% load thumbnail %}{% endcomment %}

{% block title %}
	{% trans "Inposting | Personal Profile" %}
{% endblock %}

{% block extracss %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/forms.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/enhanced.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.tagit.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/tagit.ui-zendesk.css">
{% endblock extracss %}

{% block extrajs %}
	<script type="text/javascript">
		$(function() {
			$(":text, textarea").addClass("text");
		});
	</script>
{% endblock extrajs %}

{% block pitch %}
	<div id="content">
		{% uni_form form form.helper %}
	</div>
{% endblock pitch %}