/** The Column **/
form .column{
	padding:2px 0px 10px 0px;
	display: inline-block;
	vertical-align: top;
	margin: 0 20px 10px 0;
	position: relative;	
}

form .column.textarea{
	width: 50%;
}

form .row{
	margin-left: 0px;
}

/** The General Form **/
div.form_title_div{
	padding: 20px;
}

h2.form_title{
	font-size: 22px;
	color: #4B4B4B;
	border-bottom: 1px dotted #CCC;
	margin: 0px 0px 15px -8px;
}

.dates{
	width:300px;
}

h2.form_title_nums{
	padding-left: 35px;
	font-size: 23px;
	color: #4B4B4B;
	border-bottom: 1px dotted #CCC;
	width: 100%;
}

.field label{
	font-size:12px;
	color:#181818;
	float:left;
}

.field .indicator{
clear:right;
color:#181818;
float:right;
font-size:10px;
}

.field select{
clear:both;
float:left;
height:30px;
}

.field .help_text{
clear:left;
color:#898989;
float:left;
font-size:10px;
padding: 0px 0px 3px 0px;
}

.hide{
display:none;
}

.field input[type=text]{
	clear:both;
}

label.checkbox-label{
	float: left; 
	margin-top: 12px; 
	margin-left: 7px;
}

.field input{	
	float:left;
	height:27px;
	margin: 7px 0 0 0;
}

.field select{
clear:both;
float:left;
padding: 2px 2px;
margin: 7px 0 0 0;
}

.field textarea {
	width: 100%;
	height: 90px;
	clear: both;
	float: left;
	padding: 2px;
}

.buttonHolder{
	border-top: 1px dotted #CCC;
	margin-left: 20px;
	margin-right: 20px;
}

.text textarea{
	font-family: arial, verdana, sans-serif;
}

.field textarea:focus{
color:#777777;
}

.field input:focus{
color:#777777;
}

.long{
width:344px;
}

.field .error{
font-style:italic;
clear:both;
float:right;
color:#B94A48;
font-size:10px;
}
