/*
	=================================
	Author: Muli Michael
	---------------------------------
*/

@charset "utf-8";

/* reset */
*{
	margin:0;
	padding:0;
	outline:0;
}
img {
	border: 0; 
}
.clear { 
	clear: both; 
}
.line {
	clear: both;
	padding: 15px 0 0;
	margin: 0 0 25px;
	border-bottom: 1px solid #ddd;
}

body { 
	font: .8em Arial, Verdana, Tahoma, Sans-Serif; 
	background: #fafafa; 
	color: #b4b4b4; 
}

/* typography and links */
a { 
	text-decoration: none;
	color:#6b6c6d;
}

p  { 
	margin: 0 0 17px; 
	line-height: 1.6em; 
}

/* headings */
h1, h2, h3, h4{
	font-weight: normal;
}
h1 { 
	float: left; 
	font-size: 2.1em; 
	color: #fff;
	letter-spacing: -1.4px;	
	margin: 0 0 30px 0;
	padding: 34px 0 0 10px;
}
h1 a { 
	color: #fff; 
}
h2 { 
	margin: 0 0 15px; 
	font-size: 1.9em; 
	color: #000; 
}
h2.inner { 
	border-bottom: 1px solid #ddd; 
	margin: 0 0 25px; 
	padding: 0 0 10px; 
}
h3 { 
	margin: 0 0 7px;  
	font-size: 14px; 
	clear: both; 
	color: #777777; 
	line-height: 1.3em; 
}
h4 { 
	margin: 0 0 10px; 
	font-size: 1.2em; 
	color: #000; 
}
h5 {
	position:relative;
	font-size: 12px;
	color: #888888; 
	margin: 0 0 0 300px;
	padding-top:35px;
	z-index:110;
}

h6{
	position:relative;
	font-size: 13px;
	color: #777777; 
	padding-top:15px;
	padding-bottom:5px;
	z-index:110;
}

#bg { 
	background-color:#fafafa; 
}


.tag{
margin-left:200px;
margin-left:150px;
}

.tag2{
margin-left:176px;
}

.separator {
clear:both;
position:relative;
width:1208px;
height:17px;
background:url(/static/images/divider.jpg) top left;
margin-top:-70px;
margin-left:-120px;
margin-right:auto;
z-index:5;
}

.separator2 {
clear:both;
position:relative;
width:1208px;
height:17px;
background:url(/static/images/divider.jpg) top left;
margin-left:auto;
margin-right:auto;
z-index:5;
margin-bottom:10px;
}

/* content holder */
.wrap { 
	margin: 0 auto; 
	width: 960px;
}

/* menu */
#mainmenu { 
	float: right; 
	padding: 39px 0 0; 
}
#menu ul { 
	float: right; 
}
#menu li { 
	display: inline; 
	float: left; 
	margin: 0 0 0 18px; 
}
#menu li a { 
	display: block; 
	color: #70767d; 
	padding: 7px; 
	font-size: 1.1em; 
	border: 1px solid transparent; 
	text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
}

#menu a:hover, #menu li.current a { 
	background-color:#e0dfe2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition-property: background;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
	-moz-transition-property: background;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: ease;
}

.try{
/*color:#fafafa;*/
background-color:#a5c727;
}

#menu li ul { 
	top: 98px;
	background: url(/static/images/dot.png); 
	padding: 3px;
	font-size: .92em; 
	position: absolute; 
	display: none; 
	z-index: 100; 	
}
#menu li ul li { 
	float: none; 
	display: inline; 
	margin: 0; 
	padding: 0; 
	clear: left;
}

#menu li ul li a { 
	color: #fff;
	margin: 4px; 
	white-space: nowrap;
	padding: 8px;	
}
#menu li ul li a:hover {
	background: #2C2D2F;
	border-color: #2C2D2F;
}

/*Dashboard*/
#dashboard_menu { 
	background:url(/static/images/dashnav.png) no-repeat;
	float: right;
	margin-top:36px;
	width:450px;
	height:45px;
	overflow:hidden;
	text-transform:uppercase;
}
#dashmenu{ 
	float: left;
}
#dashmenu li { 
	display: inline; 
	float: left; 
	padding:5px;
	border-left:1px solid #d4d4d4;
	border-right:1px solid #ffffff;
	width:100px;
	text-align:center;
}

#dashmenu li:first-child{
border-left:none;
}

#dashmenu li:last-child{
border-right:none;
}

#dashmenu li a { 
	display: block; 
	color: #70767d; 
	padding: 7px; 
	font-size: 1.1em; 
	border: 1px solid transparent; 
	text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
}

/*Sign up links*/
.signLinks ul{
float:right;
margin:0;
padding:0;
list-style:none;
width:345px;
}

.links li:last-child{
margin-right:0;
}

.signLinks ul li{
float:left;
padding-top:30px;
margin-right:30px;
}

.links a{
color:#6b6c6d;}

.links a:hover{
color:#ffffff;}

/*Tag Line*/
.tagline{
color:#555;
padding-top:20px;
padding-bottom:30px;
/*padding-left:200px;*/
font-size:30px;
letter-spacing:-3px;
}

.tagline span{
color:#2ea9df;
}

/*Confidence Belt*/
#confidence-belt{ 
position:relative;
margin-left:-200px;
background:url(/static/images/belt.png) no-repeat 0 0;
width:1355px;
height:91px;
z-index:100; 
}

#confidence-belt ul {
position:relative;
float:right;
margin-top:-25px;
margin-right:330px;
padding:0;
list-style:none;
/*width:500px;*/
z-index:110;
}

#confidence-belt ul li {
float:left; 
margin-right:15px;
}

/* pitch slideshow */
#pitch { 
	clear: both; 
	background-color:#fafafa;
	padding-bottom:40px;
	margin: 0 0 25px;
}
#slideshow {
    position:relative;
    height: 310px;
}
#slideshow img {
	float: left;
}
#slideshow div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
}
#slideshow div.active {
    z-index: 10;
}
#slideshow div.last-active {
    z-index: 9;
}

#zoom { 
	z-index: 11; 
}

/* pitch overlay */
.overlay {
	clear: both;
	float: left; 
	z-index: 100;
	position: relative; 
	margin: 60px 0 0 150px; 
}
.overlay h2{ 
	color: #6b6b6b; 
	font-size: 2em;
	margin: 0;
	padding-bottom:15px;
	float: left;
	width: 300px;
}
.overlay p {
	clear: both;
	width: 300px;
}

/*Sign up button*/
.overlay button{
background-color:#fafafa;
border:none;
background-image:url(/static/images/sign-up.png);
width:180px;
height:68px;
}

.overlay button:hover{
background-image:url(/static/images/sign-up-hover.png);
cursor:pointer;
}

#slideshow:hover .arrow {
	background: url(/static/images/dot.png);
}

.arrow { 
	float: right;
	position: relative;
	width: 65px;
	height: 63px;
	margin: -180px 0 0;
	z-index: 100;
}

.arrow a { 
	float: left;
	background: url(/static/images/pitcharrow.gif) no-repeat center center; 
	width: 15px;
	height: 24px;
	padding: 19px 25px;
}

.arrow2 { 
	float: left;
	position: relative;
	width: 65px;
	height: 63px;
	margin: -180px 0 0;
	z-index: 100;
}

.arrow2 a { 
	float: right;
	background: url(/static/images/pitcharrow2.gif) no-repeat center center; 
	width: 15px;
	height: 24px;
	padding: 19px 25px;
}

.field_left{
float:left;
}

/* inner pitch */
#inner-pitch {
	clear: both;
}
#inner-pitch .overlay {
	margin: 0;
	width: 920px;
}

/*Main Accordion*/
#accordion{
float:left;
width:600px;
}

/* Testimonials */
#testimonial{
color:#777777;
font-family:Georgia, Arial, sans-serif;
font-size:24px;
font-style:italic;
}

#testimonial-span{
font-size:12px;
float:right;
}

.interns{
font-size:36px;
font-weight:bold;
color:#a5c727;
}

.interns em{
 font-size:12px;
 font-style:normal;
 }

.employers{
font-size:36px;
font-weight:bold;
color:#19a0db;}

.employers em{
 font-size:12px;
 font-style:normal;
 }

 #match{
 text-align:right;
 }
 
/* main content */
#main { 
	clear: left; 
	float: left; 
	width: 680px;
	border-right: 1px dotted #ddd;
	padding: 0 30px 0 0;
	margin: 0 0 30px;
}

#intro { 
	padding: 0 0 20px; 
	margin: 0 0 25px;
	border-bottom: 1px dotted #ddd; 
}

/* holder for page content */
#page { 
	
}
.justify { 
	text-align: justify; 
}

/* images align */
.left { 
	float: left; 
	margin: 0 15px 5px 0; 
}
.right { 
	float: right; 
	margin: 0 0 5px 15px; 
}

/* tables */
.table { 
	border-collapse: collapse;
	width: 100%;
	margin: 0 0 30px;	
}
.table td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
.table thead td {
	font-weight: bold;
	border-bottom: 3px double #ddd;
	border-top: 1px solid #ddd;
	background: #fff;
}
.table .odd td { background: #fff; }

/* blog posts */
.blog-post  { 
	border-bottom: 1px solid #ddd; 
	margin: 0 0 30px; 
}
.blog-date { 
	float: left; 
	width: 40px; 
	text-align: right; 
	font-size: .9em; 
	padding: 4px 0 0;
}
.blog-date span { 
	font-size: 1.8em; 
}
.blog-body { 
	float: right; 
	width: 590px; 
	border-left: 1px solid #ddd;
	padding: 0 0 0 22px;
}

/* lists */
#page ul, #page ol { 
	margin: 0 0 25px 27px; 
}
#page li { 
	padding: 6px 0; 
	list-style: square; 
}

.pleft{
float:left;
width:234px;}

.pright{
float:right;}

/* boxes */
.half, .third { 
	float: left; 
	width: 292px; 
	background: #fff; 
	padding: 15px; 
	margin: 0 30px 30px 0; 
}
.third {
	width: 175px;
}

.last { 
	margin-right: 0; 
}

/* home page bits */
#bits {
	clear:  both;
	margin: 20px 0 50px; 
}

.bit {
	border-left:1px dashed #eeeff1;
	float: left;
	width: 295px;
	padding: 0 20px 0 0;
}
.bit h4 {
	margin: 0 0 18px;
}
.bit img { margin: 0 0 8px; }

.bit p {
	font-size: .9em;	
	color:#989898;
}

.bit.first { border-left:none;}

.bit.second { padding-left:25px;}

.bit.last { padding-right: 0; padding-left:0;}
.bit.last2{ padding-left:8px; padding-right:0;}

.more { margin: 0; }

/* The Radio Buttons List ---- Answers */
#answers {
list-style:none;
}

#answers .radio {
margin-top:2px;
margin-right:8px;
float:left;
}
 
/* sidebar */
#side { 
	float: right; 
	width: 220px; 
	font-size: .9em;
}
#side h4 {
	margin: 0 0 23px;
	font-size: 1.3em;
}

.news { 
	border-bottom: 1px dotted #ddd;
	margin: 0 0 11px;
 
}
.news h5 { 
	margin: 0 0 5px; 
	font-size: 1.2em;
}
.news p {
	margin: 0 0 11px;
}

#quote {
	margin: 0 0 30px;
	padding: 20px 0 0 0;
	font-size: .94em;
}

/* Sidebar Navigation */

/* ==================== */

#side_nav   {
    width: 170px;
	border-right:1px dashed #EEEFF1;
    font-size:12px;
    margin: 30px 50px 20px 0px;
}

#side_nav ul    {
    list-style-type: none;
    margin-left: 0px;
    margin-bottom: 10px;
    font-size: 12px
}

#side_nav li    {
	margin-bottom:5px;
	background-image: url(/static/images/tab-bg.png);
    height: 42px;
    width: 119px;
    line-height: 42px;
    overflow: visible;
}

#side_nav li:hover  {
    background: url(/static/images/tab-hver.png);
}

#side_nav li a  {   
	padding-left:10px;
    text-decoration: none;
    color: #525252;
    display: block
}

#side_nav li a:hover    {
    color: #005A8C;
}

#content    {
    width: 710px;
    float: left;
    margin-bottom: 75px;
    margin-top: 30px;
    position: relative
}

#content.full   {
    width: 950px;
}

#content .bottom_cta {
    text-align: center
}


#content .bottom_cta .button    {
    margin-bottom: 27px
}

.ie7 #content .bottom_cta   {
    padding-bottom: 75px
}

.short_video.launch_video, .short_video.launch_security_video, .short_video.video_popup {
    font-size: 12px;
    background: url(../../images/rd/global/short_video.png) 0% 50% no-repeat;
    padding-left: 20px
}

.top_cta_text   {
    text-align: right;
    font-size: 12px ;
    position: absolute;
    top: -28px;
    right: 0
}

.top_cta.more   {
    font-size: 12px
}

.content_right_column   {
    float: right;
    width: 230px;
    margin: 0px 0px 0px 40px
}

.content_right_column h4 {
    font-size: 20px;
    margin-bottom: 10px
}

.content_right_column p {
    font-size: 14px
}

#leftProf{

}

#rightProf{
background:#FDFDFD;
float:right;
right:190px;
width:300px;
padding:8px;
border:1px solid #dddddd;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
z-index:200;
}

#cv{
	padding:15px;
	width:590px;
	float:left;
	background:#ffffff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px; 
	-webkit-box-shadow: inset 0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.2); 
}

#cv #name{
	font-size:18px;
	color:#888889;
}

#cv .cv-title{
	font-size:16px;
	color:#828282;
}

/*CV Builder*/
.viewing_details{
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	border-radius: 8px;
	background:#ffffff;
	border: 1px solid #BDBDBD; 
	min-height: 20px;
	padding: 10px;
	cursor: pointer;
	width: 930px;
}
.viewing_details p{
	color: #000000;
}
.section_details input{
	width: 375px;
}
.section_details label{
	width: 115px;
}
.section_details .short-details {
	width: 115px;
}
.section_details{
	width: 540px;
}

#box-table-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 0px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
#box-table-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 4px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
#box-table-a td
{
	padding: 4px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#box-table-a tr:hover td
{
	background: #d0dafd;
	color: #339;
}


#import{
background:#FDFDFD;
float:right;
right:190px;
width:200px;
padding:5px;
border:1px solid #dddddd;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
z-index:200;
}

#proptitle{
background:#bebebe;
font-size:18px;
height:30px;
padding-top:8px;
color:#ffffff;
text-align:center;
}

.import_facebook{
width:100%;
float:left;
padding-top:5px;
padding-bottom:10px;
border-bottom:1px dashed #bebebe;
}

#facebk_img{
width:189px;
height:33px;
}

.import_linkedIn{
width:100%;
float:left;
padding-top:5px;
padding-bottom:1px dashed #bebebe;
}

.prof_details{
width:100%;
float:left;
margin-top:5px;
border-bottom:1px dashed #aeaeae;
}

.prof_details .section-title{
font-size:14px;
font-weight:bold;
color:#2f2f2f;
}

.contacts{
float:left;
margin-left:10px;
line-height:2em;
color:#1898d1;
font-weight:bold;
}

.contacts b{
color:#2f2f2f;
}

.prof_details p{
clear:both;
padding-top:5px;
color:#393939;
font-size:11px;
}

.prof_pic{
float:left;
border:3px solid #e6e6e6;
width:110px;
height:110px;
}

/* side menu */
.side-menu li { 
	list-style: none; 
	padding: 10px 4px; 
	border-bottom: 1px solid #ddd; 
}


/* forms */
fieldset {
	border: 0;
}
label { 
	display: block;
	color: #444;
	padding: 0 0 2px;
}

.textfield{
height:27px; width:286px; border:1px solid #f4f4f4;}

input.	 {
	padding: 7px 10px;
	border: 0;
	font-weight: bold;
	background: #777;
}

.text {
	background-color:#fff;
	border:1px solid #bbb;
	padding: 5px;
	color:#000;
	margin: 0 0 3px;
	height: 25px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-khtml-border-radius: 3px;
}
.text:focus {
	color: #555;
	border: 1px solid #13a1dc;
	-moz-box-shadow: 0 0 1px #63b6be;
	-webkit-box-shadow: 0 0 1px #63b6be;
	box-shadow: 0 0 1px #63b6be;
	-webkit-transition: .1s all ease-in;
}

.text, select {
  margin:0.5em 0;
}

input.title { width: 300px; padding:5px; }
input.title { font-size:1.5em; }
textarea.text { padding:5px; }

select:focus {
	outline: 1px dotted #666;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

select {
	display: inline-block;
	width: 310px;
	padding: 4px;
	height: 35px;
	line-height: 30px;
	margin: 0;
	outline: none;
	background-color: white;
	border: 1px solid #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

label{ 
	display: block; 
	float: none; 
	margin: 0 0 .5em 0;
	padding: 0 0 2px; 
	line-height: 100%; 
	width: auto; 
	color: #444;
}

.formHint{ 
	height: 18px; 
	margin: 0;
	clear: none; 
}

.ctrlHolder{
	min-height: 92px;
}

.formhead{
padding-bottom:10px;
border-bottom:1px solid #e7e8e8;
}

.rightside{
clear:both;
float:right;
margin-right:40px;
margin-top:-223px;
}

.rightside2{
clear: left;
float: right;
margin-right: 56px;
margin-top: -450px;
}

/*Question*/
#question {
float:left;
width:600px;
}

.questions{
float:left;
padding-left:10px;
line-height:3em;
width:700px;
}

#login_to_test{
width:204px;
float:left;
margin-left:200px;
text-align:center;
}

.progress{
float:left;
background:url(/static/images/progress.jpg) no-repeat;
width:270px;
height:30px;
padding-bottom:4px;
}

.progress b{
float:left;
margin-left:84px;
padding-top:3px;
color:#ffffff;
font-size:16px;
}

.verthor {
float:left;
margin-top:50px;
background:url(/static/images/verthor.jpg);
width:7px;
height:271px;}

/*Note*/
#note {
margin-top:55px;
float:right;
background-image:url(/static/images/note_bg.png);
background-repeat:none;
width:336px;
height:170px;
}

#note #note_title {
padding-top:10px;
padding-left:15px;
padding-bottom:5px;
font-size:22px;
color:#888888;
}

#note_body {
width:300px;
font-size:12px;
line-height:1.8em;
color:#a6a6a6;
}

#note_body li {
padding-left:15px;
list-style:none;
}

#sanswer {
background:url(/static/images/answer.png) no-repeat; 
width:104px; 
height:35px;
border:none;
margin-right:20px;
padding-bottom:6px;
color:#848484;
}


#create_bg{
background:#ffffff;
-webkit-box-shadow: inset -0.5px -0.5px 1px 1px rgba(0, 0, 0, 0.2);
-moz-box-shadow: inset -0.5px -0.5px 1px 1px rgba(0, 0, 0, 0.2);
box-shadow: inset -0.5px -0.5px 1px 1px rgba(0, 0, 0, 0.2);
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
padding:10px;
float:left;
width:600px;
}

#dashboard_bg{
background:#fcfcfc;
-webkit-box-shadow: inset -0.5px -0.5px 1px 1px rgba(0, 0, 0, 0.2);
-moz-box-shadow: inset -0.5px -0.5px 1px 1px rgba(0, 0, 0, 0.2);
box-shadow: inset -0.5px -0.5px 1px 1px rgba(0, 0, 0, 0.2);
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
padding:10px;
float:left;
width:600px;
}

#edittest_bg{
	background:#ffffff;
	-webkit-box-shadow: inset -0.5px -0.5px 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset -0.5px -0.5px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset -0.5px -0.5px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 9px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding:10px;
}

#create_bg input{
-webkit-box-shadow: inset -0.5px -0.5px 1px 1px rgba(0, 0, 0, 0.2);
-moz-box-shadow: inset -0.5px -0.5px 1px 1px rgba(0, 0, 0, 0.2);
box-shadow: inset -0.5px -0.5px 1px 1px rgba(0, 0, 0, 0.2);
}

#feedback_form{
background:#ffffff;
-webkit-box-shadow: inset -0.5px -0.5px 1px 1px rgba(0, 0, 0, 0.2);
-moz-box-shadow: inset -0.5px -0.5px 1px 1px rgba(0, 0, 0, 0.2);
box-shadow: inset -0.5px -0.5px 1px 1px rgba(0, 0, 0, 0.2);
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
padding:10px;
float:left;
width:940px;
min-height: 350px;
}

#feedback_form label{
float:left;
padding-bottom:30px;
}

#feedback_form  a {text-decoration: underline;}
#feedback_form  a:hover {color:#2EA9DF;}

#feedback_form span{
float:left;
clear:both;
margin-left:10px;
color:#717171;
font-weight:bold;
}

#comment{
float:left;
clear:both;
margin-top:10px;
margin-left:10px;
}

#feedback_form button{
float:left;
clear:both;
margin-left:10px;
margin-top:20px;
}

/*Button*/

#create_question{
background: rgb(63,190,248); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(63,190,248,1) 0%, rgba(83,203,241,1) 40%, rgba(25,159,218,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,190,248,1)), color-stop(40%,rgba(83,203,241,1)), color-stop(100%,rgba(25,159,218,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(63,190,248,1) 0%,rgba(83,203,241,1) 40%,rgba(25,159,218,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(63,190,248,1) 0%,rgba(83,203,241,1) 40%,rgba(25,159,218,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(63,190,248,1) 0%,rgba(83,203,241,1) 40%,rgba(25,159,218,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(63,190,248,1) 0%,rgba(83,203,241,1) 40%,rgba(25,159,218,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fbef8', endColorstr='#199fda',GradientType=0 ); /* IE6-9 */
width:145px;
height:27px;
border:none;
color:#ffffff;
display:inline-block;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0.5px 0.5px 2px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0.5px 0.5px 2px 2px rgba(0, 0, 0, 0.2);
box-shadow: 0.5px 0.5px 2px 2px rgba(0, 0, 0, 0.2);
}

.green{background:#7ab201;background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#7ab201),color-stop(100%,#659401));background:-webkit-linear-gradient(#7ab201,#659401);background:-moz-linear-gradient(#7ab201,#659401);background:-o-linear-gradient(#7ab201,#659401);background:-ms-linear-gradient(#7ab201,#659401);background:linear-gradient(#7ab201,#659401);width:auto;height:28px;border:1px solid #8a8a8a;padding:4px 10px;-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;-moz-box-shadow:inset 0 1px 0 #edffc7;-webkit-box-shadow:inset 0 1px 0 #edffc7;-o-box-shadow:inset 0 1px 0 #edffc7;box-shadow:inset 0 1px 0 #edffc7;font-size:14px;font-weight:normal;font-family:myriad-pro;color:white;text-shadow:0 -1px 0 #4a6c01;cursor:pointer;margin:5px;}

.blue{background:#00a3e7;background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#00a3e7),color-stop(100%,#018cc6));background:-webkit-linear-gradient(#00a3e7,#018cc6);background:-moz-linear-gradient(#00a3e7,#018cc6);background:-o-linear-gradient(#00a3e7,#018cc6);background:-ms-linear-gradient(#00a3e7,#018cc6);background:linear-gradient(#00a3e7,#018cc6);width:auto;height:28px;border:1px solid #0180b5;padding:4px 10px;-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;-moz-box-shadow:inset 0 1px 0 #d2f1fe;-webkit-box-shadow:inset 0 1px 0 #d2f1fe;-o-box-shadow:inset 0 1px 0 #d2f1fe;box-shadow:inset 0 1px 0 #d2f1fe;font-size:14px;font-weight:normal;font-family:myriad-pro;color:white;text-shadow:0 -1px 0 #015b81;cursor:pointer;margin:5px;}

#create_question span{
float:right;
padding-top:3px;
margin-right:12px;
}

#create_question img{
float:left;
padding-top:2px;
margin-left:4px;
}

#add_from_lib{
margin-left:20px;
margin-top:-4px;
margin-right:10px;
float:left;
width:145px;
height:27px;
border:none;
color:#ffffff;
background: #d2ff52; /* Old browsers */
background: -moz-linear-gradient(top,  #d2ff52 0%, #91e842 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ff52), color-stop(100%,#91e842)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* IE10+ */
background: linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0.5px 0.5px 2px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0.5px 0.5px 2px 2px rgba(0, 0, 0, 0.1);
box-shadow: 0.5px 0.5px 2px 2px rgba(0, 0, 0, 0.1);
}
#dateRange-holder{float: right; padding:0; margin-top:10px; width:300px;}
#content-header table {margin:5px 5px 30px 5px; color: #666666;}
#content-header  td, th{line-height: 30px; border-bottom: #DDDDDD 1px solid ;}
.mini-widget{-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin: 20px 5px 10px 5px; background-color:#F3F7F9; position: relative; float:left; width:290px;}
.mini-widget h3{line-height: 40px; margin: 15px 10px 0 10px;}
.mini-widget p{line-height: 30px; margin: 0 10px 15px 10px;}

.dottedline{border-bottom:1px dashed #aeaeae; min-height;10px;}
.activities{border-bottom: #DDDDDD 1px solid ;}
.activities i{font-size: 9px; text-decoration:none;}


/* The Slot */
.slot{
float:left;
width:230px;
}

.slot label{
float:left;
}

.slot input[type="checkbox"]{
float:right;		
}

.slot p{
clear:both;
float:left;
color:#bababa;
}

.slot input {
clear:both;
margin-left:0;
}

.row{
clear:both;
height:153px;
padding:10px;
float:left;
text-align:left;
}

#edit_bg{
background:#ffffff;
-webkit-box-shadow: inset -0.5px -0.5px 1px 1px rgba(0, 0, 0, 0.2);
-moz-box-shadow: inset -0.5px -0.5px 1px 1px rgba(0, 0, 0, 0.2);
box-shadow: inset -0.5px -0.5px 1px 1px rgba(0, 0, 0, 0.2);
-webkit-border-radius: 8x;
-moz-border-radius: 8px;
border-radius: 8px;
padding:10px;
margin-top:40px;
}

.title_edit{
background-color:#f6f6f6;
height:30px;
padding-top:10px;
float:left;
width:100%;
}

.title_edit .text{
padding:4px;
float:left;
}

.title_edit .text2{
padding:4px;
float:right;
}
.title_edit p {line-height:30px;}

#testlist{
height:150px;
}
#testlist li{background-color:#F3F7F9; margin-top: 10px; list-style-type:none;}
.question_header p{ line-height: 48px;}

#expandable-section{
background-color:#f6f6f6;
}

#expandable_section div{
padding:10px;
text-align:left;
color:#b4d82c;
}

/*More form styling*/
  	
#loginForm {background:url(/static/images/form-bg.jpg) no-repeat; width:562px; height:245px; margin:0 auto 0 auto; padding:20px}
#notFound{
	background-color: #ffffff; 
	border-width: 1px; 
	border-color: #fff2ed; 
	-moz-border-radius: 12px; 
	-webkit-border-radius: 12px; 
	border-radius: 12px;
	-webkit-box-shadow: 0.5px 0.5px 3px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0.5px 0.5px 3px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0.5px 0.5px 3px 1px rgba(0, 0, 0, 0.2);
	width:321px; 
	height:186px; 
	margin:0 auto 0 auto;
	padding-left:30px; 
	clear:both;/*padding-right:20px;*/ 
	padding-bottom:20px; 
	padding-top:20px; 
	margin-bottom:10px;
}
#notFound h2 {color:#555; margin:0; display:block; width:180px; float:left; font-size:14px;}
#signupForm {
	background-color: #ffffff; 
	border-width: 1px; 
	border-color: #fff2ed; 
	-moz-border-radius: 12px; 
	-webkit-border-radius: 12px; 
	border-radius: 12px;
	-webkit-box-shadow: 0.5px 0.5px 3px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0.5px 0.5px 3px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0.5px 0.5px 3px 1px rgba(0, 0, 0, 0.2);
	width:321px; 
	/*height:486px;*/ 
	margin:0 auto 0 auto;
	padding-left:30px; 
	clear:both;/*padding-right:20px;*/ 
	padding-bottom:20px; 
	padding-top:20px; 
	margin-bottom:10px;
}
#loginForm h2 {color:#555; margin:0; display:block; width:180px; float:left; font-size:14px;}
#signupForm h2 {color:#555; margin:0; display:block; width:180px; float:left; font-size:14px;}
p#forgotPass {clear:both; margin-right:15px; margin-top:3px; margin-bottom:10px;}
p#forgotPass a {color:#100d00;}
#registrationComplete{
	background-color: #ffffff; 
	border-width: 1px; 
	border-color: #fff2ed; 
	-moz-border-radius: 12px; 
	-webkit-border-radius: 12px; 
	border-radius: 12px;
	-webkit-box-shadow: 0.5px 0.5px 3px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0.5px 0.5px 3px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0.5px 0.5px 3px 1px rgba(0, 0, 0, 0.2);
	width:321px; 
	height:66px; 
	margin:0 auto 0 auto;
	padding-left:30px; 
	clear:both;/*padding-right:20px;*/ 
	padding-bottom:20px; 
	padding-top:20px; 
	margin-bottom:10px;
}
#registrationComplete h2 {color:#555; margin-right:10px; margin:0; display:block; float:left; font-size:14px;}
#passwordResetForm{
	background-color: #ffffff; 
	border-width: 1px; 
	border-color: #fff2ed; 
	-moz-border-radius: 12px; 
	-webkit-border-radius: 12px; 
	border-radius: 12px;
	-webkit-box-shadow: 0.5px 0.5px 3px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0.5px 0.5px 3px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0.5px 0.5px 3px 1px rgba(0, 0, 0, 0.2);
	width:321px; 
	height:86px; 
	margin:0 auto 0 auto;
	padding-left:30px; 
	clear:both;/*padding-right:20px;*/ 
	padding-bottom:20px; 
	padding-top:20px; 
	margin-bottom:10px;
}
#passwordResetForm h2 {color:#555; margin-right:10px; margin:0; display:block; float:left; font-size:14px;}
#passwordChangeForm {
	background-color: #ffffff; 
	border-width: 1px; 
	border-color: #fff2ed; 
	-moz-border-radius: 12px; 
	-webkit-border-radius: 12px; 
	border-radius: 12px;
	-webkit-box-shadow: 0.5px 0.5px 3px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0.5px 0.5px 3px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0.5px 0.5px 3px 1px rgba(0, 0, 0, 0.2);
	width:321px; 
	height:216px; 
	margin:0 auto 0 auto;
	padding-left:30px; 
	clear:both;/*padding-right:20px;*/ 
	padding-bottom:20px; 
	padding-top:20px; 
	margin-bottom:10px;
}
#passwordChangeForm h2 {color:#555; margin-right:10px; margin:0; display:block; float:left; font-size:14px;}
p#submit{float:right; padding-right:30px;}
p#forgotPass a:hover {text-decoration:none;}
div#loginContainer {clear:both; width:308px; padding-top:5px; color:#666; /*padding-left:7px*/}
div#signupContainer {clear:both; width:320px; padding-top:5px; color:#666; /*padding-left:7px*/}
p#user, p#pass, p#remember {float:left; margin-right:30px; margin-bottom:5px};

#sanswer {
background:url(/static/images/answer.png) no-repeat; 
width:104px; 
height:35px;
}

#testbottom_buttons{margin: 20px 10px 20px 10px;}
	
/* footer */
#footer {
	width:900px;
	margin-left:200px;
	clear: both; 
	bottom:0;
	position:relative;
	color: #999; 
	/*background: url(/static/images/footertile.jpg) repeat-x;*/
	font-size: 12px;
	margin-top:10px;
	margin-bottom:20px;
}

#footer .logo_small{
background:url(/static/images/logo_small.gif) no-repeat;
float:left;
width:109px;
height:22px;
}

#footer ul{
float:left;
padding-left:14px;
padding-top:2px;
}

#footer ul li{
float:left;
margin-right:14px;
list-style:none;
}

#footer .copyright{
clear:both;
float:left;
padding-top:10px;
}

#footer a { 
	color: #999; 
	margin: 0 5px 0 0; 
	padding: 6px 0;
	border: 1px solid transparent;
}

#footer a:hover {
	border-color: #555;
}
#fleft {
	clear: both;
	padding: 25px 0 0;
	font-size: .94em;
}

#copy {
	color: #777; font-size: 1.5em; 
}
#copy span { 
	color: #999; 
}