{% extends "records/records_base.html" %}

{% block page-title %}Doctors{% endblock page-title %}

{% block container %}
	<div class="back-button">
		<a href="/">
			<img src="{{ STATIC_URL }}images/swap-left.png">
		</a>
	</div>
	<div class="menu-tiles">    	
	    <div class="tiles">
	    	<legend>doctors</legend>
	    	<div class="tile-container">
	    		<table class="table table-font table-bordered ">
	    			<thead>
	    				<tr>	
	    					<th>Practice Number</th>
	    					<th>Name</th>
	    					<th>Facility</th>
	    					<th>Specialities</th>
	    					<th>Primary</th>
	    				</tr>
	    			</thead>
	    			<tbody>
	    				{% for doctor in doctors%}
		    				<tr>
		    					<td>{{doctor.provider.practice_number}}</td>
		    					<td class="link-column">
		    						<a href="profile.html">
		    							{{doctor.provider.user.full_name}}
		    						</a>
		    					</td>
		    					<td>{{doctor.provider.facility}}</td>
		    					<td>{{doctor.provider.speciality.all|join:", "}}</td>
		    					<td>{{doctor.primary}}</td>
		    				</tr>
		    			{% endfor %}
	    			</tbody>
	    		</table>
			</div>
	    </div>
	</div>
{% endblock container %}