{% extends "app_base.html"%}

{% block extracss-inline %}
	#show-in-calendar{
		margin-top: 10px;
	}
	.show legend{
		margin-bottom: 10px;
	}
	.show.label{
		float: right;		
		margin-top: 2px;
	}
	.show.select input{
		margin-right: 10px;
	}
	.show.select{
		float: left;
		clear:both;
	}
{% endblock extracss-inline %}

{% block extracss-links %}
	<link rel='stylesheet' href='{{ STATIC_URL }}css/fullcalendar.css' type='text/css' media='screen' />
	<link rel='stylesheet' href='{{ STATIC_URL }}css/jquery-ui-1.8.17.custom.css' type='text/css' media='screen' />
	<link rel='stylesheet' href='{{ STATIC_URL }}css/fullcalendar.print.css' type='text/css' media='print' />
{% endblock extracss-links %}

{% block extrajs-global %}
	function init_calendar(){
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		if ($('#calendar').size() == 0){
			return false;
		}
	
		$('#calendar').fullCalendar({ 
			header: {
				left: 'title',
				center: 'month,basicWeek,basicDay',
				right: 'prev,next'
			},
			editable: true,
			events: [
				{% for event in events %}
					{
						title: {{ event.title }},
						start: new Date({{ event.date_held }}),
						allDay: {{ event.all_day }},
					}
				{% endfor %}
			]
		 });
	}
{% endblock extrajs-global %}

{% block extrajs-jquery-enclosed %}
	init_calendar();
{% endblock extrajs-jquery-enclosed %}

{% block extrajs-jquery-plugins %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.17.custom.min.js" ></script>
	<script type='text/javascript' src='{{ STATIC_URL }}js/fullcalendar.min.js'></script>	
{% endblock extrajs-jquery-plugins %}

{% block container-left %}
	<div class="show" id="show-in-calendar">
		<legend>Show</legend>
		<div class="show select">
			<label class="show label">Immunizations</label><input type="checkbox" name="immunizations"/>
		</div>
		<div class="show select">
			<label class="show label label-success">Lab Results</label><input type="checkbox" name="lab-results"/>
		</div>
		<div class="show select">
			<label class="show label label-warning">Medications</label><input type="checkbox" name="medications"/>
		</div>
		<div class="show select">
			<label class="show label label-important">Surgeries</label><input type="checkbox" name="surgeries" />
		</div>
		<div class="show select">
			<label class="show label label-info">Tracking Records</label><input type="checkbox" name="tracking-records" />
		</div>
	</div>
	<div class="show" id="reminders" style="margin-top:20px">
		<legend>Reminders</legend>
		You have no reminders at this time
	</div>
	<div class="show" id="reminders" style="margin-top:10px">
		<a id="id-add-encounter" class="btn btn-primary">Add Appointment</a>
	</div>
{% endblock container-left %}

{% block container-right %}
	<div id="calendar" class="calendar-wrapper"></div>
{% endblock container-right %}
