 {% extends "records/records_base.html" %}

{% block page-title %}Doctors{% endblock page-title %}

{% block container %}
	<div class="back-button">
		<a href="/">
			<img src="{{ STATIC_URL }}images/swap-left.png">
		</a>
	</div>
	<div class="menu-tiles">    	
	    <div class="tiles">
	    	<legend>reminders</legend>
	    	<div class="tile-container">
	    		<div class="calendar-entry">
		    		<div class="calendar reminder-calendar">
	    				<div class="calendar-day" style="text-transform:lowercase;">Thu</div>
	    				<div class="calendar-date">8</div>
	    			</div>
	    			<ol class="reminder-entries">
		    			<li>Meeting with Juma Karim</li>
		    			<li>The End of the meeting</li>
		    		</ol>
	    		</div>
			</div>
	    </div>
	</div>
{% endblock container %}