 {% extends "records/records_base.html" %}

{% block page-title %}Doctors{% endblock page-title %}

{% block container %}
	<div class="back-button">
		<a href="/">
			<img src="{{ STATIC_URL }}images/swap-left.png">
		</a>
	</div>	
	<div class="menu-tiles">    	
	    <div class="tiles">
	    	<legend>reminders</legend>
	    	<div class="tile-container">
	    		{% for date, reminders in dates %}
		    		<div class="calendar-entry">
			    		<div class="calendar reminder-calendar">
		    				<div class="calendar-day" style="text-transform:lowercase;">{{ date|date:"D" }}</div>
		    				<div class="calendar-date">{{ date|date:"j" }}</div>
		    			</div>
		    			<ol class="reminder-entries">
		    				{% for reminder in reminders %}
				    			<li>{{ reminder.text }}</li>
				    		{% empty %}
				    			<em>No Reminders</em>
				    		{% endfor %}
			    		</ol>
		    		</div>
	    		{% endfor %}
			</div>
	    </div>
	</div>	
{% endblock container %}