{% extends "app_base.html" %}

{% block extracss-links %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/rickshaw.min.css">
{% endblock extracss-links %}

{% block extracss-inline %}
	.tabbable, .chart-contents, .tabpane, .tab-content{
		overflow: hidden;
	}
	.chart-contents{		
		height: 346px;
	}
	.chart-area{
		margin-left: 10px;
	}
{% endblock extracss-inline %}

{% block extrajs-jquery-enclosed %}
	$('.btn-edit').tooltip({animation:true, placement:'right'});
{% endblock extrajs-jquery-enclosed %}

{% block extrajs-jquery-plugins %}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock extrajs-jquery-plugins %}

{% block extrajs-global %}	
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	function drawChart() {
		{% for chart in charts %}
			{% if chart.data %}
				var dataarray = {% autoescape off %}{{ chart.data}}{% endautoescape %};
				
				if (dataarray.length > 0){
					var data{{ forloop.counter }} = google.visualization.arrayToDataTable(dataarray);
					var options{{ forloop.counter }} = {
						title: '{{ chart.title }}',
						animation: {
							duration: 2
						},
						vAxis:{ 
							title: '{{ chart.vaxis.0.unit }}',
							gridlines: {count: 4}							
						},
						hAxis:{ 
							title: '{{ chart.haxis }}',
							gridlines: {count: 4}
						}
					};

					var chart{{ forloop.counter}} = new google.visualization.LineChart(document.getElementById('{{chart.label}}-chart'));
					chart{{ forloop.counter}}.draw(data{{ forloop.counter }}, options{{ forloop.counter }});
				}
			{% endif %}
		{% endfor %}
	}		
{% endblock extrajs-global %}	

{% block container %}
	{% if request.session.use_page_as == 'patient' %}
		<legend>Welcome, {{ request.user.patient }}</legend>
		<div>
			<div class="well" style="border-radius: 0px;">
				<h4>Welcome to your Dashboard</h4>
				This dashboard contains all the information needed to track and manage your TextMaster activity; get new tasks and track your production records.
			</div>
		</div>
		{% if messages %}
			<div class="info">
				{{ message.content }}
			</div>
		{% endif %}
			<div class="pull-left span3" style="padding-right:10px; margin-left: 0px; border-right: 1px solid #DDD;">
				<div style="margin-left: 0px;">
					<table class="table pull-left">
						<tr>
							<td style="border-top:none" colspan="2">
								<h3 class="pull-left">My User Profile</h3>
								<a class="btn-edit pull-right" href="{% url settings %}" rel="tooltip" title="Edit">
									<i class="icon-edit icon-black" style="margin-top: 8px;margin-right: -4px;"></i>
								</a>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								{{ request.user.full_name }}
							</td>
						</tr>
						<tr>
							<td colspan="2">
								{{ request.user.profile.email }}
							</td>
						</tr>
						<tr>
							<td colspan="2">
								{{ request.user.profile.mobile_phone }}
							</td>
						</tr>
						<tr>
							<td colspan="2">
								#{{ request.user.profile.national_id }}
							</td>
						</tr>
						<tr><td></td></tr>
						<tr>							
							<td style="border-top:none" colspan="2">
								<h3 class="pull-left">My Medical Profile</h3>
								<a class="btn-edit pull-right" href="{% url settings %}" rel="tooltip" title="Edit">
									<i class="icon-edit icon-black" style="margin-top: 8px;margin-right: -4px;"></i>
								</a>
							</td>
						</tr>
						
						<tr>
							<td style="width:100px">
								<strong>Sex:</strong>
							</td>
							<td>
								{{ request.user.patient_set.getget_gender_display}}
							</td>
						</tr>
						<tr>
							<td style="width:100px">
								<strong>Age:</strong>
							</td>
							<td>
								{{request.user.patient_set.getdate_of_birth|timesince}}
							</td>
						</tr>
						<tr>
							<td style="width:100px">
								<strong>Blood group:</strong>
							</td>
							<td>
								{{ request.user.patient_set.getget_blood_group_display }}
							</td>
						</tr>
						<tr>
							<td style="width:100px">
								<strong>Weight:</strong>
							</td>
							<td>
								{{ request.user.patient_set.getweight }} kg
							</td>
						</tr>
						<tr>
							<td style="width:100px">
								<strong>Height:</strong>
							</td>
							<td>
								{{ request.user.patient_set.getheight }} cm
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="chart-area pull-left span9">
				<h2>Track Vitals</h2>
				<div class="tabbable">
				  <ul class="nav nav-tabs">
					{% for item in items %}
						<li {% if forloop.first %}class="active"{% endif %}><a href="#tab{{ forloop.counter }}" data-toggle="tab">{{ item.name }}</a></li>						
					{% endfor %}
				  </ul>
				  <div class="tab-content">
					{% for item in items %}
						<div class="tab-pane{% if forloop.first %} active{% endif %}" id="tab{{ forloop.counter }}">
							<div id="{{ item.slug }}-chart" class="chart-contents"></div>
						</div>
					{% empty %}
						<li>No Data Found</li>
					{% endfor %}
				  </div>
				</div>
			</div>
		{% endif %}
{% endblock container %} 