{% extends "app_base.html" %}

{% block extracss-links %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/rickshaw.min.css">
{% endblock extracss-links %}

{% block extracss-inline %}
	.tabbable, .chart-contents, .tabpane, .tab-content{
		overflow: hidden;
	}
	.chart-contents{		
		height: 346px;
	}
	.chart-area{
		margin-left: 10px;
	}
    #charts.table tbody tr:hover td, #charts.table tbody tr:hover th{
        background-color: white;
    }
{% endblock extracss-inline %}

{% block extrajs-jquery-enclosed %}
	$('.btn-edit').tooltip({animation:true, placement:'right'});
{% endblock extrajs-jquery-enclosed %}

{% block extrajs-jquery-plugins %}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock extrajs-jquery-plugins %}

{% block container %}
    <legend>Welcome, {{ request.user.get_full_name }}</legend>		
    {% if messages %}
        <div class="info">
            {{ message.content }}
        </div>
    {% endif %}
	{% if request.session.use_page_as == 'patient' %}		
			<div class="pull-left span3" style="padding-right:10px; margin-left: 0px; border-right: 1px solid #DDD;">
				<div style="margin-left: 0px;">
					<table class="table pull-left">
						<tr>
							<td style="border-top:none" colspan="2">
								<h3 class="pull-left">My User Profile</h3>
								<a class="btn-edit pull-right" href="{% url settings %}" rel="tooltip" title="Edit">
									<i class="icon-edit icon-black" style="margin-top: 8px;margin-right: -4px;"></i>
								</a>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								{{ request.user.full_name }}
							</td>
						</tr>
						<tr>
							<td colspan="2">
								{{ request.user.profile.email }}
							</td>
						</tr>
						<tr>
							<td colspan="2">
								{{ request.user.profile.mobile_phone }}
							</td>
						</tr>
						<tr>
							<td colspan="2">
								#{{ request.user.profile.national_id }}
							</td>
						</tr>
						<tr><td></td></tr>
						<tr>							
							<td style="border-top:none" colspan="2">
								<h3 class="pull-left">My Medical Profile</h3>
								<a class="btn-edit pull-right" href="{% url settings %}" rel="tooltip" title="Edit">
									<i class="icon-edit icon-black" style="margin-top: 8px;margin-right: -4px;"></i>
								</a>
							</td>
						</tr>
						
						<tr>
							<td style="width:100px">
								<strong>Sex:</strong>
							</td>
							<td>
								{{ request.user.patient_set.get.get_gender_display}}
							</td>
						</tr>
						<tr>
							<td style="width:100px">
								<strong>Age:</strong>
							</td>
							<td>
								{{request.user.patient_set.get.date_of_birth|timesince}}
							</td>
						</tr>
						<tr>
							<td style="width:100px">
								<strong>Blood group:</strong>
							</td>
							<td>
								{{ request.user.patient_set.get.get_blood_group_display }}
							</td>
						</tr>
						<tr>
							<td style="width:100px">
								<strong>Weight:</strong>
							</td>
							<td>
								{{ request.user.patient_set.get.weight }} kg
							</td>
						</tr>
						<tr>
							<td style="width:100px">
								<strong>Height:</strong>
							</td>
							<td>
								{{ request.user.patient_set.get.height }} cm
							</td>
						</tr>
					</table>
				</div>
			</div>
        {% endif %}
			<div class="chart-area pull-left span9">
				<div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#vitals" data-toggle="tab">My Vitals</a></li>
                        <li><a href="#shared-records" data-toggle="tab">Shared Records</a></li>
                        <li><a href="#diagnosis" data-toggle="tab">Diagnostic Questionnaires</a></li>
                        <li><a href="#my-responses" data-toggle="tab">Responses</a></li>                        
                        <li><a href="#prescripions" data-toggle="tab">Prescriptions</a></li>
                        <li><a href="#enrolled-programs" data-toggle="tab">Programs</a></li>                        
                        <li><a href="#test-results" data-toggle="tab">Test Results</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="vitals">
                            <table id="charts" class="table">
                                <tr style="height:190px">
                                    <td>
                                        <div class="span5">
                                            <img src="http://chart.apis.google.com/chart?chxs=1,FFFFFF,0,0,_&chf=b0,lg,270,6a869f,0,1e486f,1&chxr=0,0,45,5|0,0,31,5&chxt=x,y&chbh=a,1,1&chs=360x140&cht=bvg&chco=3366CC&chds=0,120&chd=t:10,50,60,80,40,60,30,10,50,120,80,40,60,100,10,50,60,80,40,60,30,10,50,60,80,40,60,30&chma=5,5,5,5&chtt=Monthly+Body+Temprature&chts=070607,14.5"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="span6">
                                            <img src="http://chart.apis.google.com/chart?chxs=1,FFFFFF,0,0,_&chf=b0,lg,270,6a869f,0,1e486f,1&chxr=0,0,45,5|0,0,31,5&chxt=x,y&chbh=a,1,1&chs=360x140&cht=bvg&chco=3366CC&chds=0,120&chd=t:10,50,60,80,40,60,30,10,50,120,80,40,60,100,10,50,60,80,40,60,30,10,50,60,80,40,60,30&chma=5,5,5,5&chtt=Monthly+Body+Temprature&chts=070607,14.5"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr style="height:190px">
                                    <td>
                                        <div class="span5">
                                            <img src="http://chart.apis.google.com/chart?chxs=1,FFFFFF,0,0,_&chf=b0,lg,270,6a869f,0,1e486f,1&chxr=0,0,45,5|0,0,31,5&chxt=x,y&chbh=a,1,1&chs=360x140&cht=bvg&chco=3366CC&chds=0,120&chd=t:10,50,60,80,40,60,30,10,50,120,80,40,60,100,10,50,60,80,40,60,30,10,50,60,80,40,60,30&chma=5,5,5,5&chtt=Monthly+Body+Temprature&chts=070607,14.5"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="span6">
                                            <img src="http://chart.googleapis.com/chart?chxt=x,y&chxs=1,FFFFFF,0,0,_&chxp=1,50&chbh=a&chs=360x140&chxl=0:|Su|Mo|Tu|We|Th|Fr|Sa|&cht=bvg:nda&chco=1e486f&chf=b0,lg,270,6a869f,0,1e486f,1&chtt=Daily+Body+Temprature&chd=t:10,50,60,80,40,60,30"/>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane" id="shared-records">
                            <div class="">Nes</div>
                        </div>
                        <div class="tab-pane" id="diagnosis">    
                            {% if diagnosisquestionnaires %}
                                <div style="margin:5px; font-size:11px">
                                    <strong>
                                        Below are a couple of Questionnaires you have been required to fill by your Doctor
                                        for your diagnosis
                                    </strong>
                                </div>
                            {% endif %}
                            <table class="table table-striped table-condensed">
                                {% for diagnosisquestionnaire in diagnosisquestionnaires %}
                                    <tr>
                                        <td style="margin-top:15px">
                                            <div class="pull-left">
                                                {{ diagnosisquestionnaire.title }}
                                            </div>
                                            <div class="pull-right">
                                                <a href="{{ diagnosisquestionnaire.get_absolute_url }}" class="btn btn-success">Fill Questionnaire</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <center style="margin-top:150px"><strong>No forms to fill now.</strong></center>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="tab-pane" id="my-records">
                            <div class="">Nes</div>
                        </div>
                        <div class="tab-pane" id="prescripions">
                            <div class="">Ian</div>
                        </div>
                        <div class="tab-pane" id="enrolled-programs">
                            <div class="">Nes</div>
                        </div>
                        <div class="tab-pane" id="my-responses">
                            <table class="table table-stripped">
                                <thead>
                                    <tr>
                                        <th>Question</th>
                                        <th>Answer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for response in questionnairefieldresponse%}
                                        <tr>
                                            <td>{{ a }}</td>
                                            <td>{{ a }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="test-results">
                            <div class="">Ian</div>
                        </div>
                    </div>
				</div>
			</div>
		
{% endblock container %} 