{% extends "records/list_base.html" %}

{% block header %}
	Immunizations
{% endblock header %}

{% block action-buttons %}
	<a href="{% url immunization-create %}" class="btn pull-right" rel="tooltip" title="Add New">
		<i class="icon-plus-sign"></i>
	</a>
{% endblock action-buttons %}

{% block table-list %}
	{% if immunizations %} 
		<table class='table'>
			<tr>				
				{% if not request.session.use_page_as == 'patient' %}
					<th>Code</th>
					<th>Patient</th>
					<th>Delivery</th>
					<th>Duration</th>
				{% endif %}
				<th>Provider</th>
				{% if not request.session.use_page_as == 'patient' %}
					<th>Brand name</th>					
				{% else %}
					<th>Name</th>
				{% endif %}				
				<th>Administered</th>
				<th>Follow up</th>
				<th></th>
			</tr>
			{% for immunization in immunizations %}
				<tr>
					{% if not request.session.use_page_as == 'patient' %}
						<td>{{immunization.code}}</td>
						<td>{{immunization.user}}</td>						
						<td>{{immunization.get_mode_of_delivery_display}}</td>
						<td>{{immunization.duration_of_protection|default:'Not specified'}}{% if immunization.duration_of_protection %} years{% endif %}</td>
					{% endif %}
					<td>{{immunization.provider}}</td>
					<td>{{immunization.brand_name}}</td>					
					<td>{{immunization.start_time|date:"SHORT_DATE_FORMAT"}}</td>
					<td>{{immunization.follow_up_date|date:"SHORT_DATE_FORMAT"}}</td>
					<td>
						<div class="btn-group">
							<a class="btn btn-info" href="{% url immunization-edit immunization.pk %}">Edit</a>
							<a class="btn btn-danger" href="{% url immunization-delete immunization.pk %}">Delete</a>
						</div>
					</td>
				</tr>
			{% empty %}
				<tr><td colspan="2">No Immunizations Found</td></tr>
			{% endfor %}
		</table>
	{% else %}
		<div>
			No Immunizations Found
		<div>
	{% endif %}
{% endblock table-list %}