{% extends "records/list_base.html" %}
{% load i18n %}

{% block page-title %}
	Prescription List
{% endblock %}

{% block header %}
	Prescriptions
{% endblock header %}

{% block action-buttons %}
	<a href="{% url prescription-create %}" class="btn pull-right" rel="tooltip" title="Add New">
		<i class="icon-plus-sign"></i>
	</a>
{% endblock action-buttons %}

{% block table-list %}
	{% if prescriptions %} 
		<table class='table table-bordered'>
			<tr>
				<th>Provider</th>
				<th>Medication</th>
				<th>Medication Type</th>
				<th style="width: 90px;">Quantity</th>
				<th style="width: 70px;">Frequency</th>
				<th>Way Taken</th>
				<th style="width: 85px;">Date Prescribed</th>
			</tr>
			{% for prescription in prescriptions %}
				<tr>	
					<td>{{prescription.provider}}</td>
					<td>{{prescription.medication.name}}</td>
					<td>{{prescription.medication.get_medication_type_display}}</td>
					<td>{{prescription.quantity}} {{prescription.unit }}{{prescription.quantity|pluralize}}</td>
					<td>{{prescription.get_frequency_display}}</td>
					<td>{{prescription.medication.get_way_taken_display}}</td>
					<td>{{prescription.date_prescribed}}</td>
					
				</tr>
			{% empty %}
				<tr><td colspan="2">No Prescriptions Found</td></tr>
			{% endfor %}
		</table>
	{% else %}
		No Prescriptions Found
	{% endif %}
{% endblock table-list %}
