{% extends "programs/list_base.html" %}

{% block header %}
	{% if not request.session.use_page_as == 'patient' %}
		Enrolled Programs
	{% else %}
		My Programs
	{% endif %}
{% endblock header %}

{% block table-list %}
	{% if enrolledprograms %} 
		<table class='table table-bordered '>
			<tr>			
				<th>Program Name</th>
				{% if not request.session.use_page_as == 'patient' %}
					<th>Patient</th>
				{% endif %}
				<th>Enrolled by</th>
				<th>Date</th>
				<th>Date of Completion</th>
			</tr>
			{% for enrolledprogram in enrolledprograms %}
				<tr>
					<td>{{enrolledprogram.program}}</td>
					{% if not request.session.use_page_as == 'patient' %}
						<td>{{enrolledprogram.enrollee}}</td>
					{% endif %}
					<td>{{enrolledprogram.enroller}}</td>					
					<td>{{enrolledprogram.date_enrolled|date:"SHORT_DATE_FORMAT"}}</td>
					<td>{{enrolledprogram.date_completed|date:"SHORT_DATE_FORMAT"}}</td>
				</tr>
			{% empty %}
				No Enrolled Programs Found
			{% endfor %}
		</table>
	{% else %}
		No Enrolled Programs Found
	{% endif %}
{% endblock table-list %}