{% extends "programs/programs_base.html" %}

{% block container %}
	<legend style="border-bottom: None;">Your Personal Records</legend>
	<div id="medicalrecord" class="ajaxcontainer ">
		<table cellspacing="10" class="table">
			<tbody>
				<tr>
					<td style="vertical-align: top">
					<div class="highlightbox" style="width: 412px;height: 127px; position:relative">
						<h3>Programs</h3>
						<div style="clear:both; margin-bottom:20px">
							Manage and keep track of your programs
						</div>
						<a class="btn btn-success pull-right" href="{% url program-list %}">View Programs</a>
					</div></td>
					<td style="vertical-align: top">
						<div class="highlightbox" style="width: 412px;height: 127px; position:relative">
							<h3>Questionnaires</h3>
							<div style="clear:both; margin-bottom:20px">
								View all the available questionnaires for the employer
							</div>
							<a class="btn btn-success pull-right" href="{% url questionnaire-list %}">View Questionnaires</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock container %}