{% extends "programs/list_base.html" %}

{% block page-title %}
	Program Questionnaire
{% endblock page-title %}

{% block header %}
	Questionnaires
{% endblock header %}

{% block table-list %}
	{% if programquestionnaires %}
		<table class='table table-stripped table-bordered '>
			<tr>
				<th>Title</th>
				<th>Program</th>
				<th>Details</th>
				<th>Questions</th>
			</tr>
			{% for programquestionnaire in programquestionnaires %}
				<tr>	
					<td><a href="{{ programquestionnaire.get_absolute_url }}">{{programquestionnaire.title}}</a></td>
					<td>{{programquestionnaire.program}}</td>
					<td>{{programquestionnaire.intro}}</td>
					<td>{{programquestionnaire.fields.count}}</td>
				</tr>
			{% empty %}
				<tr><td colspan="2">No Questionnaire Found</td></tr>
			{% endfor %}
		</table>
	{% else %}
		<div>
			No Questionnaire Found
		</div>
	{% endif %}
{% endblock table-list %}