{% extends "programs/list_base.html" %}

{% block header %}
	Programs
{% endblock header %}

{% block action-buttons %}
    {% if not request.session.use_page_as == 'patient' %}
        <a href="{% url program-create %}" class="btn pull-right" rel="tooltip" title="Add New">
            <i class="icon-plus-sign"></i>
        </a>
    {% endif %}
{% endblock action-buttons %}

{% block table-list %}
	{% if programtests %}
		<table class='table table-stripped table-bordered'>
			<tr>
				<th>Name</th>
			</tr>
			{% for program in programtests %}
				<tr>	
					<td>{{program.name}}</td>
					<td>
						<div class="btn-group">
							<a class="btn btn-primary" href="{% url program-edit program.pk %}">Edit</a>
							<a class="btn btn-primary" href="{% url program-delete program.pk %}">Delete</a>
						</div>
					</td>
				</tr>
			{% empty %}
				<div>No Programs Found</div>
			{% endfor %}
		</table>
	{% else %}
		No Encounters Found
	{% endif %}
{% endblock table-list %}
