{% extends "programs/list_base.html" %}

{% block header %}
	Questionnaire Responses
{% endblock header %}

{% block action-buttons %}
	{% if not request.session.use_page_as == 'patient' %}
		<a href="{% url programquestionnaire-create %}" class="btn pull-right" rel="tooltip" title="Add New">
			<i class="icon-plus-sign"></i>
		</a>
	{% endif %}
{% endblock action-buttons %}

{% block table-list %}
	{% if programquestionnaires %}
		<table class='table table-stripped'>
			<tr>
				<th>Title</th>
				<th>Program</th>
				<th>Published On</th>
				<th>Expires On</th>
			</tr>
			{% for programquestionnaire in programquestionnaires %}
				<tr>	
					<td><a href="{{ programquestionnaire.get_absolute_url }}">{{programquestionnaire.title}}</a></td>
					<td><a href="{% url program-detail programquestionnaire.program.pk %}">{{programquestionnaire.program}}</a></td>
					<td>{{programquestionnaire.publish_date}}</td>
					<td>{{programquestionnaire.expiry_date}}</td>
					{% if not request.session.use_page_as == 'patient' %}					
						<td>
							<div class="btn-group">
								<a class="btn btn-info" href="{% url programquestionnaire-edit programquestionnaire.pk %}">Edit</a>
								<a class="btn btn-danger" href="{% url programquestionnaire-delete programquestionnaire.pk %}">Edit</a>
							</div>
						</td>
					{% endif %}
				</tr>
			{% empty %}
				<tr><td colspan="2">No Questionnaire Responses Found</td></tr>
			{% endfor %}
		</table>
	{% else %}
		<div>
			No Questionnaire Responses Found
		</div>
	{% endif %}
{% endblock table-list %}