<script type='text/javascript'>
	$(function(){
		$('#begin-questionnaire').click(function(){
			$(this).button('loading');
			$.get(
				'{% url questionnaire-list %}'+ $questionnaire_id + '/questionset/' + $(this).attr('data-start-questionset-id'),
				function(data){
					$('#questionnaire-modal-body').html(data);					
				}
			);
		});
	});
</script>
<div class="hero-unit">
  <h1>{{ programquestionnaire.intro }}</h1>
  <p>{{ programquestionnaire.detail }}</p>
  <p>
	<a id='begin-questionnaire' autocomplete="off" data-start-questionset-id="{{ programquestionnaire.questionset_set.all.0.pk }}" data-loading-text="Loading questionnaire..." class="btn btn-primary btn-large">
		Begin Questionnaire
	</a>
  </p>
</div>