<script type='text/javascript'>
	$(function(){
		$('.questionnaire.pager #next').click(function(){
			sync();
			$.get(
				'{% url questionnaire-list %}'+ $questionnaire_id + '/questionset/' + $(this).attr('data-start-questionset-id'),
				function(data){
					$('#questionnaire-modal-body').html(data);					
				}
			);
		});
		$('.questionnaire.pager #previous').click(function(){
			sync();
			$.get(
				'{% url questionnaire-list %}'+ $questionnaire_id + '/questionset/' + $(this).attr('data-start-questionset-id'),
				function(data){
					$('#questionnaire-modal-body').html(data);
				}
			);
		});
		$('.questionnaire.pager #finish').click(function(){
			sync();
			$.post("{% url questionnaire-response %}", $questionnaire_data, function(data){
				$('#questionnaire-modal-body').html(data);
			});
		});
	});
</script>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h3>{{ questionset.questionnaire }} - {{ questionset.label }}</h3>
</div>
<form class="questionnaire-form well form-horizontal">{% csrf_token %}
	{% for question in questionset.question_set.all %}
		<div class="control-group">
			<label class="control-label"><strong>{{ question }}</strong></label>
			<div class="controls">
				{% if question.type == 'text' %}
					<input name='question-{{question.pk}}' type="text" class="input-xlarge"/>
				{% elif question.type == 'yes-no' %}
					<input name='question-{{question.pk}}' type="checkbox" class="input-xlarge"/>
				{% elif question.type == 'number' %}
					<input name='question-{{question.pk}}' type="number" class="input-xlarge"/>
				{% elif question.type == 'datetime' %}
					<input name='question-{{question.pk}}' type="datetime" class="input-xlarge"/>
				{% elif question.type == 'choice' %}
					<select name="question-{{question.pk}}" 
						{% if not question.choice_explicit %} 
							multiple="multiple">
						{% else %}
						><option value="">--</option>
						{% endif %}							
						{% for item in question.choices_list %}
							<option value="{{ item|slugify }}">{{ item }}</option>
						{% endfor %}
					</select>
				{% endif %}
			</div>
		</div>
	{% empty %}
		<div class="alert alert-info">
		  No Questions in this Section yet.
		</div>
	{% endfor %}
</form>
<ul class="questionnaire pager">
	{% if previous %}
		<li class="previous">
			<a id="previous" data-start-questionset-id="{{ previous.get.pk }}" href="#">&larr; Previous</a>
		</li>
	{% endif %}
	{% if next %}
		<li class="next">
			<a id="next" data-start-questionset-id="{{ next.get.pk }}" href="#">Next &rarr;</a>
		</li>
	{% else %}
		<li class="pull-right">
			<a style="background:#08C; color:#fff;" id="finish" data-start-questionset-id="{{ next.get.pk }}" href="#">Finish &rarr;</a>
		</li>
	{% endif %}
</ul>