{% extends "programs/list_base.html" %}

{% block page-title %}
	Vitals Questionnaire
{% endblock page-title %}

{% block header %}
	Vitals Questionnaires
{% endblock header %}

{% block table-list %}
	{% if vitalsquestionnaires %}
		<table class='table table-stripped table-bordered '>
			<tr>
				<th>Title</th>
				<th>Details</th>
				<th>Questions</th>
			</tr>
			{% for vitalsquestionnaire in vitalsquestionnaires %}
				<tr>	
					<td><a href="{{ vitalsquestionnaire.get_absolute_url }}">{{vitalsquestionnaire.title}}</a></td>
					<td>{{vitalsquestionnaire.intro}}</td>
					<td>{{vitalsquestionnaire.fields.count}}</td>
				</tr>
			{% empty %}
				<tr><td colspan="2">No Questionnaire Found</td></tr>
			{% endfor %}
		</table>
	{% else %}
		<div>
			No Questionnaire Found
		</div>
	{% endif %}
{% endblock table-list %}