{% extends 'app_base.html' %}
{% load humanize %}

{% block body-hook %}id="search"{% endblock body-hook %}

{% block extracss-links %}
	<link rel='stylesheet' href='{{ STATIC_URL }}css/Aristo.css' type='text/css' media='screen' />
{% endblock extracss-links %}

{% block extrajs-jquery-plugins %}
	{{block.super}}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.17.custom.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.select-to-autocomplete.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tinymce.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/tiny_mce_gzip.js"></script>
{% endblock extrajs-jquery-plugins %}

{% block extracss-inline %}
	.ui-autocomplete-input{
		margin-right: -3px;
	}
	.ui-menu-item{
		font-size: 36px;
	}
{% endblock extracss-inline %}

{% block extrajs-jquery-enclosed %}
	$("#id_patient").focus();
	$('#id_patient').attr({
		"autocomplete":"off",
		"placeholder":"Search Patient by Surname",
		"class":"span11",
		"type":"text",
		"name":"q"
	});
	try{$('select').selectToAutocomplete();}catch($e){}
	$("#id_patient").autocomplete();
{% endblock extrajs-jquery-enclosed %}

{% block container %}
  <div class="row">
	<div id="main-title" class="span6">
	  <h1>Uhai Search</h1>
	</div>
  </div>
  <div class="row">
	<div class="span12">
	  <div id="search-area">
		<form class="form-search" method="GET" action=".">
		  <div class="control-group">
			<div class="controls">
			  <div id="search-box" class="input-append">
				<input name="users" value="yes" type="hidden" style="display:none"/>
				{{ form.patient }}
				<button class="btn" type="submit">
					<i class="icon-big-search"></i>
					<span class="visuallyhidden">Search</span>
				</button>
			  </div>
			</div>
		  </div>
		</form>
	  </div>
	</div>
  </div>
  <div class="row">
	<div class="span12">
	  <div id="tagline">
		<p>Uhai is a new kind of wellness tracking system.</p>
	  </div>
	</div>
  </div>
	<div class="row">
		<div class="span3">
			<div class="info-box">
				{{ 322|intcomma }} <span class="info-label">client companies</span>
			</div>
		</div>
		<div class="span3">
			<div class="info-box">
				{{ 2333|intcomma }} <span class="info-label">encounters</span>      
			</div>
		</div>
		<div class="span3">
			<div class="info-box">
				{{ 8000|intcomma }} <span class="info-label">covered patients</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<div class="info-box">
				{{ 31228|intcomma }} <span class="info-label">registered programs</span>
			</div>
		</div>
	</div>
  </div>
{% endblock container %}