{% extends "app_base.html" %}

{% block page-title %}Logout{% endblock page-title %}

{% block extracss-inline %}
	.container{
		width: 803px;
	}
{% endblock extracss-inline %}

{% block container %}
	<div class="row">
		<form method="POST" action="{% url logout %}" class="form-horizontal">{% csrf_token %}
			<legend>Log out</legend>
			<input type="hidden" name="next" value="{% url index %}" />
			<fieldset>
				<p>Are you sure you want to log out?</p>
					<button type="submit" class="btn btn-primary">Log out</button>
			</fieldset>
		</form>
	</div>
{% endblock container %}