{% extends "index.html" %}
{% block title %}Inposting{% endblock %}

{% block header %}{% endblock %}

{% block pitch %}
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />

	{% if validlink %}
		<center>
			<div id="tagline">
				Password Reset <span>Confirmation</span>
			</div>
		</center>
		<form action="." method="post" accept-charset="utf-8">
			{% csrf_token %}
			<fieldset>
				<label for="id_new_password1">New password</label>
				<p>
					{{ form.new_password1 }}
					{% if form.new_password1.errors %} <span class="quiet red">
						<br />
						* {{ form.new_password1.errors|join:"; " }}</span>
					{% endif %}
				</p>
				<label for="id_new_password2">Confirm password</label>
				<p>
					{{ form.new_password2 }}
					{% if form.new_password2.errors %} 
						<span class="quiet red">
							<br />
							* {{ form.new_password2.errors|join:"; " }}
						</span>
					{% endif %}
				</p>
				{% if form.non_field_errors %}
				<ul class="quiet red">
					{{ form.non_field_errors.as_ul }}
				</ul>
				{% endif %}
			</fieldset>
			<p>
				<input type="submit" value="Change" />
			</p>
		</form>
		
		<center>
			<p>
				<span class="quiet red"><br />* {{ form.errors.as_ul }}</span>
			</p>
		</center>
	{% else %}
		<center>
			<div id="tagline">
				Password Reset<span> Unsuccessful!</span>
			</div>
			<div id="registrationComplete">
				<h2>Password reset was unsuccessful</h2>
			</div>
		</center>
	{% endif %}
{% endblock %}

{% block confidence-belt %}{% endblock %}
{% block bits %}{% endblock %}
{% block footer %}{% endblock %}

