{% extends "index.html" %}
{% block title %}Inposting{% endblock %}

{% block extrajs %}
	
{% endblock extrajs %}

{% block header %}{% endblock %}

{% block pitch %}
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<center>
		<div id="tagline">
			Password change for <span>{{ user.get_full_name }}</span>
		</div>
	</center>
	<form id="passwordChangeForm" action="." method="POST" accept-charset="utf-8">{% csrf_token %}
		<fieldset>
			<p>
				<label for="id_old_password">Old password</label>
				<input type="password" class="textfield" id="id_old_password" name="old_password"/>
			</p>
			<p>
				<label for="id_new_password1">New password</label>
				<input type="password" class="textfield" id="new_password1" name="new_password1"/>
			</p>
			<p>
				<label for="id_new_password2">Confirm password</label>
				<input type="password" class="textfield" id="new_password2" name="new_password2"/>
			</p>
		</fieldset>
		<p><input type="submit" value="Change" /></p>
	</form>
	<center>
		<p>
			<span class="quiet red"><br />* {{ form.errors.as_ul }}</span>
		</p>
	</center>
{% endblock %}

{% block confidence-belt %}{% endblock %}
{% block bits %}{% endblock %}
{% block footer %}{% endblock %}
