{% extends "app_base.html" %}
{% block page-title %}Profile{% endblock %}

{% block extrajs-jquery-plugins %}
	{{block.super}}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.17.custom.min.js"></script>
{% endblock extrajs-jquery-plugins %}

{% block container %}
	<div class="back-button">
		<a href="/">
			<img src="{{ STATIC_URL }}images/swap-left.png">
		</a>
	</div>
	<div class="menu-tiles">    	
	    <div class="tiles">
	    	<legend>{% if profileuser == user %}my{% else %}dependent{% endif %} profile</legend>
	    	<div class="tile-container">
	    		<div class="tile photo tile-border">
					<div class="profile-photo crop">
	    				<img src="{{ MEDIA_URL }}{{ profile.photo }}" class="profile-pic"/>
	    				<div class="profile-name">{{ profileuser.first_name }} {{ profileuser.last_name }}</div>
	    			</div>
	    		</div>					    		
	    		<div class="tile medical-profile">
	    			<table class="profile-table">
	    				{% with profileuser.patient_set.get as patientprofile %}
	    				<tr>
	    					<td class="profile-label">Blood Type:</td>
	    					<td>{{patientprofile.get_blood_group_display}} ({{patientprofile.blood_group}})</td>
	    				</tr>
	    				<tr>
	    					<td class="profile-label">Sex:</td>
	    					<td>{{ patientprofile.get_gender_display }}</td>
	    				</tr>
	    				<tr>
	    					<td class="profile-label">Age:</td>
	    					<td>{{ 23 }} Years</td>
	    				</tr>
	    				<tr>
	    					<td class="profile-label">Employer:</td>
	    					<td>{{patientprofile.employer}}</td>
	    				</tr>
	    				<tr>
	    					<td class="profile-label">Weight:</td>
	    					<td>86kg</td>
	    				</tr>
	    				<tr>
	    					<td class="profile-label">Allergies:</td>
	    					<td>Peanuts, Feathers</td>
	    				</tr>
	    				<tr>
	    					<td class="profile-label">Phone:</td>
	    					<td>{{profileuser.profile.mobile_phone}}</td>
	    				</tr>
	    				<tr>
	    					<td class="profile-label">Country:</td>
	    					<td>{{profileuser.profile.country}}</td>
	    				</tr>
	    				{% endwith %}
	    			</table>
	    		</div>
	    		<div class="tile notes last">
	    			<div class="notes-label">Latest Encounter Notes:</div>
	    			<div class="notes-text">
	    				{{ user.encounter_set.latest.observation_notes }}
	    			</div>
	    		</div>
			</div>
	    </div>
	</div>
{% endblock container %}