{% extends "common_base.html" %}

{% load uni_form_tags %}

{% block extracss %}
	<link href="{{ STATIC_URL }}js/tiny/themes/simple/skins/default/ui.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}js/tiny/themes/simple/skins/default/content.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/forms.css">
{% endblock extracss %}

{% block extrajs %}
	<script type="text/javascript">
		$(function() {
			$(":text, textarea").addClass("text");
	    });
	</script>
{% endblock extrajs %}

{% block pitch %}
	<div class="widget_inside ">
		{% uni_form form form.helper %}
	</div>
{% endblock pitch %}