{% extends "app_base.html" %}

{% block page-title %}Logout{% endblock page-title %}

{% block container %}
	<div class="row">
		<div class="span12">
			<form method="POST" action="." class="form-horizontal">{% csrf_token %}
				<legend>Log out</legend>
				<input type="hidden" name="next" value="{% url landing-page %}" />
				<fieldset>
					<p>Are you sure you want to log out?</p>
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Log out</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
{% endblock container %}