{% extends "userprofile/login.html" %}

{% block page-title %}Login{% endblock page-title %}

{% block container %}
	<header class="jumbotron subhead" id="overview">
		<h1 style="font-size:30px;">Log in</h1>
		<br/>
		<p>
			Provide your login credentials below.
		</p>
	</header>
	<div class="row">
		<div class="span8">
			<form method="POST" action="{% url login %}" autocapitalize="off" class="form-horizontal">{% csrf_token %}
				<legend>
					Password Reset
				</legend>
				<div id="div_id_email" class="control-group">
					<label for="id_email" class="control-label required-field"> Email Address: </label>
					<div class="controls">
						<input id="id_email" type="text" name="email" maxlength="30" value="{{ form.visible_fields.email }}"/>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
			{% if form.errors %}
				<p>
					<span class="quiet red"><br />* {{ form.email.errors.as_ul }}</span>
				</p>
			{% endif %}
			{% if form.non_field_errors %}
				<p>
					<ul class="quiet red">{{ form.non_field_errors.as_ul }}</ul>
				</p>
			{% endif %}
		</div>
{% endblock container %}