{% extends "index.html" %}
{% block title %}Inposting{% endblock %}

{% block header %}{% endblock %}

{% block pitch %}
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<center>
		<div id="tagline">
			Password <span>Reset!</span>
		</div>
	</center>
	<form id="passwordResetForm" name="form1" method="post" action=".">{% csrf_token %}
		<div id="signupContainer">
			<p id="email">
				<label>Email Address:</label>
				<input name="email" class="textfield" value="{{ form.visible_fields.email }}" type="text" size="28" />
			</p>
			<p id="submit">
				<label>
					<input type="submit" name="imageField" id="imageField" src="{{ STATIC_URL }}images/bt_signup.gif" />
				</label>
			</p>
		</div>
		<div id="Errors">
		</div>
	</form>
	<center>
		{% if form.errors %}
			<p>
				<span class="quiet red"><br />* {{ form.email.errors.as_ul }}</span>
			</p>
		{% endif %}
		{% if form.non_field_errors %}
			<p>
				<ul class="quiet red">{{ form.non_field_errors.as_ul }}</ul>
			</p>
		{% endif %}
	</center>
{% endblock %}

{% block confidence-belt %}{% endblock %}
{% block bits %}{% endblock %}
{% block footer %}{% endblock %}
