{% extends base_template %}
{% load i18n %}
{% load uni_form_tags %}

{% block title %}
	{% trans "Inposting | Personal Profile" %}
{% endblock %}

{% block extracss %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/forms.css">
{% endblock extracss %}

{% block extrajs %}
	<script type="text/javascript">
		$(function() {
			$("input[type='text'], input[type='password'], textarea").addClass("text");
			$("form input")[0].focus();
		});
	</script>
{% endblock %}

{% block pitch %}
	<div id="side_nav" class="left clearfix">
		<label><u>My Settings</u></label>
		<ul class="profile_nav">
			{% if not type == 'company' %}
				<li>
					<a href="{% url settings %}">Profile {%if selected == 'profile'%}<span style="float: right; margin-right: 10px;">&gt;</span>{% endif %}</a>
				</li>
			{% else %}
				<li>
					<a href="{% url company-settings %}">Profile {%if selected == 'profile'%}<span style="float: right; margin-right: 10px;">&gt;</span>{% endif %}</a>
				</li>
			{% endif %}
			<li>
				<a href="{% url settings-password %}">Password {%if selected == 'password'%}<span style="float: right; margin-right: 10px;">&gt;</span>{% endif %}</a>
			</li>
		</ul>
	</div>
	<div id="content">
		{% uni_form form form.helper %}
	</div>
{% endblock %}
