{% extends "applicant_base.html" %}
{% load i18n %}
{% load uni_form_tags %}
{% comment %}{% load thumbnail %}{% endcomment %}

{% block title %}
	{% trans "Patient Insuarance" %}
{% endblock %}

{% block extracss %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/forms.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/enhanced.css">
	<l<li>
			</liink rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.tagit.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/tagit.ui-zendesk.css">
	<style type="text/css" media="screen">
		.qq-upload-list{
			list-style: none;
		}
		.qq-upload-list li span{
			margin-right: 10px;
		}
	</style>
{% endblock extracss %}

{% block extrajs %}
	<script type="text/javascript">
		$(function() {
			$(":text, textarea").addClass("text");
		});
	</script>
{% endblock extrajs %}

{% block pitch %}
	<div id="content">
		{% uni_form form form.helper %}
	</div>
{% endblock %}
