{% extends "app_base.html" %}
{% load i18n %}
{% comment %}{% load thumbnail %}{% endcomment %}

{% block container %}	
	<div class="back-button">
		<a href="#" onclick="window.location.href=document.referrer || '';">
			<img src="{{ STATIC_URL }}images/swap-left.png">
		</a>
	</div>
	<div class="menu-tiles">    	
		<legend>my cover schemes</legend>
	    <div class="tiles">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Plan ID</th>
						<th>Name</th> 
						<th>Type</th>
						<th>Policy Provider</th>
					</tr>
				</thead>
				<tbody>
					{% for insurance in insurances %}
						<tr>
							<td>{{ insurance.plan_id }}</td>
							<td>{{ insurance.plan_name }}</td>
							<td>{{ insurance.type }}</td>
							<td>{{ insurance.policy_provider }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock container %}

