{% extends "medication/immunization_list.html" %}

{% block container-right %}
	<legend>Insurance</legend>
	{% if insurances %}
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Coverage start date</th>
				<th>Coverage end date</th> 
				<th>Insurance</th>
				<th>Status</th>
				<th>Policy ID</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for insurance in insurances %}
				<tr>
					<td>{{ insurance.name }}</td>
					<td>{{ insurance.location }}</td>
					<td>{{ insurance.email }}</td>
					<td>{{ insurance.phone }}</td>
					<td>{{ insurance.contact_person }}</td>
					<td>
						<div class="btn-group">
							<a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
								<i class="icon-cog"></i>
								<span class="caret"></span>
							</a>							
							<ul class="dropdown-menu">
								<li>
									<a href="#">
										<i class="icon-pencil"></i> Edit
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-trash"></i> Delete
									</a>
								</li>
							</ul>
						</div>
						
					</td>
				</tr>
			{% empty %}
				<tr>
					<div class="well">No Insurance cover found</div>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<div class="well">No Insurance cover found</div>
	{% endif %}
{% endblock container-right %}


