{% extends base_template %}
{% load i18n %}

{% block title %}{{ profile.user }} | Inpostme{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}{% endblock %}

{% block pitch %}
	<div class="public-profile-left">
		<div class="public-profile-card">
			<div class="img-wrapper">
		        <a href="{% url public-profile request.user.pk %}">
		        	{% if facebook_profile %}
		        		<img src="http://graph.facebook.com/{{ facebook_profile.social_id }}/picture?type=large" alt="">
		        	{% else %}
		        		<img height="147px" width="220px" src="{{ MEDIA_URL }}{{profile.picture}}" alt="profile">
		        	{% endif %}
		    	</a>
		    </div>
	    	<h2 class=" ">Ian Mukewa</h2>
	    	<a class="btn-second btn-sm" href="{% url settings %}">Edit Profile</a>
	    	<ul class="stats">
		        <li class="learned">
		            <span class="hours">0</span>                        
		            <p class="text">hours learned</p>
		        </li>
		        <li class="taught">
		            <span class="hours">0</span>                        
		            <p class="text">hours taught</p>
		        </li>
		    </ul>
		</div>
		<div class="public-join-date">Joined on: {{ profile.auto_now_add }}</div>
	</div>
	<div class="public-profile-right">
	</div>
{% endblock pitch %}
