/* Reset */
.uhaiSkin table, .uhaiSkin tbody, .uhaiSkin a, .uhaiSkin img, .uhaiSkin tr, .uhaiSkin div, .uhaiSkin td, .uhaiSkin iframe, .uhaiSkin span, .uhaiSkin *, .uhaiSkin .mceText {border:0; margin:0; padding:0; background:transparent; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; color:#000; vertical-align:baseline; width:auto; border-collapse:separate; text-align:left}
.uhaiSkin a:hover, .uhaiSkin a:link, .uhaiSkin a:visited, .uhaiSkin a:active {text-decoration:none; font-weight:normal; cursor:default; color:#000}
.uhaiSkin table td {vertical-align:middle}

/* Containers */
.uhaiSkin table {direction:ltr;background:transparent}
.uhaiSkin iframe {display:block;}
.uhaiSkin .mceToolbar {height:26px}
.uhaiSkin .mceLeft {text-align:left}
.uhaiSkin .mceRight {text-align:right}

/* External */
.uhaiSkin .mceExternalToolbar {position:absolute; border:1px solid #CCC; border-bottom:0; display:none;}
.uhaiSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.uhaiSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../images/icons-uhai.gif) -820px 0}

/* Layout */
.uhaiSkin table.mceLayout {border:0;}
.uhaiSkin table.mceLayout tr.mceFirst td {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-bottom: none;
    -webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	-khtml-border-radius-topright: 3px;
	-khtml-border-radius-topleft: 3px;
}
.uhaiSkin table.mceLayout tr.mceLast td {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	-khtml-border-radius-bottomright: 3px;
	-khtml-border-radius-bottomleft: 3px;
}
.uhaiSkin table.mceToolbar, .uhaiSkin tr.mceFirst .mceToolbar tr td, .uhaiSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0;}
.uhaiSkin td.mceToolbar {background:#ffffff; padding: 3px 5px 3px 5px; vertical-align:top}
.uhaiSkin .mceIframeContainer {border-top:1px solid #CCC; border-bottom:1px solid #CCC}
.uhaiSkin .mceStatusbar {background:#F0F0EE; font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:9pt; line-height:16px; overflow:visible; color:#000; display:block; height:20px}
.uhaiSkin .mceStatusbar div {float:left; margin:2px}
.uhaiSkin .mceStatusbar a.mceResize {display:block; float:right; background:url(../../images/icons-uhai.gif) -800px 0; width:20px; height:20px; cursor:se-resize; outline:0}
.uhaiSkin .mceStatusbar a:hover {text-decoration:underline}
.uhaiSkin span.mceIcon, .uhaiSkin img.mceIcon {display:block; width:20px; height:20px}
.uhaiSkin .mceIcon {background:url(../../images/icons-uhai.gif) no-repeat 20px 20px; cursor: pointer;}
.uhaiSkin td.mceCenter {text-align:center;}
.uhaiSkin td.mceCenter table {margin:0 auto; text-align:left;}
.uhaiSkin td.mceRight table {margin:0 0 0 auto;}

/* Button */
.uhaiSkin .mceButton {
    cursor: pointer;
    background: transparent url('/static/images/bg-input-gradient-bottom.png') 0 bottom no-repeat;
    display: block;
    border: 1px solid #ccc;
    width: 20px;
    height: 20px;
    margin-right: 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
.uhaiSkin .mceButton.mce_italic,
.uhaiSkin .mceButton.mce_underline,
.uhaiSkin .mceButton.mce_numlist,
.uhaiSkin .mceButton.mce_unlink {
    border-left: 0;
}
.uhaiSkin .mceButton.mce_bold,
.uhaiSkin .mceButton.mce_bullist,
.uhaiSkin .mceButton.mce_link {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    -khtml-border-radius-topleft: 3px;
	-khtml-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.uhaiSkin .mceButton.mce_italic {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
}
.uhaiSkin .mceButton.mce_underline,
.uhaiSkin .mceButton.mce_numlist,
.uhaiSkin .mceButton.mce_unlink {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -khtml-border-radius-topright: 3px;
	-khtml-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.uhaiSkin .mceButton.mce_bold,
.uhaiSkin .mceButton.mce_italic,
.uhaiSkin .mceButton.mce_bullist,
.uhaiSkin .mceButton.mce_link {
    margin: 0;
}
.uhaiSkin .mceButton.mce_underline,
.uhaiSkin .mceButton.mce_numlist,
.uhaiSkin .mceButton.mce_unlink {
    margin: 0 5px 0 0;
}
.uhaiSkin a.mceButtonEnabled:hover,
.uhaiSkin a.mceButtonActive,
.uhaiSkin a.mceButtonSelected {
    cursor: pointer;
    background-color: #f8f8f8;
}
.uhaiSkin .mceButtonDisabled .mceIcon {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30); cursor: default;}
.uhaiSkin .mceButtonLabeled {width:auto}
.uhaiSkin .mceButtonLabeled span.mceIcon {float:left}
.uhaiSkin span.mceButtonLabel {display:block; font-size:10px; padding:4px 6px 0 22px; font-family:Tahoma,Verdana,Arial,Helvetica}
.uhaiSkin .mceButtonDisabled .mceButtonLabel {color:#888}

/* Separator */
.uhaiSkin .mceSeparator {display:block; background:url(../../images/icons-uhai.gif) -180px 0; width:2px; height:20px; margin:2px 2px 0 4px}

/* ListBox */
.uhaiSkin .mceListBox, .uhaiSkin .mceListBox a {display:block}
.uhaiSkin .mceListBox .mceText {padding-left:4px; width:70px; text-align:left; border:1px solid #CCC; border-right:0; background:#FFF; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; height:20px; line-height:20px; overflow:hidden}
.uhaiSkin .mceListBox .mceOpen {width:9px; height:20px; background:url(../../images/icons-uhai.gif) -741px 0; margin-right:2px; border:1px solid #CCC;}
.uhaiSkin table.mceListBoxEnabled:hover .mceText, .uhaiSkin .mceListBoxHover .mceText, .uhaiSkin .mceListBoxSelected .mceText {border:1px solid #A2ABC0; border-right:0; background:#FFF}
.uhaiSkin table.mceListBoxEnabled:hover .mceOpen, .uhaiSkin .mceListBoxHover .mceOpen, .uhaiSkin .mceListBoxSelected .mceOpen {background-color:#FFF; border:1px solid #A2ABC0}
.uhaiSkin .mceListBoxDisabled a.mceText {color:gray; background-color:transparent;}
.uhaiSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden}
.uhaiSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.uhaiSkin .mceOldBoxModel .mceListBox .mceOpen {width:11px; height:22px;}
.uhaiSkin select.mceNativeListBox {font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:7pt; background:#F0F0EE; border:1px solid gray; margin-right:2px;}

/* SplitButton */
.uhaiSkin .mceSplitButton {width:32px; height:20px; direction:ltr}
.uhaiSkin .mceSplitButton a, .uhaiSkin .mceSplitButton span {height:20px; display:block}
.uhaiSkin .mceSplitButton a.mceAction {width:20px; border:1px solid #F0F0EE; border-right:0;}
.uhaiSkin .mceSplitButton span.mceAction {width:20px; background-image:url(../../images/icons-uhai.gif);}
.uhaiSkin .mceSplitButton a.mceOpen {width:9px; background:url(../../images/icons-uhai.gif) -741px 0; border:1px solid #F0F0EE;}
.uhaiSkin .mceSplitButton span.mceOpen {display:none}
.uhaiSkin table.mceSplitButtonEnabled:hover a.mceAction, .uhaiSkin .mceSplitButtonHover a.mceAction, .uhaiSkin .mceSplitButtonSelected a.mceAction {border:1px solid #0A246A; border-right:0; background-color:#B2BBD0}
.uhaiSkin table.mceSplitButtonEnabled:hover a.mceOpen, .uhaiSkin .mceSplitButtonHover a.mceOpen, .uhaiSkin .mceSplitButtonSelected a.mceOpen {background-color:#B2BBD0; border:1px solid #0A246A;}
.uhaiSkin .mceSplitButtonDisabled .mceAction, .uhaiSkin .mceSplitButtonDisabled a.mceOpen {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.uhaiSkin .mceSplitButtonActive a.mceAction {border:1px solid #0A246A; background-color:#C2CBE0}
.uhaiSkin .mceSplitButtonActive a.mceOpen {border-left:0;}

/* ColorSplitButton */
.uhaiSkin div.mceColorSplitMenu table {background:#FFF; border:1px solid gray}
.uhaiSkin .mceColorSplitMenu td {padding:2px}
.uhaiSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden; border:1px solid #808080}
.uhaiSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.uhaiSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px; border:1px solid #FFF}
.uhaiSkin .mceColorSplitMenu a.mceMoreColors:hover {border:1px solid #0A246A; background-color:#B6BDD2}
.uhaiSkin a.mceMoreColors:hover {border:1px solid #0A246A}
.uhaiSkin .mceColorPreview {margin-left:2px; width:16px; height:4px; overflow:hidden; background:#9a9b9a}
.uhaiSkin .mce_forecolor span.mceAction, .uhaiSkin .mce_backcolor span.mceAction {overflow:hidden; height:16px}

/* Menu */
.uhaiSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000; border:1px solid #D4D0C8}
.uhaiSkin .mceNoIcons span.mceIcon {width:0;}
.uhaiSkin .mceNoIcons a .mceText {padding-left:10px}
.uhaiSkin .mceMenu table {background:#FFF}
.uhaiSkin .mceMenu a, .uhaiSkin .mceMenu span, .uhaiSkin .mceMenu {display:block}
.uhaiSkin .mceMenu td {height:20px}
.uhaiSkin .mceMenu a {position:relative;padding:3px 0 4px 0}
.uhaiSkin .mceMenu .mceText {position:relative; display:block; font-family:Tahoma,Verdana,Arial,Helvetica; color:#000; cursor:default; margin:0; padding:0 25px 0 25px; display:block}
.uhaiSkin .mceMenu span.mceText, .uhaiSkin .mceMenu .mcePreview {font-size:11px}
.uhaiSkin .mceMenu pre.mceText {font-family:Monospace}
.uhaiSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.uhaiSkin .mceMenu .mceMenuItemEnabled a:hover, .uhaiSkin .mceMenu .mceMenuItemActive {background-color:#dbecf3}
.uhaiSkin td.mceMenuItemSeparator {background:#DDD; height:1px}
.uhaiSkin .mceMenuItemTitle a {border:0; background:#EEE; border-bottom:1px solid #DDD}
.uhaiSkin .mceMenuItemTitle span.mceText {color:#000; font-weight:bold; padding-left:4px}
.uhaiSkin .mceMenuItemDisabled .mceText {color:#888}
.uhaiSkin .mceMenuItemSelected .mceIcon {background:url(images/menu_check.gif)}
.uhaiSkin .mceNoIcons .mceMenuItemSelected a {background:url(images/menu_arrow.gif) no-repeat -6px center}
.uhaiSkin .mceMenu span.mceMenuLine {display:none}
.uhaiSkin .mceMenuItemSub a {background:url(images/menu_arrow.gif) no-repeat top right;}
.uhaiSkin .mceMenuItem td, .uhaiSkin .mceMenuItem th {line-height: normal}

/* Progress,Resize */
.uhaiSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50); background:#FFF}
.uhaiSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(images/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}

/* Formats */
.uhaiSkin .mce_formatPreview a {font-size:10px}
.uhaiSkin .mce_p span.mceText {}
.uhaiSkin .mce_address span.mceText {font-style:italic}
.uhaiSkin .mce_pre span.mceText {font-family:monospace}
.uhaiSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 2em}
.uhaiSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.5em}
.uhaiSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.17em}
.uhaiSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1em}
.uhaiSkin .mce_h5 span.mceText {font-weight:bolder; font-size: .83em}
.uhaiSkin .mce_h6 span.mceText {font-weight:bolder; font-size: .75em}

/* Theme */
.uhaiSkin span.mce_bold {background-position:0 0}
.uhaiSkin span.mce_italic {background-position:-60px 0}
.uhaiSkin span.mce_underline {background-position:-140px 0}
.uhaiSkin span.mce_strikethrough {background-position:-120px 0}
.uhaiSkin span.mce_undo {background-position:-160px 0}
.uhaiSkin span.mce_redo {background-position:-100px 0}
.uhaiSkin span.mce_cleanup {background-position:-40px 0}
.uhaiSkin span.mce_bullist {background-position:-20px 0}
.uhaiSkin span.mce_numlist {background-position:-80px 0}
.uhaiSkin span.mce_justifyleft {background-position:-460px 0}
.uhaiSkin span.mce_justifyright {background-position:-480px 0}
.uhaiSkin span.mce_justifycenter {background-position:-420px 0}
.uhaiSkin span.mce_justifyfull {background-position:-440px 0}
.uhaiSkin span.mce_anchor {background-position:-200px 0}
.uhaiSkin span.mce_indent {background-position:-400px 0}
.uhaiSkin span.mce_outdent {background-position:-540px 0}
.uhaiSkin span.mce_link {background-position:-500px 0}
.uhaiSkin span.mce_unlink {background-position:-640px 0}
.uhaiSkin span.mce_sub {background-position:-600px 0}
.uhaiSkin span.mce_sup {background-position:-620px 0}
.uhaiSkin span.mce_removeformat {background-position:-580px 0}
.uhaiSkin span.mce_newdocument {background-position:-520px 0}
.uhaiSkin span.mce_image {background-position:-380px 0}
.uhaiSkin span.mce_help {background-position:-340px 0}
.uhaiSkin span.mce_code {background-position:-260px 0}
.uhaiSkin span.mce_hr {background-position:-360px 0}
.uhaiSkin span.mce_visualaid {background-position:-660px 0}
.uhaiSkin span.mce_charmap {background-position:-240px 0}
.uhaiSkin span.mce_paste {background-position:-560px 0}
.uhaiSkin span.mce_copy {background-position:-700px 0}
.uhaiSkin span.mce_cut {background-position:-680px 0}
.uhaiSkin span.mce_blockquote {background-position:-220px 0}
.uhaiSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.uhaiSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.uhaiSkin span.mce_forecolorpicker {background-position:-720px 0}
.uhaiSkin span.mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.uhaiSkin span.mce_advhr {background-position:-0px -20px}
.uhaiSkin span.mce_ltr {background-position:-20px -20px}
.uhaiSkin span.mce_rtl {background-position:-40px -20px}
.uhaiSkin span.mce_emotions {background-position:-60px -20px}
.uhaiSkin span.mce_fullpage {background-position:-80px -20px}
.uhaiSkin span.mce_fullscreen {background-position:-100px -20px}
.uhaiSkin span.mce_iespell {background-position:-120px -20px}
.uhaiSkin span.mce_insertdate {background-position:-140px -20px}
.uhaiSkin span.mce_inserttime {background-position:-160px -20px}
.uhaiSkin span.mce_absolute {background-position:-180px -20px}
.uhaiSkin span.mce_backward {background-position:-200px -20px}
.uhaiSkin span.mce_forward {background-position:-220px -20px}
.uhaiSkin span.mce_insert_layer {background-position:-240px -20px}
.uhaiSkin span.mce_insertlayer {background-position:-260px -20px}
.uhaiSkin span.mce_movebackward {background-position:-280px -20px}
.uhaiSkin span.mce_moveforward {background-position:-300px -20px}
.uhaiSkin span.mce_media {background-position:-320px -20px}
.uhaiSkin span.mce_nonbreaking {background-position:-340px -20px}
.uhaiSkin span.mce_pastetext {background-position:-360px -20px}
.uhaiSkin span.mce_pasteword {background-position:-380px -20px}
.uhaiSkin span.mce_selectall {background-position:-400px -20px}
.uhaiSkin span.mce_preview {background-position:-420px -20px}
.uhaiSkin span.mce_print {background-position:-440px -20px}
.uhaiSkin span.mce_cancel {background-position:-460px -20px}
.uhaiSkin span.mce_save {background-position:-480px -20px}
.uhaiSkin span.mce_replace {background-position:-500px -20px}
.uhaiSkin span.mce_search {background-position:-520px -20px}
.uhaiSkin span.mce_styleprops {background-position:-560px -20px}
.uhaiSkin span.mce_table {background-position:-580px -20px}
.uhaiSkin span.mce_cell_props {background-position:-600px -20px}
.uhaiSkin span.mce_delete_table {background-position:-620px -20px}
.uhaiSkin span.mce_delete_col {background-position:-640px -20px}
.uhaiSkin span.mce_delete_row {background-position:-660px -20px}
.uhaiSkin span.mce_col_after {background-position:-680px -20px}
.uhaiSkin span.mce_col_before {background-position:-700px -20px}
.uhaiSkin span.mce_row_after {background-position:-720px -20px}
.uhaiSkin span.mce_row_before {background-position:-740px -20px}
.uhaiSkin span.mce_merge_cells {background-position:-760px -20px}
.uhaiSkin span.mce_table_props {background-position:-980px -20px}
.uhaiSkin span.mce_row_props {background-position:-780px -20px}
.uhaiSkin span.mce_split_cells {background-position:-800px -20px}
.uhaiSkin span.mce_template {background-position:-820px -20px}
.uhaiSkin span.mce_visualchars {background-position:-840px -20px}
.uhaiSkin span.mce_abbr {background-position:-860px -20px}
.uhaiSkin span.mce_acronym {background-position:-880px -20px}
.uhaiSkin span.mce_attribs {background-position:-900px -20px}
.uhaiSkin span.mce_cite {background-position:-920px -20px}
.uhaiSkin span.mce_del {background-position:-940px -20px}
.uhaiSkin span.mce_ins {background-position:-960px -20px}
.uhaiSkin span.mce_pagebreak {background-position:0 -40px}
.uhaiSkin span.mce_restoredraft {background-position:-20px -40px}
.uhaiSkin span.mce_spellchecker {background-position:-540px -20px}
