{% extends "index.html" %}
{% load inclusions %}

{% block title %}Inposting{% endblock %}

{% block signin_links %}{% endblock %}

{% block header %} <!-- logo -->
	<!-- logo -->
    <h1><a href="{% url index %}"><img src="{{ STATIC_URL }}images/logo.png" /></a></h1>
    <!-- /logo --> 
    
    <!-- menu -->
    <div id="mainmenu">
		<ul id="menu">
			<li><a class="current" href="{% url index %}">Dashboard</a></li>
			<li><a href="{% url student-interview-invite-list %}">My Invites</a></li>
			<li><a href="{% url applicant_test_list %}">My Appraisals</a></li>
			<li><a href="{% url public-cv request.user.cv.slug %}">My CV/Resume</a></li>
			<li>
				<a id="select-company" style="clear: both; width:55px" href="#">Account</a>
				<span id="company-dropdown">
					<ul class="account-dropdown" id="yw13" style="display: none; ">
						<li><a href="{% url settings %}">Edit Profile</a></li>
						<li><a href="{% url applicant-preferences %}">Edit Preferences</a></li>
						<li><a href="{% url settings-password %}">Change Password</a></li>
						<li class="list-last"><a href="{% url logout %}">Logout</a></li>
					</ul>
				</span>
			</li>
  		</ul>
    </div>
    <div class="separator"></div>
    <!-- /menu -->
{% endblock header %}

{% block pitch %} {% endblock %}
{% block confidence-belt %}{% endblock %}
{% block bits %}{% endblock %}

{% block stats-bar %}
{% endblock stats-bar %}