{% extends "base.html" %}
{% block title %}Wellness{% endblock %}

{% block extrajs %} 
	<script type="text/javascript" src="{{ STATIC_URL }}js/in.js">
		api_key: y1h2gwttk84d
		authentication: true
	</script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			$('div.photo a').fancyZoom({
				directory : 'images/zoom',
				scaleImg : true,
				closeOnClick : true
			});
		});
	</script>
{% endblock %}

{% block bg %}
	<div class="wrap">
		{% block header %} <!-- logo --> {% endblock header %}
		
		{% block stats-bar %}{% endblock stats-bar %}
		{% block no_pitch %}{% endblock no_pitch %}
		
		<div id="pitch"> {% block pitch %} {% endblock %} </div>
		
		{% block confidence-belt %} {% endblock %}
		{% block bits %} {% endblock %}
{% endblock %}

{% block footer %}
	<!-- Separator -->
	<div class="separator2"></div>
	<!-- footer -->
	<div id="footer">
		<!-- footer links -->
		<ul>
			<li>
				<a href="{% url index %}">Uhai</a>
			</li>
		</ul>
		<!-- /footer links -->
		<span class="copyright">
			©{% now "Y" %} Uhai - 
			<a href="{% url terms_and_conditions %}">Terms</a> - 
			<a href="{% url privacy-policy %}">Privacy Policy
		</span>
	</div>
{% endblock footer %}