{% extends "index.html" %}

{% block title %}Inpostme|Sign In{% endblock %}

{% block extracss %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css" type="text/css" />
{% endblock extracss %}

{% block pitch %}
	<div class="tagline tag3">
		<span style="margin-left: 100px;">Welcome!</span>
	</div>
	<form id="loginForm" name="form1" action="." method="post" accept-charset="utf-8">{% csrf_token %}
		<h2 class="formhead">Login</h2>
		<div id="loginContainer">
			<p id="user" class="field">
				<label>Email:</label> 
				<input name="username" class="text" type="text" size="28" />
				<span class="error {% if not form.username.errors %}hide{% endif %}">{{form.username.errors.as_text}}</span>
			</p>
			<p id="pass" class="field">
				<label>Password:</label> 
				<input name="password" class="text" type="password" size="28" />
				<span class="error {% if not form.password.errors %}hide{% endif %}">{{form.password.errors.as_text}}</span>
			</p>
			<input type="hidden" name="next" value="{{ next }}" />
			<label><p id="forgotPass"> <a href="{% url password_reset %}">forgot password?</a> </p></label>
			<p id="submit">
				<label>
					<button id="login">
						<a>Login</a>
					</button> 
				</label>
			</p>
		</div>
		{% comment %}
			<div class="rightside">
				<h2 class="formhead">Social Media</h2>
				<p id="f-login">
					<ul>
						<br/>
						<br/>
						<label>
							<a href="{% url facebook_login %}">
								<img name="imageField" src="{{ STATIC_URL }}images/f-btn.png"/>
							</a>
						</label>
						<label>
							<a href="{% url twitter_login %}">
								<img name="imageField" src="{{ STATIC_URL }}images/login_twitter.png"/>
							</a>
						</label>
						<a href="{% url linkedin_login %}">Linkedin</a>
					</ul>
				</p>
			</div>
		{% endcomment %}
	</form>
{% endblock %}

{% block confidence-belt %}{% endblock confidence-belt %}
{% block bits %}{% endblock %}
