<div id="contentHolder">
	<div id="content" class="ajaxcontainer " refreshurl="?tx=CPs/Kc/Q06D3U2NOPhNfMBSsLUE2sODD5R7AF6UO9ZDI5V/svwAI1MmESBwjW9xt">
		<table cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td id="left">
					<div>
						<img id="ctl00_UserImage1_Photo" border="0" onclick="return eqw.Dialog('?tx=kagemv93HAb/VvrL8eEGhNCT6Wya9p4F7ETeH1XeGqRQeyMEv069HBfYlR8vK/xg');" src="./?tx=OkpB4QMmxjZVYCukH+38lkgzB19wsjGHqzSdTzUgJlVasV6JYLOv9tDAW7YQQrXCxsAL1SlnaA69CABm8064ORUWLLzGrOUz2a7NNnXaMAPiVj8+bxCOq+qIJZVsVqbA" style="width:100%;float:left;cursor:pointer"><div style="clear:both"></div>
						<div class="ajaxcontainer " refreshurl="?tx=MrcT6Rj1HLevupn2x2MjzCMdztvMtjRdPLIiUamgAWy2y+RSQ0bGFqN3v2r64BG7">
							<!-- Right pane start -->
							<div>
								<div class=" box" id="ctl00_RightPane1_providers">
									<div class="top header ">
										<div class="left"></div><div class="right"></div>
										<div class="center ">
											Providers
										</div>
									</div>
									<div class="b-wc">
										<div class="middle ">
											<div style="clear:both"></div><div class="left"></div>
											<div class="right">
												<div class="center" style="padding:0">
													<div>
														<table cellspacing="0" cellpadding="0" width="100%">
															<tbody>
																<tr>
																	<td>
																	<div class="horbar footer accordion accordion-open ">
																		<div style="padding:3px 10px 3px 24px">
																			A A Abortion Aid And Information
																		</div>
																	</div>
																	<div>
																		Southfield,MI
																		<br>
																		(248)559-0592
																		<br>
																		<br>
																		<a href="#" onclick="return eqw.Dialog('?tx=HFryLge92dBeKZ2sRemD1bzSH2BPGG39P25eufrHCY2tee8aUt4LK23qfa10xYS2ZTfwL1wIoBH1eO9Afs7aP3Fn9MguNuhwevnYuKLNm1pC3UfNnEaiZ5oN61uZn9X0A+sveyVehIVe3On/enpEJA==',null);">View</a>
																		<br>
																	</div></td>
																</tr>
															</tbody>
														</table>
													</div>
													<a id="ManageProviders" onclick="SetTab('Providers', function(){return eqw.Get('#content','?tx=bOoZ3VR810flaUyNjUo3bm2mRIXeHxTsoEi8Xv3yZsbBrJSUW/qQDN5oa/f7nNcqQDNIv9aXDR7hIWGTMXovrg==',null);});" style="float:right; margin-right: 10px;">Manage Providers »</a>
													<div style="clear:both"></div>
												</div>
											</div>
										</div>
										<div class="bottom ">
											<div style="clear:both"></div><div class="left"></div><div class="right"></div><div class="center "></div>
										</div>
									</div>
								</div>
							</div>
							<!-- Right pane end -->
						</div>
					</div></td>
					<td id="rest">
					<div id="ProfileComplete" class="ajaxcontainer " refreshurl="?tx=SxD+mazgoDLK9bAy57aZgIrVl7ErqAa+OXjzDBswJa+9dj+FILmZa9mUijNvfsB7r893Upa/SvU1mNKSL4Fq6w==">
						<div id="pcm" class="box">
							<div style="float: right;margin-right:5px;">
								<a href="#" onclick="pcm.Close();"><img src="images/icons/16/101.png" border="0"></a>
							</div><h1>Welcome to Avado!</h1><h4>We recommend you complete the following steps:</h4>
							<ul>
								<li>
									Profile Information
									<ul>
										<li>
											<a onclick="eqw.pcmDialog=true;eqw.Dialog('?tx=dY3cOCvvB/eX+0FBq46ax3aNmiBkXZvBA3G1/aQ2xHcSo7HVKrSXQrBHTddgXW/2OtY1dZqaNO+Oj0OGtDKyRHL3LiwA85k7nuXIfnCSBScWi+VN6Yos6lLhc5kT51xV95oTCGsThVFW+RyXhIeM5qbw0f8hAPh7qxzAVAEBaQc=', function(c){eqw.Refresh(c);}, this);" id="UserInsurance1">Add your Insurance Information</a>
										</li>
										<li>
											<a onclick="eqw.pcmDialog=true;eqw.Dialog('?tx=dY3cOCvvB/eX+0FBq46ax3aNmiBkXZvBA3G1/aQ2xHdAY7FoLPrX9ASkvHtlxZDhJ0P9S6IIoq8GCqC0JOy05Hhn9+pgUyfdBCWruKjdfPQ606aUhgFgMpxWbekh5i0JVlplkyQL4+mURX2R8tCE8KRwkPRHBAnkkvV/LNaAuOOcx4Fz37EtjXhhgFEdIva3', function(c){eqw.Refresh(c);}, this);" id="EmergencyContacts2">Add your Emergency Contacts</a>
										</li>
									</ul>
								</li>
								<li>
									Add your Medical Records
									<ul>
										<li>
											<a onclick="eqw.pcmDialog=true;eqw.Dialog('?tx=dY3cOCvvB/eX+0FBq46ax3aNmiBkXZvBA3G1/aQ2xHdbKGsV1sZ++/AeuMkG3Fwcq/vjGmfjjzGvQ1cjhCeJ+hIJ/R2LIzc/s9ebaiXMbjfGu5RY1QpnTrtWBzv2xb9woP5tx+N2hR8fq6bqa4A0cQFgdEf9b/Ln040jMPbdPq0=', function(c){eqw.Refresh(c);}, this);" id="Allergies5">Allergies</a>
										</li>
										<li>
											<a onclick="eqw.pcmDialog=true;eqw.Dialog('?tx=dY3cOCvvB/eX+0FBq46ax3aNmiBkXZvBA3G1/aQ2xHduCKAFRaf+F95rBnDrGZNu8RugvBQtTr25FJgBIU9yFGrq1ffkmCeSuxrHoyPqRTlvkhKz69rwtuHsvolvWXfp1yEo2kHfyWY3PUH+uL/OIizuLSsZBEladEyb60iDXow=', function(c){eqw.Refresh(c);}, this);" id="Immunizations6">Add your Immunizations</a>
										</li>
										<li>
											<a onclick="eqw.pcmDialog=true;eqw.Dialog('?tx=dY3cOCvvB/eX+0FBq46ax3aNmiBkXZvBA3G1/aQ2xHeQ5n661eADWaJSTszMoB3aU4+pw0XwI/U9p585gwBddmqMTvILsvRDp2/8dsEtRkiBG7bOJR2EWAbUFAetExPEMnQZYHZULg4+s45MxiwW98unrq8YY7FxreBlFo3SpXI=', function(c){eqw.Refresh(c);}, this);" id="Conditions7">Conditions</a>
										</li>
										<li>
											<a onclick="eqw.pcmDialog=true;eqw.Dialog('?tx=dY3cOCvvB/eX+0FBq46ax3aNmiBkXZvBA3G1/aQ2xHcbi+S0BlKfmvCQ7PHn0545wMZJ/uz+ao2fdq77QO48gzNuBcnTj/UQ23RGoRDR3e/Vng3g+37Lrh59axo24hypJgA4DwSu0EMBx9qFlFbz+LG2DIosp71Z3RoER3te5fo=', function(c){eqw.Refresh(c);}, this);" id="Medications8">Add your Medications</a>
										</li>
									</ul>
								</li>
								<li>
									<a onclick="eqw.pcmDialog=true;eqw.Dialog('?tx=i0llGB6J+agWqNniqQ/ry8N4YWIOQpahFsWzMiNCFu/80Xufu1FhH/+MWcWlh+qce+Ck1UD+EYYU8/gedF5FJQ==', function(c){eqw.Refresh(c);}, this);" id="CreateProviderAccount10">Create your provider account</a>
								</li>
							</ul>
							<div id="bardivs">
								<div id="progressbar" style="height: 15px; " class="ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="50">
									<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 50%; "></div>
								</div>
								<div id="progresstext">
									<b>50% Complete</b>
								</div>
							</div><div onload="pcm.Progress(50);"></div>
						</div>
					</div>
					<div id="ChartContainer" class="ajaxcontainer " refreshurl="?tx=Dfwl5kL/1C3hAxLu6U/QwVRolCEtYm/DHhuaJydRYHDqq1ECeNDiZq5D8vtfpWm0">
						<div class=" box" id="ctl00_Chart1_TrackingHolder">
							<div class="top header ">
								<div class="left"></div><div class="right"></div>
								<div class="center ">
									Track
								</div>
							</div>
							<div class="b-wc">
								<div class="middle ">
									<div style="clear:both"></div><div class="left"></div>
									<div class="right">
										<div class="center" style="padding:0">
											<div id="ctl00_Chart1_TrackingHolder_HeaderTabs">
												<div onclick="LeftClick('#TabControlDiv');" id="LeftButton" style="width: 20px; float: left;
												background: url('images/tabNested.png') repeat-x scroll left center transparent;
												height: 22px;">
													<img alt="&lt;" src="images/left_arrow.png" style="position: relative; top: 3px; left: 3px;">
												</div>
												<div id="ctl00_Chart1_TrackingHolder_scrollDiv" style="max-width: 687px; overflow: hidden; float: left; width: 687px;">
													<div id="TabControlDiv" style="position: relative; left: 0px; width: 10000px;" onready="ShowSelectedTab('#TabControlDiv');">
														<ul class="tabs-nav tabs-nested">
															<li class=" tabs-selected">
																<a id="" href="#" onclick="return eqw.TabClick(this);"><span>Blood Pressure</span></a>
															</li>
															<li>
																<a id="" href="#" onclick="return eqw.TabClick(this,function(){eqw.Get('#ChartContainer','?tx=Dfwl5kL/1C3hAxLu6U/QwQoBmZ4ZwDq5Kn7+oU4e3IlvCUhYzLMEf9oSswS8hCwKqKzL4b3rehReSNEZ+L59QA==');return false;})"><span>Blood Sugar</span></a>
															</li>
														</ul>
													</div>
												</div>
												<div onclick="RightClick('#TabControlDiv');" id="RightButton" style="width: 20px;
												float: left; background: url('images/tabNested.png') repeat-x scroll left center transparent;
												height: 22px;">
													<img alt="&gt;" src="images/right_arrow.png" style="position: relative; top: 3px; left: 3px;">
												</div>
												<div style="clear: both;"></div>
											</div>
											<div>
												<div id="TrackingInputContainer" class="ajaxcontainer " refreshurl="?tx=T73nD05ducJvtE3WxyDlVZXuYMREyg3XMw4/Uz+p6bdpPF4VUNpbV29lG+ATOly/6DMkvUQddvIS7F1TE0k8rQ==" style="float: right;
												width: 200px;">
													<div style="width: 180px;padding:10px">
														<h1><span id="ctl00_Chart1_TrackingHolder_ctl03_Title">Blood Pressure</span></h1>
														<div id="ctl00_Chart1_TrackingHolder_ctl03_TrackingInputDiv" style="width: 170px;">
															Systolic:
															<input name="ctl00$Chart1$TrackingHolder$ctl03$SystolicSlider" type="text" value="87" id="SystolicSlider" onload="$(function() {$.mask.definitions['~']='[.0123456789]';$('#SystolicSlider').mask('?~~~~~~~', {placeholder:' '}); });" style="width:35px; border: 0px; background-color: transparent;">
															<span id="UnitDisplay_SystolicSlider">mmHg</span>
															<div style="width: " id="slider_SystolicSlider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
																<a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 20.555555555555554%; "></a>
															</div><div onload="$(function() {$('#slider_SystolicSlider').slider({value: 87, min: 50,max: 230,step: 1,disabled: false,slide: function(event, ui) {$('#SystolicSlider').val(ui.value); $('#UnitDisplay_SystolicSlider').innerHtml = 'todo'; } });$('#SystolicSlider').val($('#slider_SystolicSlider').slider('value')); });"></div>
															<br>
															Diastolic:
															<input name="ctl00$Chart1$TrackingHolder$ctl03$DiastolicSlider" type="text" value="54" id="DiastolicSlider" onload="$(function() {$.mask.definitions['~']='[.0123456789]';$('#DiastolicSlider').mask('?~~~~~~~', {placeholder:' '}); });" style="width:35px; border: 0px; background-color: transparent;">
															<span id="UnitDisplay_DiastolicSlider">mmHg</span>
															<div style="width: " id="slider_DiastolicSlider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
																<a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 18.095238095238095%; "></a>
															</div><div onload="$(function() {$('#slider_DiastolicSlider').slider({value: 54, min: 35,max: 140,step: 1,disabled: false,slide: function(event, ui) {$('#DiastolicSlider').val(ui.value); $('#UnitDisplay_DiastolicSlider').innerHtml = 'todo'; } });$('#DiastolicSlider').val($('#slider_DiastolicSlider').slider('value')); });"></div>
															<br>
															<input type="button" class="button " id="UpdateButton" onload="$(this).click(function(){return eqw.Post(this,'?tx=T73nD05ducJvtE3WxyDlVc6mpt9SuvaJJRRgCzNvtJmx0LxyrydKq63Q8vjnDeLMiP0QjgLQRpWQinElj8L9CLSLQJx0mbyIzQhLtb+Hbm4Fm5O5OjB+8snDW5pWNPsm13CIJ0cYJwwRkuDyBR47AysI5f9Q8B7cn/MhD7f6WB+lvU6ovrX7ylt5CB5B/Drre4R4bONtsdSqQK9OrGDQ7A==',null)});" style="float:right;min-width:25px;" value="Update">
															<div style="clear: both"></div>
														</div>
													</div>
												</div>
												<div id="ctl00_Chart1_TrackingHolder_chartContainerDiv">
													<div id="chartHolder" style="overflow: hidden">
														<div id="PatientChartHolder" style="width: 520px; height: 300px; margin: 10px; border: 1px solid rgb(221, 221, 221); position: relative; ">
															<div id="detail-container" style="width: 520px; height: 300px; ">
																<div class="highcharts-container" id="highcharts-8" style="position: absolute; overflow: hidden; width: 520px; height: 300px; text-align: left; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif; font-size: 12px; ">
																	<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="520" height="300">
																		<defs>
																			<linearGradient id="highcharts-9" gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="0" y2="50">
																				<stop offset="0" stop-color="#fff" stop-opacity="1"></stop><stop offset="1" stop-color="#fff" stop-opacity="1"></stop>
																			</linearGradient>
																			<linearGradient id="highcharts-10" gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="0" y2="400">
																				<stop offset="0" stop-color="rgb(245, 245, 245)" stop-opacity="1"></stop><stop offset="1" stop-color="rgb(238, 238, 238)" stop-opacity="1"></stop>
																			</linearGradient>
																			<clipPath id="highcharts-11">
																				<rect rx="0" ry="0" fill="none" x="0" y="0" width="450" height="260" stroke-width="0.000001"></rect>
																			</clipPath>
																		</defs><rect rx="0" ry="0" fill="url(https://secure.avado.com/#highcharts-10)" x="0" y="0" width="520" height="300" stroke-width="0.000001" stroke="#4572A7"></rect><path d="M 50 97 L 500 97 500 10 50 10" fill="rgb(221,223,13)" fill-opacity="0.1"></path>
																		<text x="60" y="60" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#444;fill:#444;" visibility="visible">
																			<tspan x="60">
																				Ideal Systolic
																			</tspan>
																		</text><path d="M 50 162 L 500 162 500 53 50 53" fill="rgb(119,152,191)" fill-opacity="0.1"></path>
																		<text x="60" y="114" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#444;fill:#444;" visibility="visible">
																			<tspan x="60">
																				Ideal Diastolic
																			</tspan>
																		</text><g class="highcharts-grid" zIndex="1"></g>
																		<g class="highcharts-grid" zIndex="1">
																			<path d="M 50 270.5 L 500 270.5" fill="none" stroke-opacity="0.1" stroke="rgb(255,255,255)" stroke-width="1" zIndex="1"></path><path d="M 50 227.5 L 500 227.5" fill="none" stroke-opacity="0.1" stroke="rgb(255,255,255)" stroke-width="1" zIndex="1"></path><path d="M 50 183.5 L 500 183.5" fill="none" stroke-opacity="0.1" stroke="rgb(255,255,255)" stroke-width="1" zIndex="1"></path><path d="M 50 140.5 L 500 140.5" fill="none" stroke-opacity="0.1" stroke="rgb(255,255,255)" stroke-width="1" zIndex="1"></path><path d="M 50 97.5 L 500 97.5" fill="none" stroke-opacity="0.1" stroke="rgb(255,255,255)" stroke-width="1" zIndex="1"></path><path d="M 50 53.5 L 500 53.5" fill="none" stroke-opacity="0.1" stroke="rgb(255,255,255)" stroke-width="1" zIndex="1"></path><path d="M 50 10.5 L 500 10.5" fill="none" stroke-opacity="0.1" stroke="rgb(255,255,255)" stroke-width="1" zIndex="1"></path>
																		</g>
																		<g class="highcharts-series-group" zIndex="3">
																			<g class="highcharts-series" clip-path="url(https://secure.avado.com/#highcharts-11)" visibility="visible" transform="translate(50,10)">
																				<path d="M 0 0" fill="none" stroke="rgb(0, 0, 0)" stroke-width="5" isShadow="true" stroke-opacity="0.05" transform="translate(1,1)"></path><path d="M 0 0" fill="none" stroke="rgb(0, 0, 0)" stroke-width="3" isShadow="true" stroke-opacity="0.1" transform="translate(1,1)"></path><path d="M 0 0" fill="none" stroke="rgb(0, 0, 0)" stroke-width="1" isShadow="true" stroke-opacity="0.15000000000000002" transform="translate(1,1)"></path><path d="M 0 0" fill="none" stroke="#ff6666" stroke-width="2"></path><circle cx="225.00000000000003" cy="56.33333333333334" r="3" stroke="#333" stroke-width="0.000001" fill="#ff6666"></circle>
																			</g>
																			<g class="highcharts-series" clip-path="url(https://secure.avado.com/#highcharts-11)" visibility="visible" transform="translate(50,10)">
																				<path d="M 0 0" fill="none" stroke="rgb(0, 0, 0)" stroke-width="5" isShadow="true" stroke-opacity="0.05" transform="translate(1,1)"></path><path d="M 0 0" fill="none" stroke="rgb(0, 0, 0)" stroke-width="3" isShadow="true" stroke-opacity="0.1" transform="translate(1,1)"></path><path d="M 0 0" fill="none" stroke="rgb(0, 0, 0)" stroke-width="1" isShadow="true" stroke-opacity="0.15000000000000002" transform="translate(1,1)"></path><path d="M 0 0" fill="none" stroke="#7798BF" stroke-width="2"></path><path d="M 225 196.5 L 228 199.5 225 202.5 222 199.5 Z" fill="#7798BF" stroke="#333" stroke-width="0.000001"></path>
																			</g>
																		</g>
																		<g class="highcharts-axis" zIndex="7">
																			<text x="275" y="284" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#999;line-height:14px;font-weight:bold;fill:#999;" text-anchor="middle">
																				<tspan x="275">
																					00:00:00
																				</tspan>
																			</text><path d="M 275.5 270 L 275.5 275" fill="none" stroke="#999" stroke-width="1"></path>
																		</g>
																		<g class="highcharts-axis" zIndex="7">
																			<text x="42" y="275.1" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Verdana, Arial, Helvetica, sans-serif;font-size:11px;width:205px;color:#999;line-height:14px;font-weight:bold;fill:#999;" text-anchor="end">
																				<tspan x="42">
																					40
																				</tspan>
																			</text>
																			<text x="42" y="231.76666666666668" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Verdana, Arial, Helvetica, sans-serif;font-size:11px;width:205px;color:#999;line-height:14px;font-weight:bold;fill:#999;" text-anchor="end">
																				<tspan x="42">
																					50
																				</tspan>
																			</text>
																			<text x="42" y="188.43333333333334" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Verdana, Arial, Helvetica, sans-serif;font-size:11px;width:205px;color:#999;line-height:14px;font-weight:bold;fill:#999;" text-anchor="end">
																				<tspan x="42">
																					60
																				</tspan>
																			</text>
																			<text x="42" y="145.1" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Verdana, Arial, Helvetica, sans-serif;font-size:11px;width:205px;color:#999;line-height:14px;font-weight:bold;fill:#999;" text-anchor="end">
																				<tspan x="42">
																					70
																				</tspan>
																			</text>
																			<text x="42" y="101.76666666666668" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Verdana, Arial, Helvetica, sans-serif;font-size:11px;width:205px;color:#999;line-height:14px;font-weight:bold;fill:#999;" text-anchor="end">
																				<tspan x="42">
																					80
																				</tspan>
																			</text>
																			<text x="42" y="58.433333333333344" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Verdana, Arial, Helvetica, sans-serif;font-size:11px;width:205px;color:#999;line-height:14px;font-weight:bold;fill:#999;" text-anchor="end">
																				<tspan x="42">
																					90
																				</tspan>
																			</text>
																			<text x="42" y="15.1" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Verdana, Arial, Helvetica, sans-serif;font-size:11px;width:205px;color:#999;line-height:14px;font-weight:bold;fill:#999;" text-anchor="end">
																				<tspan x="42">
																					100
																				</tspan>
																			</text>
																		</g><path d="M 50 270.5 L 500 270.5" fill="none" stroke="#999" stroke-width="1" zIndex="7"></path>
																		<g class="highcharts-tooltip" zIndex="8" visibility="hidden">
																			<rect rx="5" ry="5" fill="none" x="5" y="5" width="0" height="0" stroke-width="5" isShadow="true" stroke="rgb(0, 0, 0)" stroke-opacity="0.05" transform="translate(1,1)"></rect><rect rx="5" ry="5" fill="none" x="5" y="5" width="0" height="0" stroke-width="3" isShadow="true" stroke="rgb(0, 0, 0)" stroke-opacity="0.1" transform="translate(1,1)"></rect><rect rx="5" ry="5" fill="none" x="5" y="5" width="0" height="0" stroke-width="1" isShadow="true" stroke="rgb(0, 0, 0)" stroke-opacity="0.15000000000000002" transform="translate(1,1)"></rect><rect rx="5" ry="5" fill="url(https://secure.avado.com/#highcharts-9)" x="5" y="5" width="0" height="0" stroke-width="0.000001"></rect>
																			<text x="10" y="22" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#444;padding:0;white-space:nowrap;fill:#444;" zIndex="1">
																				<tspan x="10"></tspan>
																			</text>
																		</g>
																		<g class="highcharts-tracker" zIndex="9" transform="translate(50,10)">
																			<path d="M 215.00000000000003 56.33333333333334 L 235.00000000000003 56.33333333333334" fill="none" isTracker="true" stroke-opacity="0.000001" stroke="rgb(192,192,192)" stroke-width="22" visibility="visible" zIndex="1" style=""></path><path d="M 215.00000000000003 199.33333333333334 L 235.00000000000003 199.33333333333334" fill="none" isTracker="true" stroke-opacity="0.000001" stroke="rgb(192,192,192)" stroke-width="22" visibility="visible" zIndex="1" style=""></path>
																		</g>
																	</svg>
																</div>
															</div>
														</div>
														<div id="NoChartData" style="display: none; padding: 10px; height: 180px;">
															<h4> You have no records for this tracking item</h4>
														</div>
													</div>
												</div>
											</div>
											<div style="clear:both;"></div>
											<a id="ManageDefinitions" onclick="eqw.Dialog('?tx=T73nD05ducJvtE3WxyDlVeWZewmpdl1gZiwENlWICMmdzDIaDMIxI6qE+GLwu1HH+73/rQ5oKuUnrqRel5ySdQ==',function(c){eqw.Refresh(c);},this);" style="float: right; padding-right: 5px;">Manage what I'm tracking »</a>
											<div id="ctl00_Chart1_TrackingHolder_viewBar" style="padding-left: 11px;">
												<span id="ChangeChartButtons"><a href="#" style="margin-left: 233px" onclick="changeChartType('line');"><img src="images/icons/16/083.png" border="0"></a><a href="#" style="margin-left: 5px" onclick="changeChartType('spline');"><img src="images/chart_curve.png" border="0"></a><a href="#" style="margin-left: 5px" onclick="changeChartType('scatter');"><img src="images/icons/16/083a.png" border="0"></a></span>
											</div>
											<div style="clear: both;"></div>
										</div>
									</div>
								</div>
								<div class="bottom ">
									<div style="clear:both"></div><div class="left"></div><div class="right"></div><div class="center "></div>
								</div>
							</div>
						</div>
					</div>
					<div class=" box" id="ctl00_Box2">
						<div class="top header ">
							<div class="left"></div><div class="right"></div>
							<div class="center ">
								Recent Messages
							</div>
						</div>
						<div class="b-wc">
							<div class="middle ">
								<div style="clear:both"></div><div class="left"></div>
								<div class="right">
									<div class="center">
										<div id="MessageListContainer" class="ajaxcontainer " refreshurl="?tx=4+0ucqzMH2ONPBMKvSMmpoluXxP3Dw8qe8pbe0SRd48OYWetiN1YWW0slN3ytaHQuARk7hq8/pyiIug5IVbUFCIhyyncWcnNH9zn23VBpKikaMH9AIR1kQ3qk+4nKci0z0USERMrks93EpxdOlr9lA==" style="padding-top: 10px;">
											<table style="width: 100%">
												<tbody>
													<tr>
														<td style="width: 180px; vertical-align: top;">
														<div>
															<table cellspacing="0" cellpadding="0" width="100%">
																<tbody>
																	<tr>
																		<td>
																		<div class="innerContent">
																			You have no messages in your inbox
																		</div></td>
																	</tr>
																</tbody>
															</table>
														</div></td>
														<td style="vertical-align: top;"><div id="UserInbox" class="ajaxcontainer " refreshurl=""></div></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="bottom ">
								<div style="clear:both"></div><div class="left"></div><div class="right"></div><div class="center "></div>
							</div>
						</div>
					</div>
					<div id="HomeBroadcastList" class="ajaxcontainer " refreshurl="?tx=w7m7R+hxuVb7pZyl+c+ZoxSDyJqSvvLIV0eHg8izaSSIUSrg04JwGcXVcQmACGw+2Rk5M7NDSM1n4AGEBZ6N6A==" style="padding-top: 10px;">
						<div class=" box" id="ctl00_BroadcastsList1_ctl01" style="border: none; box-shadow: none">
							<div class="top header ">
								<div class="left"></div><div class="right"></div>
								<div class="center ">
									Recent News
								</div>
							</div>
							<div class="b-wc">
								<div class="middle ">
									<div style="clear:both"></div><div class="left"></div>
									<div class="right">
										<div class="center">
											<div>
												<table cellspacing="0" cellpadding="0" width="100%">
													<tbody>
														<tr>
															<td>You have no recent news items from any of your providers</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="bottom ">
									<div style="clear:both"></div><div class="left"></div><div class="right"></div><div class="center "></div>
								</div>
							</div>
						</div>
					</div></td>
				</tr>
			</tbody>
		</table>
		<div id="footer"></div>
	</div>
</div>